.vybrat-komplekt-3 {
    padding: var(--medium-gap) 0 var(--big-gap) 0;

    h2 {
        grid-column: 1/-1;
        margin-bottom: var(--medium-gap);

        @media (min-width: rem(640)) {
            grid-column: 1/7;
        }

        @media (min-width: rem(1280)) {
            grid-column: 1/-1;
        }
    }

    &__forma {
        grid-column: 1/-1;

        @media (min-width: rem(640)) {
            grid-column: 1/7;
        }

        @media (min-width: rem(1280)) {
            grid-column: 1/5;
        }

        &-polici-konf {
            margin: var(--small-gap) 0;
        }
    }

    &__description {
        grid-column: 1/-1;

        @media (min-width: rem(640)) {
            grid-column: 7/-1;
        }

        @media (min-width: rem(1280)) {
            grid-column: 7/11;
        }
    }
}
