.header-search {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;

    &__input {
        grid-column: span 12;
        height: rem(100);
        position: relative;
        display: flex;
        align-items: center;
        font: var(--h2);

        @media (min-width: rem(640)) {
            grid-column: 2 / span 9;
            height: adaptiv_rem_size(100, 640, 200, 1920);
        }

        @media (min-width: rem(960)) {
            grid-column: 2 / span 8;
        }

        @media (min-width: rem(1920)) {
            height: adaptiv_rem_size(200, 1920);
        }

        input {
            font-weight: var(--font-bold);
            padding: 0 rem(55) rem(10) 0; //55 для небольшого запаса от кнопки
            border-bottom: var(--border-width) solid var(--gray);

            @media (min-width: rem(1920)) {
                padding: 0 adaptiv_rem_size(55, 1920) adaptiv_rem_size(10, 1920) 0;
            }
        }
    }

    &__input input.started-inputed {
        border-bottom-color: var(--black);
    }

    &__input input.started-inputed + &__input-control-icons {
        .icon--search {
            display: none;
        }
        .icon--close {
            display: flex;
        }
    }

    &__input-control-icons {
        font-size: rem(20);
        position: absolute;
        right: 0;
        justify-content: center;

        @media (min-width: rem(640)) {
            font-size: rem(15);
        }

        @media (min-width: rem(1920)) {
            font-size: adaptiv_rem_size(15, 1920);
        }

        button,
        .button {
            font-size: inherit;
        }

        .icon--search {
            color: var(--gray);

            @media (min-width: rem(640)) {
                display: none;
            }
        }

        .icon--close {
            display: none;
        }
    }

    &__close-button {
        display: none;
        font-size: rem(20);

        @media (min-width: rem(640)) {
            grid-column: 11/12;
            justify-self: end;
            display: flex;
        }

        @media (min-width: rem(1920)) {
            font-size: adaptiv_rem_size(20, 1920);
        }
    }

    &__results-wrap {
        grid-column: span 12;
        position: relative;

        @media (min-width: rem(640)) {
            grid-column: 2 / span 9;
        }

        @media (min-width: rem(960)) {
            grid-column: 2 / span 8;
        }
    }

    &__results-wrap.--open-search-results-block {
        min-height: rem(100);

        @media (min-width: rem(1920)) {
            min-height: adaptiv_rem_size(100, 1920);
        }
    }

    &__loader {
        width: 100%;
        min-height: rem(100);
        opacity: 0;
        display: none;
        position: absolute;
    }

    &__results-data {
        opacity: 0;
        display: grid;
        grid-gap: rem(10);

        @media (min-width: rem(1920)) {
            grid-gap: adaptiv_rem_size(10, 1920);
        }
    }

    &__results-any-links {
        display: none;
        color: var(--blue);
        opacity: 0;
        margin: rem(40) 0 adaptiv_rem_size(80, 320, 40, 640) 0;
        grid-template-columns: repeat(2, max-content);
        grid-column-gap: rem(40);

        @media (min-width: rem(640)) {
            margin: rem(40) 0 adaptiv_rem_size(40, 640, 95, 1920) 0;
        }

        @media (min-width: rem(1920)) {
            grid-column-gap: adaptiv_rem_size(40, 1920);
            margin: adaptiv_rem_size(40, 1920) 0 adaptiv_rem_size(95, 1920) 0;
        }

        a {
            display: inline-flex;
        }
    }

    &__fail {
        font: var(--h3);

        span {
            font: var(--h2);
        }
    }
}
