@import "./header-poster-render.scss";
@import "./header-visible-render.scss";
@import "./header-hidden-render.scss";
@import "./header-search-render.scss";
/*
*
ВЕРХУШКА САЙТА
*
*/
/*оболочка хедера*/
header {
    width: 100%;
    position: fixed;
    background-color: var(--white);
    z-index: 1; //нужно чтоб хдер при прокрутке был выше контента
    transition: transform var(--standart-anim);
}

/*оболочка хедера*/

/*корзина*/
.header_cart {
    display: flex;
    align-items: center;
    font: var(--default);
    margin-left: var(--62px);
}

.header_cart .icon_cart_mobile {
    display: none;
}

.header_cart .img_cart {
    cursor: pointer;
}

.header_cart .amount_product_in_cart {
    background: var(--blue);
    border-radius: 50%;
    color: var(--white);
    width: var(--30px);
    height: var(--30px);
    display: flex;
    justify-content: center;
    align-items: center;
    font: var(--default);
}

/*скрытая часть меню*/
.hidden_header_part {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    visibility: hidden;
    box-shadow: 0 var(--4px) var(--10px) rgba(0, 0, 0, 0.1);
}

@media (max-width: 39.9375em) {
    .hidden_header_part {
        padding: 0 var(--20px);
    }
}

/*скрытая часть меню*/

/*мобильное меню*/
.header_menu_mobile {
    display: none;
}

@media (max-width: 39.9375em) {
    .header_menu_mobile {
        padding: var(--45px) 0 var(--70px) 0;
        display: flex;
        flex-direction: column;
    }

    .header_menu_mobile .header_menu_item {
        font: var(--h2);
        padding-bottom: var(--10px);
    }

    .header_menu_mobile .header_menu_item:last-child {
        padding-bottom: 0;
    }
}

/*мобильное меню*/

/*номер в мобильной версии*/
.header_phone_mobile {
    display: none;
}

@media (max-width: 39.9375em) {
    .header_phone_mobile {
        display: flex;
        align-items: center;
        padding-bottom: var(--60px);
    }

    .header_phone_mobile a {
        padding-left: var(--22px);
        font: var(--h2);
        color: var(--blue);
    }
}

/*номер в мобильной версии*/

/*
*
ВЕРХУШКА САЙТА
*
*/
