.cart-grid {
    height: 100%;
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: var(--20);
    align-items: center;
    padding: 0 adaptiv_rem_size(20, 320, 30, 640) 0 adaptiv_rem_size(10, 320, 20, 640);

    @media (min-width: rem(640)) {
        grid-template-columns: repeat(5, 1fr);
        padding: 0 var(--50);
        grid-column-gap: var(--10);
    }
}

.cart {
    padding: 0 0 var(--10) var(--10);

    @media (min-width: rem(640)) {
        padding: var(--10) 0;
        padding-left: adaptiv_rem_size(10, 640, 0, 650);
    }

    @media (min-width: rem(1920)) {
        max-width: var(--640);
        padding-left: 0;
    }

    &__wrap {
        border: var(--border-width-bold) solid var(--blue);
        border-right: none;
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
        height: 100%;
        width: 100%;
        display: grid;
        background-color: var(--white);
        grid-template-rows: adaptiv_rem_size(50, 320, 60, 640) 1fr auto;
        position: relative;

        @media (min-width: rem(640)) {
            grid-template-rows: var(--60) 1fr auto;
        }

        &-update-loader {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: var(--popup-backdrop);
            border-radius: var(--border-radius);
            opacity: 0;
            pointer-events: none;
            z-index: 1;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        grid-column-gap: 0 !important;

        @media (min-width: rem(640)) {
            justify-content: flex-end;
            padding-right: var(--25);
        }

        &-titile {
            font: var(--h2);

            @media (min-width: rem(640)) {
                display: none;
            }
        }

        &-cart-icon {
            display: none;

            @media (min-width: rem(640)) {
                display: block;
            }
        }

        &-counter {
            display: none;
            min-width: var(--24);
            height: var(--24);
            padding: 0 var(--5);
            background: var(--blue);
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            color: var(--white);
            font: var(--small);
            opacity: 0;

            @media (min-width: rem(640)) {
                display: flex;
                min-width: adaptiv_rem_size(24, 640, 30, 1920);
                height: adaptiv_rem_size(24, 640, 30, 1920);
                margin-left: var(--4);
                margin-right: var(--25);
            }

            @media (min-width: rem(960)) {
                font: var(--default);
            }

            @media (min-width: rem(1920)) {
                min-width: var(--30);
                height: var(--30);
            }
        }
    }

    &__body {
        overflow-y: auto;
        margin-right: var(--8);
        height: auto;
        padding-right: adaptiv_rem_size(12, 320, 22, 640);
        align-items: start;
        align-content: start;

        @media (min-width: rem(640)) {
            padding-right: var(--42);
        }

        &-nothing {
            display: none; //по умолчанию показан
            grid-column: 1/-1;
            justify-self: center;
            transition: opacity var(--standart-anim);
            width: 100%;

            &-title {
                font: var(--h3);
                text-align: center;
                margin-bottom: var(--small-gap);
            }

            &-button {
                max-width: var(--300);
                margin: 0 auto;
            }
        }

        &-product {
            grid-column: 1/-1;

            &-title {
                font: var(--h3);
                margin-bottom: var(--gap);
            }

            &-delete {
                display: flex;
                align-items: center;
                position: absolute;
                opacity: 0;
                pointer-events: none;

                &-timer {
                    margin-right: var(--gap);
                    border-radius: 50%;
                    border: var(--border-width) solid var(--error-color);
                    width: var(--36);
                    height: var(--36);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &-abort-button {
                    color: var(--blue);
                }
            }

            &-quantity-price-wrap {
                grid-column: 1/-1;
                display: flex;
                align-items: center;
            }

            &-change-quantity {
                display: grid;
                grid-gap: var(--10);
                grid-template-columns: 1fr 1fr;

                button {
                    width: var(--36);
                    height: var(--36);
                    border-radius: 50%;
                    border: var(--border-width) solid var(--gray);

                    @media (any-hover: hover) {
                        &:hover {
                            background-color: var(--blue);
                            border: none;

                            &::before {
                                background-color: var(--white);
                            }
                        }
                    }
                }
            }

            &-quantity {
                font: var(--h3);
                margin-left: var(--22);

                @media (min-width: rem(640)) {
                    font: var(--default);
                }
            }

            &-prices {
                margin-left: auto;

                @media (min-width: rem(640)) {
                    display: flex;
                }

                &-old-price {
                    display: none;
                    color: var(--gray);

                    @media (min-width: rem(640)) {
                        margin-right: var(--50);
                    }
                }
                &-kit {
                    display: none;
                }
            }

            &-toggle-composition {
                color: var(--blue);
                margin-top: var(--gap);
                display: flex;

                &:before {
                    transform: rotate(90deg);
                    margin-left: var(--gap);
                    transition: transform var(--standart-anim);
                    order: 1;
                    background-color: var(--blue);
                }

                &--open {
                    &:before {
                        transform: rotate(-90deg);
                    }
                }
            }

            &-spoiler-wrap {
                &-content {
                    display: grid;
                    grid-gap: var(--10);
                    padding-top: var(--gap);
                    opacity: 0;

                    &-item {
                        display: flex;
                        align-items: center;

                        &-title {
                            margin-left: var(--gap);
                        }
                    }
                }
            }

            &:after {
                content: '';
                border-top: var(--border-width-bold) solid var(--light);
                display: block;
                margin: var(--40) 0;
            }

            &:last-child {
                margin-bottom: var(--gap);
                &:after {
                    content: none;
                }
            }

            &:nth-child(2) {
                margin-top: 20px;
            }

            &--full-kit {
                .cart__body-product-prices {
                    &-old-price {
                        display: block;
                    }
                    &-kit {
                        display: block;
                    }

                    &-parts {
                        display: none;
                    }
                }
            }

            &:not(&--single) {
                [data-decrease] {
                    @media (any-hover: hover) {
                        &:hover:before {
                            background-color: var(--white);
                            border: none;
                        }
                    }

                    &:before {
                        @include icon-element-base-style-mixin;
                        @include icon--minus-mixin;
                    }
                }
            }

            &--single {
                [data-decrease] {
                    @media (any-hover: hover) {
                        &:hover {
                            background-color: var(--error-color);
                            border: none;

                            &:before {
                                background-color: var(--white);
                                border: none;
                            }
                        }
                    }

                    &:before {
                        @include icon-element-base-style-mixin;
                        @include icon--plusik-mixin;
                        transform: rotate(45deg);
                    }
                }
            }
        }

        &--empty-cart {
            align-content: center;

            .cart__body-nothing {
                display: block;
            }
        }
    }

    &__footer {
        border-top: var(--border-width-bold) solid var(--blue);
        padding-top: var(--small-gap) !important;
        padding-bottom: var(--small-gap) !important;
        align-items: start;

        @media (min-width: rem(640)) {
            grid-row-gap: var(--37);
            align-items: center;
        }

        &-final-price {
            grid-column: 1/-1;
            margin-bottom: var(--small-gap);
            display: flex;
            justify-content: space-between;

            @media (min-width: rem(640)) {
                display: block;
                margin-bottom: 0;
                grid-column: 1/3;
            }

            &-value {
                font: var(--h3);

                @media (min-width: rem(640)) {
                    margin-top: var(--5);
                }
            }
        }

        &-design-order {
            grid-column: 1/-1;

            @media (min-width: rem(640)) {
                grid-column: 3/-1;
                max-width: none;
            }
        }
    }
}

#cart-overlay {
    z-index: 19;
}
