.header-poster {
    z-index: 10;
    background-color: var(--white);
    position: relative;

    &__item--mobile {
        @media (min-width: rem(640)) {
            display: none;
        }
    }

    &__item--tablet {
        display: none;

        @media (min-width: rem(640)) and (max-width: rem(959)) {
            display: block;
        }
    }

    &__item--desktop {
        display: none;

        @media (min-width: rem(960)) {
            display: block;
        }
    }

    &__close {
        height: 100%;
        position: absolute;
        right: rem(10);
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity var(--standart-anim);

        @media (min-width: rem(640)) {
            right: adaptiv_rem_size(15, 640, 20, 960);
        }

        @media (min-width: rem(960)) {
            font-size: rem(12);
            right: rem(20);
        }

        @media (min-width: rem(1920)) {
            font-size: adaptiv_rem_size(12, 1920);
            right: adaptiv_rem_size(20, 1920);
        }

        button {
            width: rem(50);
            height: rem(50);
            max-height: 100%;
            font-size: rem(20);
            display: flex;
            justify-content: center;
            align-items: center;

            @media (min-width: rem(1920)) {
                font-size: adaptiv_rem_size(20, 1920);
                width: adaptiv_rem_size(50, 1920);
                height: adaptiv_rem_size(50, 1920);
            }
        }

        .icon-close {
            @media (min-width: rem(960)) {
                display: none;
            }
        }

        .icon-close_bold {
            display: none;

            @media (min-width: rem(960)) {
                display: block;
            }
        }
    }
}
