[class*='--open-header-hidden'] .burger {
    &__line-1 {
        opacity: 0;
    }

    &__line-2 {
        transform: rotate(45deg);
    }

    &__line-3 {
        transform: rotate(-45deg);
    }

    &__line-4 {
        opacity: 0;
    }
}
