.header-search {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;

    &__input {
        grid-column: span 12;
        height: var(--100);
        position: relative;
        display: flex;
        align-items: center;
        font: var(--h2);

        @media (min-width: rem(640)) {
            grid-column: 2 / span 9;
            height: adaptiv_rem_size(100, 640, 200, 1920);
        }

        @media (min-width: rem(960)) {
            grid-column: 2 / span 8;
        }

        @media (min-width: rem(1920)) {
            height: var(--200);
        }

        input {
            font-weight: var(--font-bold);
            padding: 0 var(--55) var(--10) 0; //55 для небольшого запаса от кнопки
            border-bottom: var(--border-width) solid var(--gray);
        }
    }

    &__input input.started-inputed {
        border-bottom-color: var(--black);
    }

    &__input input.started-inputed + &__input-control-icons {
        div {
            display: none;
        }
        button {
            display: flex;
        }
    }

    &__input-control-icons {
        position: absolute;
        right: 0;
        justify-content: center;

        div {
            &:before {
                background-color: var(--gray);
            }

            @media (min-width: rem(640)) {
                display: none;
            }
        }

        button {
            display: none;

            &:before {
                width: var(--15);
                height: var(--15);
            }
        }
    }

    &__close-button {
        display: none;

        @media (min-width: rem(640)) {
            grid-column: 11/12;
            justify-self: end;
            display: flex;
        }
    }

    &__results-wrap {
        grid-column: span 12;
        position: relative;

        @media (min-width: rem(640)) {
            grid-column: 2 / span 9;
        }

        @media (min-width: rem(960)) {
            grid-column: 2 / span 8;
        }
    }

    &__results-wrap.--open-search-results-block {
        min-height: var(--100);
    }

    &__loader {
        width: 100%;
        min-height: var(--100);
        opacity: 0;
        display: none;
        position: absolute;
    }

    &__results-data {
        opacity: 0;
        display: grid;
        grid-gap: var(--10);
    }

    &__results-any-links {
        display: none;
        flex-wrap: wrap;
        color: var(--blue);
        opacity: 0;
        margin: var(--40) 0 adaptiv_rem_size(80, 320, 40, 640) 0;

        @media (min-width: rem(640)) {
            margin: var(--40) 0 adaptiv_rem_size(40, 640, 95, 1920) 0;
        }

        @media (min-width: rem(1920)) {
            margin: var(--40) 0 var(--95) 0;
        }

        a,
        span[title='Вы тут!'] {
            width: 100%;

            @media (min-width: rem(640)) {
                width: auto;
            }

            &:first-child {
                margin-right: var(--40);
            }
        }
    }

    &__fail {
        font: var(--h3);

        span {
            font: var(--h2);
        }
    }
}
