@import './header-poster-render.scss';
@import './header-visible-render.scss';
@import './header-hidden-render.scss';
@import './header-search-render.scss';

/*оболочка хедера*/
header {
 
    width: 100%;
    position: fixed;
    background-color: var(--white);
    z-index: map-get($z-index, header); //нужно чтоб хдер при прокрутке был выше контента
    overflow: hidden;
    scrollbar-gutter: auto !important;
}

header.--open-header-hidden {
    overflow: hidden auto;
}

@media (any-hover: hover) and (any-pointer: fine) {
    //для браузеров с поддержкой наложения скролбара
    @supports (overflow: overlay) {
        header.--open-header-hidden {
            scrollbar-gutter: stable !important;
            overflow: hidden overlay;
        }
    }
}
/*оболочка хедера*/

#header-overlay {
    position: fixed;
    display: none;
    inset: 0;
    opacity: 0;
    background-color: var(--white);
    z-index: map-get($z-index, header-overlay);//лучше привязать всё на переменные для удобства
}
