.header-search {
    @media (min-width: rem(640)) {
        margin: auto;
        width: 75%;
        padding: rem(30) 0;
    }

    &__input {
        position: relative;
        display: flex;
        justify-content: space-between;
        font: var(--h2);

        input {
            width: 100%;
            font-weight: var(--font-bold);
            padding-bottom: rem(10);
            padding-right: rem(34);
            border: none;
            border-bottom: rem(1) solid var(--gray);

            @media (min-width: rem(640)) {
                padding-right: 0;
                width: 89.583%;
            }

            @media not (pointer: none) {
                outline: none;
            }
        }
    }

    &__input input.started-inputed {
        border-bottom: rem(1) solid var(--black);
    }

    &__input input.started-inputed + &__input-control-icons {
        .icon-search {
            display: none;
        }
        .icon-close {
            display: block;
        }
    }

    &__input-control-icons {
        width: rem(50);
        height: rem(50);
        font-size: rem(20);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: -#{rem(10)};
        top: 50%;
        transform: translateY(-50%);

        @media (min-width: rem(640)) {
            position: relative;
            right: -#{rem(15)};
            top: 0;
            transform: none;
        }

        .icon-search {
            color: var(--gray);

            @media (min-width: rem(640)) {
                display: none;
            }
        }

        .icon-close {
            display: none;
            color: revert;

            @media (min-width: rem(640)) {
                display: block;
            }
        }
    }

    &__results-wrap {
        display: none;
    }

    &__loader {
    }

    &__results-data {
    }

    &__results-any-links {
    }
}
