.header-hidden {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: var(--white);
    box-shadow: 0 rem(4) rem(10) rgba(0, 0, 0, 0.1);
    z-index: map-get($z-index, header-hidden);
    padding: 0 rem(20);

    @media (min-width: rem(640)) {
        padding: 0;
    }

    &__search {
    }

    &__menu {
        padding: rem(30) 0 rem(60) 0;
        font: var(--h2);

        @media (min-width: rem(640)) {
            display: none;
        }

        li {
            padding-bottom: rem(10);
        }

        li:last-child {
            padding-bottom: 0;
        }

        a {
            line-height: rem(40); //добавил своё значение не из макета чтоб сслыки были лучше отделены друго от друга
            display: inline-flex;
        }
    }

    &__phone {
        padding-bottom: rem(50);

        @media (min-width: rem(640)) {
            display: none;
        }

        a {
            height: rem(50); //нет в макете , добавил для удобства
            display: inline-flex;
            align-items: center;
        }

        .icon--phone {
            font-size: rem(15);
            padding-right: rem(17);
        }

        span {
            font: var(--h2);
            color: var(--blue);
        }
    }
}
