.--open-header-hidden .header-hidden {
    display: block;
}

.header-hidden {
    display: none;
    position: absolute;
    bottom: 0;
    background-color: var(--white);
    z-index: 1;
    width: 100%;

    .standart-container {
        display: block;
    }

    &__search {
    }

    &__menu {
        padding: rem(40) 0 rem(70) 0;

        font: var(--h2);

        @media (min-width: rem(640)) {
            display: none;
        }

        ul {
            display: grid;
            grid-row-gap: rem(10);
        }
    }

    &__phone {
        padding-bottom: rem(60);

        @media (min-width: rem(640)) {
            display: none;
        }

        .icon--phone {
            font-size: rem(15);
            margin-right: rem(17);
        }

        span {
            font: var(--h2);
            color: var(--blue);
        }
    }
}
