@import './header-poster-render.scss';
@import './header-visible-render.scss';
@import './header-hidden-render.scss';
@import './header-search-render.scss';
@import './header-cart-render.scss';

/*оболочка хедера*/
header {
    width: 100%;
    position: fixed;
    background-color: var(--white);
    z-index: map-get($z-index, header); //нужно чтоб хдер при прокрутке был выше контента
}

header.--open-header-hidden {
    overflow: hidden auto;
    box-shadow: 0 rem(10) rem(10) rgba(0, 0, 0, 0.1);

    @media (min-width: rem(1920)) {
        box-shadow: 0 adaptiv_rem_size(10, 1920) adaptiv_rem_size(10, 1920) rgba(0, 0, 0, 0.1);
    }
}
/*оболочка хедера*/

#header-overlay {
    z-index: map-get($z-index, header-overlay); //лучше привязать всё на переменные для удобства
}
