.cart-grid {
    height: 100%;
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: rem(20);
    align-items: center;
    padding: 0 adaptiv_rem_size(20, 320, 30, 640) 0 adaptiv_rem_size(10, 320, 20, 640);

    @media (min-width: rem(640)) {
        grid-template-columns: repeat(5, 1fr);
        padding: 0 rem(50);
        grid-column-gap: var(--gap-10);
    }

    @media (min-width: rem(1920)) {
        padding: 0 adaptiv_rem_size(50, 1920);
    }
}

.cart {
    padding: 0 0 rem(10) rem(10);

    @media (min-width: rem(640)) {
        padding: rem(10) 0;
        padding-left: adaptiv_rem_size(10, 640, 0, 650);
    }

    @media (min-width: rem(1920)) {
        max-width: adaptiv_rem_size(640, 1920);
        padding: adaptiv_rem_size(10, 1920) 0;
    }

    &__wrap {
        border: var(--border-width-bold) solid var(--blue);
        border-right: none;
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
        height: 100%;
        width: 100%;
        display: grid;
        background-color: var(--white);
        grid-template-rows: adaptiv_rem_size(50, 320, 60, 640) 1fr auto;
        position: relative;

        @media (min-width: rem(640)) {
            grid-template-rows: rem(60) 1fr auto;
        }

        @media (min-width: rem(1920)) {
            grid-template-rows: adaptiv_rem_size(60, 1920) 1fr auto;
        }

        &-update-loader {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: var(--popup-backdrop);
            border-radius: var(--border-radius);
            opacity: 0;
            pointer-events: none;
            z-index: 1;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        grid-column-gap: 0 !important;

        @media (min-width: rem(640)) {
            justify-content: flex-end;
            padding-right: rem(25);
        }

        @media (min-width: rem(1920)) {
            padding-right: adaptiv_rem_size(25, 1920);
        }

        &-titile {
            font: var(--h2);

            @media (min-width: rem(640)) {
                display: none;
            }
        }

        &-cart-icon {
            display: none;

            @media (min-width: rem(640)) {
                display: block;
                font-size: rem(22);
            }

            @media (min-width: rem(1920)) {
                font-size: adaptiv_rem_size(22, 1920);
            }
        }

        &-counter {
            display: none;
            min-width: rem(24);
            height: rem(24);
            padding: 0 rem(5);
            background: var(--blue);
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            color: var(--white);
            font: var(--small);
            opacity: 0;

            @media (min-width: rem(640)) {
                display: flex;
                min-width: adaptiv_rem_size(24, 640, 30, 1920);
                height: adaptiv_rem_size(24, 640, 30, 1920);
                margin-left: rem(4);
                margin-right: rem(25);
            }

            @media (min-width: rem(960)) {
                font: var(--default);
            }

            @media (min-width: rem(1920)) {
                min-width: adaptiv_rem_size(30, 1920);
                height: adaptiv_rem_size(30, 1920);
                padding: 0 adaptiv_rem_size(5, 1920);
                margin-right: adaptiv_rem_size(25, 1920);
                margin-left: adaptiv_rem_size(4, 1920);
            }
        }

        &-close-button {
            font-size: rem(20);

            @media (min-width: rem(1920)) {
                font-size: adaptiv_rem_size(20, 1920);
            }
        }
    }

    &__body {
        overflow-y: auto;
        margin-right: rem(8);
        height: auto;
        padding-right: adaptiv_rem_size(12, 320, 22, 640);
        align-items: start;
        align-content: start;

        @media (min-width: rem(640)) {
            padding-right: rem(42);
        }

        @media (min-width: rem(1920)) {
            margin-right: adaptiv_rem_size(8, 1920);
            padding-right: adaptiv_rem_size(42, 1920);
        }

        &-nothing {
            display: none; //по умолчанию показан
            grid-column: 1/-1;
            justify-self: center;
            transition: opacity var(--standart-anim);

            &-title {
                font: var(--h3);
                text-align: center;
                margin-bottom: var(--small-gap);
            }

            &-button {
                max-width: rem(300);

                @media (min-width: rem(1920)) {
                    max-width: adaptiv_rem_size(300, 1920);
                }
            }
        }

        &-product {
            grid-column: 1/-1;

            &-title {
                font: var(--h3);
                margin-bottom: var(--gap);

                &:before {
                    content: 'Комплект частичной защиты Brontero® ';
                }
            }

            &-delete {
                display: flex;
                align-items: center;
                position: absolute;
                opacity: 0;
                pointer-events: none;

                &-timer {
                    margin-right: var(--gap);
                    border-radius: 50%;
                    border: var(--border-width) solid var(--error);
                    width: rem(36);
                    height: rem(36);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &-abort-button {
                    color: var(--blue);
                }
            }

            &-quantity-price-wrap {
                grid-column: 1/-1;
                display: flex;
                align-items: center;
            }

            &-change-quantity {
                display: grid;
                grid-gap: var(--gap-10);
                grid-template-columns: 1fr 1fr;

                button {
                    width: rem(36);
                    height: rem(36);
                    border-radius: 50%;
                    border: var(--border-width) solid var(--gray);
                    font-size: rem(14);

                    @media (min-width: rem(1920)) {
                        font-size: adaptiv_rem_size(14, 1920);
                        width: adaptiv_rem_size(36, 1920);
                        height: adaptiv_rem_size(36, 1920);
                    }

                    @media (any-hover: hover) {
                        &:hover {
                            background-color: var(--blue);
                            color: var(--white);
                            border: none;
                        }
                    }
                }

                [data-decrease] {
                    font-family: 'icon-font';
                    speak: never;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    font-size: rem(2);

                    @media (min-width: rem(1920)) {
                        font-size: adaptiv_rem_size(2, 1920);
                    }

                    &:after {
                        content: '\e911';
                    }
                }
            }

            &-quantity {
                font: var(--h3);
                margin-left: rem(22);

                @media (min-width: rem(640)) {
                    font: var(--default);
                }

                &:after {
                    content: ' шт';
                }
            }

            &-prices {
                margin-left: auto;

                @media (min-width: rem(640)) {
                    display: flex;
                }

                &-old-price {
                    display: none;
                    color: var(--gray);

                    @media (min-width: rem(640)) {
                        margin-right: rem(50);
                    }

                    @media (min-width: rem(1920)) {
                        grid-gap: adaptiv_rem_size(50, 1920);
                    }
                }
                &-kit {
                    display: none;
                }
            }

            &-toggle-composition {
                color: var(--blue);
                margin-top: var(--gap);

                &:after {
                    content: '\e90c';
                    font-family: 'icon-font';
                    speak: never;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    font-size: rem(12);
                    transform: rotate(90deg);
                    display: inline-block;
                    margin-left: var(--gap);
                    transition: transform var(--standart-anim);

                    @media (min-width: rem(1920)) {
                        font-size: adaptiv_rem_size(12, 1920);
                    }
                }

                &--open {
                    &:after {
                        transform: rotate(-90deg);
                    }
                }
            }

            &-spoiler-wrap {
                &-content {
                    display: grid;
                    grid-gap: var(--gap-10);
                    padding-top: var(--gap);
                    opacity: 0;

                    &-item {
                        display: flex;
                        align-items: center;

                        &-title {
                            margin-left: var(--gap);
                        }
                    }
                }
            }

            &:after {
                content: '';
                border-top: var(--border-width-bold) solid var(--light);
                display: block;
                margin: rem(40) 0;

                @media (min-width: rem(1920)) {
                    margin: adaptiv_rem_size(40, 1920) 0;
                }
            }

            &:last-child {
                margin-bottom: var(--gap);
                &:after {
                    content: none;
                }
            }

            &:nth-child(2) {
                margin-top: 20px;
            }

            &--full-kit {
                .cart__body-product-title {
                    &:before {
                        content: 'Полный комплект защиты Brontero® ';
                    }
                }

                .cart__body-product-prices {
                    &-old-price {
                        display: block;
                    }
                    &-kit {
                        display: block;
                    }

                    &-parts {
                        display: none;
                    }
                }
            }

            &--single {
                [data-decrease] {
                    font-size: rem(14);

                    @media (min-width: rem(1920)) {
                        font-size: adaptiv_rem_size(14, 1920);
                    }

                    @media (any-hover: hover) {
                        &:hover {
                            background-color: var(--error);
                            color: var(--white);
                            border: none;
                        }
                    }

                    &:after {
                        content: '\e910';
                        transform: rotate(45deg);
                    }
                }
            }
        }

        &--empty-cart {
            align-content: center;

            .cart__body-nothing {
                display: block;
            }
        }
    }

    &__footer {
        border-top: var(--border-width-bold) solid var(--blue);
        padding-top: var(--small-gap) !important;
        padding-bottom: var(--small-gap) !important;
        align-items: start;

        @media (min-width: rem(640)) {
            grid-row-gap: rem(37);
            align-items: center;
        }

        @media (min-width: rem(1920)) {
            grid-row-gap: adaptiv_rem_size(37, 1920);
        }

        &-final-price {
            grid-column: 1/-1;
            margin-bottom: var(--small-gap);
            display: flex;
            justify-content: space-between;

            @media (min-width: rem(640)) {
                display: block;
                margin-bottom: 0;
                grid-column: 1/3;
            }

            &-value {
                font: var(--h3);

                @media (min-width: rem(640)) {
                    margin-top: rem(5);
                }

                @media (min-width: rem(1920)) {
                    margin-top: adaptiv_rem_size(5, 1920);
                }
            }
        }

        &-design-order {
            grid-column: 1/-1;

            @media (min-width: rem(640)) {
                grid-column: 3/-1;
                max-width: none;
            }
        }
    }
}

#cart-overlay {
    z-index: 19;
}
