.header-visible {
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    grid-column-gap: 0; //нужно для переопределения стилей standart-container
    min-height: var(--60);
    position: relative;
    background-color: var(--white);
    max-width: none !important; //нужно чтоб переопределить после групировки медиазапросов

    @media (min-width: rem(640)) {
        min-height: var(--100);
    }

    @media (min-width: rem(960)) {
        min-height: var(--80);
    }

    @media (min-width: rem(1180)) {
        //сброс стандартного контейнера и растягивание на всю ширину
        width: calc(100% - adaptiv_rem_size(30, 1180, 50, 1920) * 2) !important; //нужно чтоб переопределить после групировки медиазапросов
        margin: 0 adaptiv_rem_size(30, 1180, 50, 1920) !important; //нужно чтоб переопределить после групировки медиазапросов
    }

    @media (min-width: rem(1920)) {
        min-height: var(--80);
        width: calc(100% - var(--50) * 2) !important; //нужно чтоб переопределить после групировки медиазапросов
        margin: 0 var(--50) !important; //нужно чтоб переопределить после групировки медиазапросов
    }

    &__logo {
        margin-right: auto;
        width: var(--110);

        @media (min-width: rem(640)) {
            width: adaptiv_rem_size(130, 640, 120, 1920);
        }

        @media (min-width: rem(1920)) {
            width: var(--120);
        }
    }

    &__search-button {
        display: none;

        @media (min-width: rem(640)) {
            display: flex;
            margin-right: adaptiv_rem_size(20, 640, 25, 960);
        }

        @media (min-width: rem(960)) {
            margin-right: var(--25);
        }

        &:before {
            @include icon-element-base-style-mixin;
            @include icon--search-bold-mixin;

            @media (min-width: rem(960)) {
                @include icon--search-mixin;
            }
        }
    }

    &__menu {
        display: none;

        @media (min-width: rem(640)) {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            order: 1;
        }

        //для переноса меню
        @media (min-width: rem(1150)) {
            width: auto;
            display: block; //нужно менять иначе в фаерфоксе поочему-то едет меню
            order: 0;
            margin-right: var(--40);
        }
        //для переноса меню

        ul {
            @media (min-width: rem(640)) {
                grid-column: 2 / span 10;
                display: grid;
                grid-template-columns: repeat(4, max-content); //4 - количество пунктов меню
                grid-gap: adaptiv_rem_size(30, 640, 40, 1920);
                justify-content: space-between;
            }

            //для переноса меню
            @media (min-width: rem(1150)) {
                grid-column: span 12;
            }
            //для переноса меню

            @media (min-width: rem(1920)) {
                grid-gap: var(--40);
            }

            li {
                a,
                span[title='Вы тут!'] {
                    min-width: auto; //нужно чтоб если текст в пункте меню будет маленький блок не растягивался
                }
            }
        }
    }

    &__phone {
        display: none;

        @media (min-width: rem(640)) {
            display: flex;
            color: var(--blue);
            margin-right: var(--50);
        }

        @media (min-width: rem(1920)) {
            margin-right: var(--60);
        }
    }

    &__cart-button {
        cursor: pointer;

        &:before {
            @include icon-element-base-style-mixin;
            @include icon--cart-bold-mixin;

            @media (min-width: rem(960)) {
                @include icon--cart-mixin;
            }
        }
    }

    &__cart-counter {
        min-width: var(--24);
        height: var(--24);
        padding: 0 var(--5);
        background: var(--blue);
        border-radius: 50%;
        display: flex;
        opacity: 0;
        align-items: center;
        justify-content: center;
        color: var(--white);
        font: var(--small);
        margin-left: var(--1);

        @media (min-width: rem(640)) {
            min-width: adaptiv_rem_size(24, 640, 30, 1920);
            height: adaptiv_rem_size(24, 640, 30, 1920);
            margin-left: var(--4);
        }

        @media (min-width: rem(960)) {
            font: var(--default);
        }

        @media (min-width: rem(1920)) {
            min-width: var(--30);
            height: var(--30);
        }
    }

    &__animation-cart-increase {
        font: var(--h3);
        position: absolute;
        right: 0;
        top: 100%;
        padding-right: var(--10);
        opacity: 0;

        @media (min-width: rem(640)) {
            top: 200%;
        }


        &[data-init-anim] {
            animation: linear 1s increase_cart_counter;
        }
    }

    &__burger-button {
        margin-left: var(--20);

        @media (min-width: rem(640)) {
            display: none;
        }
    }
}

.burger {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &__body {
        width: var(--30);
        height: var(--30);
        padding: var(--4) var(--3);
        position: relative;
    }

    [class^='burger__line'] {
        border-top: var(--border-width-bold) solid var(--black);
        width: calc(100% - var(--6));
        position: absolute;
        transition: transform var(--standart-anim);
    }

    &__line-1 {
        top: var(--4);
    }

    &__line-2 {
        top: var(--14);
    }

    &__line-3 {
        top: var(--14);
    }

    &__line-4 {
        bottom: var(--4);
    }
}

@keyframes increase_cart_counter {
    40% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        top: 40%;
    }
}

@media (min-width: rem(640)) {
    @keyframes increase_cart_counter {
        40% {
            opacity: 1;
        }

        80% {
            opacity: 0;
        }

        100% {
            opacity: 0;
            top: 0;
        }
    }
}
