/*окно с инпутом для воода*/
.search_wrapper {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding-top: var(--80px);
    padding-bottom: var(--60px);
}

@media (max-width: 79.9375em) {
    .search_wrapper {
        padding-top: var(--40px);
        padding-bottom: var(--30px);
    }
}

@media (max-width: 59.9375em) {
    .search_wrapper {
        padding-top: var(--26px);
        padding-bottom: var(--23px);
    }
}

@media (max-width: 39.9375em) {
    .search_wrapper {
        padding: var(--30px) 0;
    }
}

/*окно с инпутом для воода*/

/*кнопка крестик закрытия окна поиска*/
.search_wrapper .mobile_search_glas {
    display: none;
}

.search_wrapper .close_search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: opacity var(--standart-anim);
    margin: 0 var(--5px) var(--20px) 0;
    padding: 0;
}

@media (max-width: 39.9375em) {
    .search_wrapper .close_search {
        display: none;
        position: absolute;
        right: 0;
        margin: 0 var(--5px) var(--10px) 0;
        padding: 0;
    }

    .search_wrapper .mobile_search_glas {
        display: block;
        position: absolute;
        filter: invert(77%) sepia(13%) saturate(12%) hue-rotate(351deg) brightness(78%) contrast(86%);
        right: 0;
        padding: 0 var(--5px) var(--10px) 0;
    }

    input.nachat_vvod~.close_search {
        display: block;
        width: var(--20px);
    }

    input.nachat_vvod~.mobile_search_glas {
        display: none;
    }
}

/*кнопка крестик закрытия окна поиска*/

/*поле ввода*/
.search_wrapper input {
    border: none;
    outline: none;
    border-bottom: var(--2px) solid var(--gray);
    font: var(--h2);
    color: var(--gray);
    padding: 0 0 var(--20px) 0;
    transition: border-bottom-color var(--standart-anim), color var(--standart-anim);
}

.search_wrapper input.nachat_vvod {
    border-bottom: var(--2px) solid var(--black);
    color: var(--black);
}

@media (max-width: 39.9375em) {
    .search_wrapper input {
        padding: 0 var(--30px) var(--10px) 0;
    }
}

/*поле ввода*/

/*окно с результатами поиска*/
.search_results {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: var(--white);
}

.search_loader {
    display: none;
    position: absolute;
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: var(--50px);
    height: var(--50px);
}

.results_wrapper {
    margin-right: auto;
    padding: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.result_item {
    margin-bottom: var(--10px);
    display: flex;
}

.result_item:nth-last-child(-n+2) {
    margin-bottom: 0;
}

.search_results_links {
    display: flex;
    padding-top: var(--40px);
    padding-bottom: var(--50px);
    font: var(--small);
    color: var(--blue);
}

.search_results_links a:first-child {
    padding-right: var(--40px);
}

.search_fail {
    font: var(--h2);
}

@media (max-width: 39.9375em) {
    .search_results {
        padding: 0;
    }
}

/*окно с результатами поиска*/