.header-poster {
    width: 100%;
    position: relative;
    z-index: 2;
    background-color: var(--white);

    &__img--mobile {
        @media (min-width: rem(640)) {
            display: none;
        }
    }

    &__img--tablet {
        display: none;

        @media (min-width: rem(640)) {
            display: block;
        }

        @media (min-width: rem(960)) {
            display: none;
        }
    }

    &__img--desktop {
        display: none;

        @media (min-width: rem(960)) {
            display: block;
        }
    }

    &__close {
        position: absolute;
        top: 0;
        height: 100%;
        max-width: none !important; //нужно чтоб переопределить после групировки медиазапросов
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @media (min-width: rem(1240)) {
            padding-right: var(--30);
        }

        button {
            &:before {
                @include icon-element-base-style-mixin;
                @include icon--close-bold-mixin;

                @media (min-width: rem(960)) {
                    @include icon--close-mixin;
                }
            }
        }
    }
}
