</main>
<!-- <footer class="col-12 plr-0">
    <div class="standart-container footer_wraper flex">
        <div class="footer_item flex col-12 col-640-4">
            <nav class="menu_footer col-7 col-640-12">
                <div class="menu_footer_link">
                    <a href="#">Выбрать комплект</a>
                </div>
                <div class="menu_footer_link">
                    <a href="#">Инструкции</a>
                </div>
                <div class="menu_footer_link">
                    <a href="#">Доставка и оплата</a>
                </div>
                <div class="menu_footer_link">
                    <a href="#">О нас</a>
                </div>
                <div class="menu_footer_link">
                    <a href="#">Корзина</a>
                </div>
            </nav>
            <div class="logo_footer col-7 col-960-6">
                <a href="#">
                    <div class="img_wrapper" data-img-type="img" style="padding-top:16.95%;">
                        <img data-src="~@img/footer/logo_footer.svg"
                             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                             alt="">
                    </div>
                </a>
            </div>
        </div>
        <div class="footer_item flex col-12 col-640-4">
            <div class="select_model_page flex col-12">
                <div class="select_model_column col-6 col-640-12 col-960-5">
                    <div><a href="#">Lada Vesta</a></div>
                    <div><a href="#">Nissan Qashqai</a></div>
                    <div><a href="#">Nissan Terrano</a></div>
                    <div><a href="#">Nissan X-Trail</a></div>
                    <div><a href="#">Volkswagen Polo</a></div>
                    <div><a href="#">Haval F7</a></div>
                </div>
                <div class="select_model_column col-6 col-640-12 col-960-5">
                    <div><a href="#">Hyundai Santa Fe</a></div>
                    <div><a href="#">Hyundai Solaris</a></div>
                    <div><a href="#">Kia Rio</a></div>
                    <div><a href="#">Lada Largus</a></div>
                    <div><a href="#">Lada Granta</a></div>
                    <div><a href="#">Все модели</a></div>
                </div>
            </div>
            <div class="social_footer flex col-12 col-640-8 col-960-10">
                <div class="img_social col-2 col-640-4 col-960-2">
                    <a href="#">
                        <div class="icon-instagram"></div>
                    </a>
                </div>
                <div class="img_social col-2 col-640-4 col-960-2">
                    <a href="#">
                        <div class="icon-vk"></div>
                    </a>
                </div>
                <div class="img_social col-2 col-640-4 col-960-2">
                    <a href="#">
                        <div class="img_wrapper" data-img-type="img" style="padding-top:100%;">
                            <img data-src="~@img/footer/ok.svg"
                                 src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                 alt="">
                        </div>
                    </a>
                </div>
                <div class="img_social col-2 col-640-4 col-960-2">
                    <a href="#">
                        <div class="img_wrapper" data-img-type="img" style="padding-top:100%;">
                            <img data-src="~@img/footer/facebook.svg"
                                 src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                 alt="">
                        </div>
                    </a>
                </div>
                <div class="img_social col-2 col-640-4 col-960-2">
                    <a href="#">
                        <div class="img_wrapper" data-img-type="img" style="padding-top:100%;">
                            <img data-src="~@img/footer/telegram.svg"
                                 src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                 alt="">
                        </div>
                    </a>
                </div>
                <div class="img_social col-2 col-640-4 col-960-2">
                    <a href="#">
                        <div class="img_wrapper" data-img-type="img" style="padding-top:100%;">
                            <img data-src="~@img/footer/whatsapp.svg"
                                 src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                 alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer_item flex col-12 col-640-4">
            <div class="info_footer col-12">
                <div class="phone_footer">
                    <a href="tel:+88000000000">8 (800) 000-00-00</a>
                </div>
                <div class="mail">
                    <a href="mailto:info@brontec.ru">info@brontec.ru</a>
                </div>
                <div class="organization_footer_info">ООО «Бронтер» <br> Екатеринбург, Московская, стр. 214а <br> ИНН
                    6671148937, ОГРН 1216600014839</div>
                <div class="politica_konf">
                    <a href="#">Политика конфиденциальности</a>
                </div>
            </div>
            <div class="flex col-12">
                <div class="payment_sistem_img col-2">
                    <div class="img_wrapper" data-img-type="img" style="padding-top:100%;">
                        <img data-src="~@img/footer/payment_mir.svg"
                             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                             alt="">
                    </div>
                </div>
                <div class="payment_sistem_img col-2">
                    <div class="img_wrapper" data-img-type="img" style="padding-top:100%;">
                        <img data-src="~@img/footer/payment_mastercard.svg"
                             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                             alt="">
                    </div>
                </div>
                <div class="payment_sistem_img col-2">
                    <div class="img_wrapper" data-img-type="img" style="padding-top:100%;">
                        <img data-src="~@img/footer/payment_visa.svg"
                             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="foter_decoration">
        <div class="top_line"></div>
        <div class="bottom_line"></div>
        <div class="left_line"></div>
        <div class="right_line"></div>
        <div class="top_circle"></div>
        <div class="bottom_circle"></div>
    </div>
</footer> -->
<%- include('./../../blocks/scroll-to-top-button/scroll-to-top-button.ejs')%>
<%- include('./../../blocks/pop-up-messages/pop-up-messages.ejs')%>

<script>
    /*подключаем при необходимости полифилы, а после их загрузки подключаем основной скрипт*/
  (async () => {
    let d = document,
      w = window;
    /*данные о полифилах и их процессе загрузки*/
    GDS.polyfills = [{
        name: "IntersectionObserver",
        /*имя файла скрипта полифила*/
        nead_include: !('IntersectionObserver' in w) ||
          !('IntersectionObserverEntry' in w) ||
          !('intersectionRatio' in w.IntersectionObserverEntry.prototype) ||
          !('isIntersecting' in w.IntersectionObserverEntry.prototype),
        /*если условие true то полифил будет загружен*/
      },
      {
        name: "AbortController",
        nead_include: (typeof w.Request === 'function' && !w.Request.prototype.hasOwnProperty('signal')) || !w.AbortController,
      }
    ];

    let load_promise_list = [],
      /*будет сохранять примис загрузки для каждого нужного скрипта полифила и как только все промисы выполняться, т.е. все скрипты полифилов будут загружены мы начнём грузить основной скрипт*/
      wrap = d.createDocumentFragment(),
      body = d.body;

    GDS.polyfills.forEach(item => {
      if (!item.nead_include) return; /*если полифил не нужен*/

      let s = d.createElement("script");

      load_promise_list.push(new Promise(resolve => s.onload = () => resolve()));

      s.src = `http://localhost:3579/${item.name}.js`;

      wrap.append(s);
    });

    body.append(wrap);

    await Promise.all(load_promise_list); /*ждём загрузки всех полифилов*/

    /*после загрузки всех необходимых полифилов можно загружать основыне скрипты для сайта*/
    let main_s = d.createElement("script");
    main_s.src = "http://localhost:3579/main.js";

    body.append(main_s);
  })();
</script>
</body>

</html>