<div class="info-box-plenka">
    <div class="info-box-plenka-box">
      <div class="info-box-plenka-box-title">Прочность на разрыв</div>
      <div class="info-box-plenka-box-content">200 кг/м²</div>
    </div>
    <div class="info-box-plenka-box">
      <div class="info-box-plenka-box-title">Диапазон температур</div>
      <div class="info-box-plenka-box-content">−60°...+80°C</div>
    </div>
    <div class="info-box-plenka-box">
      <div class="info-box-plenka-box-title">Устойчива к воздействиям</div>
      <div class="info-box-plenka-box-content">UV / NaCl</div>
    </div>
    <div class="info-box-plenka-box">
      <div class="info-box-plenka-box-title">Гарантия производителя</div>
      <div class="info-box-plenka-box-content">8 лет</div>
    </div>
  </div>