.vybrat-komplekt-1-selector {
    h2 {
        margin-bottom: var(--medium-gap);
    }
}

.select-marka-model {
    grid-column: 1/-1;
    display: flex;
    flex-wrap: wrap;
    user-select: none; //запрешаю выделять текст чтоб при двойном клике текст не выделялся

    .marka-select-wrap,
    .model-select-wrap {
        position: relative;
        width: 100%;
        border: var(--border-width) solid var(--gray);
        height: rem(50);
        padding: 0 var(--gap);
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        @media (min-width: rem(640)) {
            width: rem(280);
            height: rem(60);
        }

        @media (min-width: rem(1920)) {
            width: adaptiv_rem_size(280, 1920);
            height: adaptiv_rem_size(60, 1920);
        }

        .select-arrow {
            transform: rotate(90deg);
        }

        .option-group {
            display: none;
            width: calc(100% + var(--border-width) * 2);
            max-height: rem(280);
            overflow: auto;
            position: absolute;
            left: calc(var(--border-width) * -1);
            top: calc(100% + var(--border-width));
            z-index: 2;
            background-color: var(--white);
            border: var(--border-width) solid var(--blue);
            border-radius: 0 0 var(--border-radius) var(--border-radius);
            border-top: none;

            @media (min-width: rem(640)) {
                border-radius: 0 0 0 var(--border-radius);
            }

            @media (min-width: rem(1920)) {
                max-height: adaptiv_rem_size(280, 1920);
            }

            .option-item {
                height: rem(40);
                display: flex;
                align-items: center;
                border-bottom: var(--border-width) solid var(--light);
                padding: 0 var(--gap);
                cursor: pointer;

                @media (min-width: rem(1920)) {
                    height: adaptiv_rem_size(40, 1920);
                }

                &:last-child {
                    border-bottom: none;
                }

                @media (any-hover: hover) {
                    &:hover {
                        background-color: var(--light);
                    }
                }

                &--selected {
                    background-color: var(--light);
                    color: var(--gray);
                }
            }

            [data-all-marki-option-item='disabled'] {
                display: none;
            }

            [data-all-marki-option-item='enable'] {
                display: flex;
            }
        }

        &--open {
            z-index: 1;
            border: var(--border-width) solid var(--blue);
            border-bottom: var(--border-width) solid var(--light);

            .option-group {
                &--active {
                    display: block;
                }
            }
        }

        &[data-disabled] {
            background-color: var(--light);
            cursor: not-allowed;

            .select-title,
            .select-arrow {
                color: var(--black-disabled);
            }
        }
    }

    .marka-select-wrap {
        border-radius: var(--border-radius) var(--border-radius) 0 0;

        @media (min-width: rem(640)) {
            border-radius: var(--border-radius) 0 0 var(--border-radius);
        }

        &--open {
            @media (min-width: rem(640)) {
                border-radius: var(--border-radius) 0 0 0;
            }
        }
    }

    .model-select-wrap {
        border-radius: 0 0 var(--border-radius) var(--border-radius);
        top: calc(var(--border-width) * -1);

        @media (min-width: rem(640)) {
            top: 0;
            left: calc(var(--border-width) * -1);
            border-radius: 0 var(--border-radius) var(--border-radius) 0;
        }

        &--open {
            border-radius: 0;

            @media (min-width: rem(640)) {
                border-radius: 0 var(--border-radius) 0 0;
            }

            .option-group {
                @media (min-width: rem(640)) {
                    border-radius: 0 0 var(--border-radius) 0;
                }
            }
        }
    }
}
