.khlebnyye-kroshki {
    padding: var(--small-gap) 0;

    &__body {
        grid-column: 1/-1;
        display: flex;
        flex-wrap: wrap;
        font: var(--small);

        span {
            width: var(--20);
            height: var(--20);
            display: flex;
            align-items: center;
            justify-content: center;

            &:before {
                background-color: var(--light);
            }
        }
    }
}
