<div class="detal-4 dark-block">
  <div class="standart-container" data-showed-on-scroll>
    <h2>Видеоинструкции — как монтировать самостоятельно</h2>
    <div class="detal-4__video">
      <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
    </div>
  </div>
</div>