<div class="glavnaya-12" data-showed-on-scroll>
  <div class="glavnaya-12__img-wrap">
    <%- include('./../../blocks/images/images.ejs', {data:{type: "bg", url:"~@glavnaya-12-cars-svg-img/footer-cars.svg"}})%>
  </div>
</div>