.instrukczii-3 {
    padding-bottom: var(--medium-gap);

    h2 {
        margin-bottom: var(--small-gap);
    }

    &__info {
        grid-column: 1/-1;
        display: flex;
        align-items: center;

        @media (min-width: rem(960)) {
            grid-column: 1/9;
        }

        @media (min-width: rem(1280)) {
            grid-column: 1/6;
        }

        &-img {
            width: var(--64);
            height: var(--64);
            flex-shrink: 0;

           
        }

        &-title {
            margin-left: var(--gap);
        }
    }

    &__map {
        grid-column: 1/-1;
        height: var(--600);
        max-height: 80vh;
        position: relative;
        margin-top: var(--medium-gap);



        &-body {
            width: 100%;
            height: 100%;
        }

        &-area-list {
            position: absolute;
            left: 0;
            top: 0;
            background: var(--white);
            z-index: 2;
            width: 100%;
            border: var(--border-width) solid var(--blue);

            @media (min-width: rem(640)) {
                width: 50%;
            }

            @media (min-width: rem(960)) {
                width: 33%;
            }

            &-search {
                padding: var(--15);
                border-bottom: var(--border-width) solid var(--light);
                position: relative;
                height: var(--50);

                @media (min-width: rem(640)) {
                    height: var(--60);
                }

                @media (min-width: rem(960)) {
                    padding: var(--gap);
                }

               

                &-title {
                    display: flex;
                    user-select: none;

                    &-text {
                    }

                    &-counter {
                        margin-left: var(--10);
                        font: var(--small);
                    }
                }

                &-input {
                    display: none;
                }

                &-arrow {
                    position: absolute;
                    right: var(--10);
                    top: 50%;
                    transform: rotate(90deg) translateX(-50%);
                    width: var(--min-interactive-elements-width);
                    height: var(--min-interactive-elements-height);

                    &[data-status='open'] {
                        transform: rotate(-90deg) translateX(50%);
                    }
                }
            }

            &-wrap {
                padding: var(--10) 0;
                overflow-y: auto;
                scrollbar-gutter: auto !important;
                display: none;
                user-select: none;

                &-item {
                    display: flex;
                    position: relative;
                    padding: var(--10) var(--gap);
                    cursor: pointer;

                    &-letter {
                        position: absolute;
                        color: var(--gray);
                    }

                    &-title {
                        color: var(--blue);
                        margin-left: var(--30);
                        margin-right: var(--10);
                    }

                    &-counter {
                        font: var(--small);
                    }

                    &[data-active] {
                        background-color: var(--light);

                        .instrukczii-3__map-area-list-wrap-item-title {
                            color: var(--black);
                        }
                    }

                    @media (any-hover: hover) {
                        &:hover {
                            background-color: var(--light);
                        }
                    }
                }
            }
        }

        &-point-pop-up {
            display: none;
            position: absolute;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 40%;
            background-color: var(--white);
            border: var(--border-width) solid var(--black);
            padding: var(--10);

            @media (min-width: rem(640)) {
                width: 50%;
                height: 100%;
                padding: 0;
            }

            @media (min-width: rem(960)) {
                width: 41.66%;
            }

            &-close-button {
                font-size: var(--20);
                top: 0;
                right: 0;
                width: var(--min-interactive-elements-width);
                height: var(--min-interactive-elements-height);
                position: absolute;

                
            }

            &-info {
                height: 100%;
                overflow-y: auto;
                display: block;
                padding: var(--20);
                padding-right: calc(var(--min-interactive-elements-width) + var(--10));

                @media (min-width: rem(640)) {
                    display: flex;
                    align-content: center;
                    flex-wrap: wrap;
                }

                @media (min-width: rem(960)) {
                    padding: var(--30);
                    padding-right: calc(var(--min-interactive-elements-width) + var(--10));
                }

                

                & > * {
                    width: 100%;
                }

                &-name {
                    font: var(--h3);
                    margin-bottom: var(--10);

                    @media (min-width: rem(960)) {
                        margin-bottom: var(--5);
                    }

                  
                }
                &-description {
                    color: var(--gray);

                    margin-bottom: var(--10);

                    @media (min-width: rem(960)) {
                        margin-bottom: var(--5);
                    }

                    
                }
                &-address {
                    text-decoration: underline;
                    margin-bottom: var(--10);
                    cursor: pointer;

                    @media (min-width: rem(960)) {
                        margin-bottom: var(--20);
                    }

                   
                }
                &-site {
                    margin-bottom: var(--10);

                    @media (min-width: rem(960)) {
                        margin-bottom: var(--20);
                    }

                   

                    @media (any-hover: none) and (any-pointer: coarse) {
                        margin-bottom: 0;
                    }
                }
                &-phone {
                }
            }
        }
    }
}
