<div class="<%-data.classes+" "%>policy-konfidencial-checkout">
  <div class="custom-checbox">
    <input id="polici-konf-checkbox" type="checkbox" required>
    <label for="polici-konf-checkbox" class="icon--check-mark"></label>
  </div>
  <div class="policy-konfidencial-checkout-title">
    <div>Согласен с <a class="link-default" href="#">политикой конфиденциальности</a></div>
  </div>
</div>