.glavnaya-5 {
    margin-bottom: var(--big-gap);
    position: relative;

    //нужно добавить т.к. мы сместили блок со слоями вниз
    @media (min-width: rem(1280)) {
        margin-bottom: calc(var(--big-gap) + adaptiv_rem_size(85, 1280, 90, 1920));
    }

    @media (min-width: rem(1920)) {
        margin-bottom: calc(var(--big-gap) + adaptiv_rem_size(90, 1920));
    }
    //нужно добавить т.к. мы сместили блок со слоями вниз
    
    h2 {
        grid-column: 1/-1;
        margin-bottom: var(--medium-gap);

        @media (min-width: rem(960)) {
            grid-column: 1/7;
        }
    }

    &__boxes {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: var(--gap);
        margin-bottom: var(--medium-gap);

        @media (min-width: rem(640)) {
            margin-bottom: rem(40);
            grid-row-gap: rem(10);
        }

        //лучше 1280 вместо 960 т.к. картинка слоёв достаточно широкая
        @media (min-width: rem(1280)) {
            grid-column: 1/7;
            grid-row-gap: var(--gap);
        }

        &-box {
            border: var(--border-width) solid var(--gray);
            border-radius: var(--border-radius);
            min-height: adaptiv_rem_size(100, 320, 70, 640);
            padding: rem(10);

            @media (min-width: rem(640)) {
                min-height: rem(70);
            }

            @media (min-width: rem(960)) {
                min-height: adaptiv_rem_size(70, 960, 180, 1920);
                padding: adaptiv_rem_size(10, 960, 40, 1920);
            }

            @media (min-width: rem(1920)) {
                min-height: adaptiv_rem_size(180, 1920);
                padding: adaptiv_rem_size(40, 1920);
            }

            &-title {
                margin-bottom: rem(10);

                @media (min-width: rem(960)) {
                    margin-bottom: adaptiv_rem_size(1, 960, 10, 1920);
                }

                @media (min-width: rem(1920)) {
                    margin-bottom: adaptiv_rem_size(10, 1920);
                }
            }
            &-content {
                font: var(--h3);
            }
        }
    }

    &__layer-schema {
        width: 100%;
        margin-top: adaptiv_rem_size(40, 320, 0, 640);
        height: adaptiv_rem_size(276, 320, 402, 640);
        position: relative;

        @media (min-width: rem(640)) {
            margin-top: 0;
            height: adaptiv_rem_size(402, 640);
        }

        @media (min-width: rem(1280)) {
            width: adaptiv_rem_size(530, 1280, 850, 1920);
            height: adaptiv_rem_size(385.34, 1280, 618, 1920);
            position: absolute;
            top: 0;
            right: 0;
            margin-top: adaptiv_rem_size(85, 1280, 90, 1920);
        }

        @media (min-width: rem(1920)) {
            width: adaptiv_rem_size(850, 1920);
            height: adaptiv_rem_size(618, 1920);
            margin-top: adaptiv_rem_size(90, 1920);
        }

        &-layers-description {
            position: absolute;
            inset: 0;
            margin: 0 var(--standart-container-margin-lr);
            z-index: 1;
            max-width: var(--standart-container-max-width); //нужно чтоб когда преодалеем разрешение 1240, блок не уехал в левый край

            div {
                width: adaptiv_rem_size(230, 320, 280, 640);
                position: absolute;

                @media (min-width: rem(640)) {
                    width: adaptiv_rem_size(280, 640);
                }

                @media (min-width: rem(1280)) {
                    width: rem(280);
                }

                @media (min-width: rem(1920)) {
                    width: adaptiv_rem_size(280, 1920);
                }
            }

            div:after {
                content: '';
                border-bottom: var(--border-width) solid var(--gray);
                position: absolute;
                left: 0;
                bottom: calc(var(--gap-10) * -1);
                min-width: rem(30);
            }

            &-first {
                top: adaptiv_percent_size(0%, 320, 10.7%, 640);

                @media (min-width: rem(640)) {
                    top: 10.7%;
                }

                &:after {
                    width: adaptiv_rem_size(30, 320, 455, 640);

                    @media (min-width: rem(640)) {
                        width: adaptiv_rem_size(455, 640, 935, 1280);
                    }

                    @media (min-width: rem(1280)) {
                        width: adaptiv_rem_size(377, 1280, 610, 1920);
                    }

                    @media (min-width: rem(1920)) {
                        width: adaptiv_rem_size(610, 1920);
                    }
                }
            }

            &-second {
                top: adaptiv_percent_size(34.78%, 320, 37.811%, 640);

                @media (min-width: rem(640)) {
                    top: 37.811%;
                }

                &:after {
                    width: adaptiv_rem_size(30, 320, 309, 640);

                    @media (min-width: rem(640)) {
                        width: adaptiv_rem_size(309, 640, 638, 1280);
                    }

                    @media (min-width: rem(1280)) {
                        width: adaptiv_rem_size(240, 1280, 390, 1920);
                    }

                    @media (min-width: rem(1920)) {
                        width: adaptiv_rem_size(390, 1920);
                    }
                }
            }

            &-third {
                top: adaptiv_percent_size(56.521%, 320, 57.711%, 640);

                @media (min-width: rem(640)) {
                    top: 57.711%;
                }

                &:after {
                    width: adaptiv_rem_size(30, 320, 237, 640);

                    @media (min-width: rem(640)) {
                        width: adaptiv_rem_size(237, 640, 513, 1280);
                    }

                    @media (min-width: rem(1280)) {
                        width: adaptiv_rem_size(170, 1280, 282, 1920);
                    }

                    @media (min-width: rem(1920)) {
                        width: adaptiv_rem_size(282, 1920);
                    }
                }
            }

            &-fourth {
                top: adaptiv_percent_size(85.507%, 320, 81.343%, 640);

                @media (min-width: rem(640)) {
                    top: 81.343%;
                }

                &:after {
                    width: adaptiv_rem_size(30, 320, 168, 640);

                    @media (min-width: rem(640)) {
                        width: adaptiv_rem_size(168, 640, 360, 1280);
                    }

                    @media (min-width: rem(1280)) {
                        width: adaptiv_rem_size(105, 1280, 175, 1920);
                    }

                    @media (min-width: rem(1920)) {
                        width: adaptiv_rem_size(175, 1920);
                    }
                }
            }
        }

        &-img-wrap {
            width: adaptiv_rem_size(320, 320, 462, 640);
            position: absolute;
            bottom: 0;
            right: 0;

            @media (min-width: rem(640)) {
                width: adaptiv_rem_size(462, 640);
            }

            @media (min-width: rem(1280)) {
                width: adaptiv_rem_size(443.953, 1280, 712, 1920);
            }

            @media (min-width: rem(1920)) {
                width: adaptiv_rem_size(712, 1920);
            }
        }
    }
}
