<div class="glavnaya-6">
  <div class="standart-container" data-showed-on-scroll>
    <h2>Состав комплекта</h2>
  </div>
  <div class="glavnaya-6__kit-data standart-container">
    <div class="glavnaya-6__kit-data-text" data-showed-on-scroll>
      <div class="glavnaya-6__kit-data-text-small-description">Полиуретановые плёнки на монтажной подложке. Набор деталей отличается в зависимости от модели:</div>
      <ul class="glavnaya-6__kit-data-text-complekt">
        <li><span class="icon--check-mark"></span><span>Передние фары</span></li>
        <li><span class="icon--check-mark"></span><span>Полоса на капот</span></li>
        <li><span class="icon--check-mark"></span><span>Передние крылья</span></li>
        <li><span class="icon--check-mark"></span><span>Полоса на крышу</span></li>
        <li><span class="icon--check-mark"></span><span>Стойки лобового стекла</span></li>
        <li><span class="icon--check-mark"></span><span>Зона выгрузки багажника</span></li>
        <li><span class="icon--check-mark"></span><span>Другая защита</span></li>
        <li><span class="icon--check-mark"></span><span>Мыльный раствор</span></li>
        <li><span class="icon--check-mark"></span><span>Абразивная глина</span></li>
        <li><span class="icon--check-mark"></span><span>Ракель для разглаживания</span></li>
      </ul>
    </div>
    <div class="glavnaya-6__kit-data-wrap-template-img" data-showed-on-scroll>
      <%- include('./../../blocks/images/images.ejs', {data:{type: "bg",loader: true, url:"~@glavnaya-6-product-set-img/template.svg", pt:75.294,}})%>
    </div>
  </div>
  <div class="glavnaya-6__wrap-img-complekt" data-showed-on-scroll>
    <%- include('./../../blocks/images/images.ejs', {data:{type: "bg",loader: true, url:"~@glavnaya-6-product-set-img/kit-complekt.png", pt:64.5161}})%>
  </div>
  <div class="glavnaya-6__button-wrap standart-container" data-showed-on-scroll>
    <a href="#" class="glavnaya-6__button-wrap-button button-main">Подобрать комплект</a>
  </div>
</div>