<div class="glavnaya-6">
  <div class="standart-container" data-showed-on-scroll>
    <h2>Состав комплекта</h2>
  </div>
  <div class="glavnaya-6__kit-data standart-container">
    <div class="glavnaya-6__kit-data-text" data-showed-on-scroll>
      <div class="glavnaya-6__kit-data-text-small-description">Полиуретановые плёнки на монтажной подложке. Набор деталей отличается в зависимости от модели:</div>
      <ul class="glavnaya-6__kit-data-text-complekt">
        <li>Передние фары</li>
        <li>Полоса на капот</li>
        <li>Передние крылья</li>
        <li>Полоса на крышу</li>
        <li>Стойки лобового стекла</li>
        <li>Зона выгрузки багажника</li>
        <li>Другая защита</li>
        <li>Мыльный раствор</li>
        <li>Абразивная глина</li>
        <li>Ракель для разглаживания</li>
      </ul>
    </div>
    <div class="glavnaya-6__kit-data-wrap-template-img" data-showed-on-scroll>
      <%- include('./../../blocks/images/images.ejs', {data:{type: "bg",loader: true, url:"~@glavnaya-6-product-set-img/template.svg", pt:75.294,}})%>
    </div>
  </div>
  <div class="glavnaya-6__wrap-img-complekt" data-showed-on-scroll>
    <%- include('./../../blocks/images/images.ejs', {data:{type: "bg",loader: true, url:"~@glavnaya-6-product-set-img/kit-complekt.png", pt:64.5161}})%>
  </div>
  <div class="glavnaya-6__button-wrap standart-container" data-showed-on-scroll>
    <a href="#" class="glavnaya-6__button-wrap-button button-main">Подобрать комплект</a>
  </div>
</div>