<div class="komplekt-9">
  <div class="standart-container" data-showed-on-scroll>
    <%- include('./../../blocks/fqa/fqa.ejs')%>
  </div>
  <%- include('./../../blocks/decor-vertical-line/decor-vertical-line.ejs')%>
</div>