<div class="komplekt-6">
  <div class="standart-container">
    <h2>Полиуретановая плёнка 180 мкм.<br><span class="h2-not-bold">Невидимая профессиональная защита</span></h2>
  </div>
  <%- include('./../../blocks/slider-full-width-page/slider-full-width-page.ejs')%>
</div>