#header-overlay {
    position: fixed;
    display: none;
    inset: 0;
    opacity: 0;
    background-color: var(--white);
    z-index: map-get($z-index, header-overlay);//лучше привязать всё на переменные для удобства
}
