.info-box-plenka {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--gap);
    margin-bottom: var(--medium-gap);

    @media (min-width: rem(640)) {
        margin-bottom: var(--40);
        grid-row-gap: var(--10);
    }

    //лучше 1280 вместо 960 т.к. картинка слоёв достаточно широкая
    @media (min-width: rem(1280)) {
        grid-column: 1/7;
        grid-row-gap: var(--gap);
    }

    &-box {
        border: var(--border-width-bold) solid var(--blue);
        border-radius: var(--border-radius);
        min-height: adaptiv_rem_size(100, 320, 70, 640);
        padding: var(--10);

        @media (min-width: rem(640)) {
            min-height: var(--70);
        }

        @media (min-width: rem(960)) {
            min-height: adaptiv_rem_size(70, 960, 180, 1920);
            padding: adaptiv_rem_size(10, 960, 40, 1920);
        }

        @media (min-width: rem(1920)) {
            min-height: var(--180);
            padding: var(--40);
        }

        &-title {
            margin-bottom: var(--10);

            @media (min-width: rem(960)) {
                margin-bottom: adaptiv_rem_size(1, 960, 10, 1920);
            }

            @media (min-width: rem(1920)) {
                margin-bottom: var(--10);
            }
        }
        &-content {
            font: var(--h3);
            font-family: var(--ff-bold);
        }
    }
}