// /* смартфоны, устройства с сенсорным экраном, с которым работают пальцами */
// @media (hover: none) and (pointer: coarse) {
//     /* ... */
// }
// /* устройства с сенсорным экраном, с которым работают стилусом */
// @media (hover: none) and (pointer: fine) {
//     /* ... */
// }
// /* контроллер Nintendo Wii, Microsoft Kinect */
// @media (hover: hover) and (pointer: coarse) {
//     /* ... */
// }
// /* мышь, тачпад */
// @media (hover: hover) and (pointer: fine) {
//     /* ... */
// }
@font-face {
    font-family: Manrope;
    src: url(@fonts/manrope.woff2) format('woff2'), url(@fonts/manrope.woff) format('woff');
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a[title='Вы тут!'] {
    color: var(--gray);
    cursor: default;
}

body {
    background-color: var(--white);
    font: var(--default);
    min-width: rem(320);
    overflow: hidden auto;
}

@media (any-hover: hover) and (any-pointer: fine) {
    //для браузеров с поддержкой наложения скролбара
    @supports (overflow: overlay) {
        body {
            overflow: hidden overlay;
        }
    }
}

.lock-scroll {
    overflow: hidden !important;
}

.disabled {
    opacity: 0.3;
}
.red {
    color: red;
}
button {
    cursor: pointer;
}

/*ширина основных блоков не стандартная так что задаём её отлельно от сетки*/
.standart-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 rem(20);

    @media (min-width: rem(640)) {
        padding: 0 adaptiv_rem_size(20, 640, 30, 960);
    }

    @media (min-width: rem(960)) {
        padding: 0 rem(30);
    }

    @media (min-width: rem(1180)) {
        max-width: rem(1180);
        padding: 0 adaptiv_rem_size(30, 1180, 0, 1240);
    }

    @media (min-width: rem(1240)) {
        padding: 0;
    }

    @media (min-width: rem(1920)) {
        max-width: adaptiv_rem_size(1180, 1920);
    }
}
/*ширина основных блоков не стандартная так что задаём её отлельно от сетки*/
