@font-face {
    font-family: Manrope;
    src: url(@fonts/manrope.woff2) format("woff2"), url(@fonts/manrope.woff) format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a[title="Вы тут!"] {
    color: var(--gray);
    cursor: default;
}

body {
    background-color: var(--white);
    font: var(--default);
    min-width: rem(320);
}

.disabled {
    opacity: 0.3;
}

/*ширина основных блоков не стандартная так что задаём её отлельно от сетки*/
.standart_container {
    max-width: 73.75rem;
    /*1180px*/
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--10px);
    padding-right: var(--10px);
}

@media (min-width: 40em) {
    .standart_container {
        padding-left: var(--15px);
        padding-right: var(--15px);
    }
}

@media (min-width: 1920px) {
    .standart_container {
        max-width: 61.458vw;
    }
}

/*ширина основных блоков не стандартная так что задаём её отлельно от сетки*/

/*
  *
  ОСНОВНЫЕ СТИЛИ И ПЕРЕМЕННЫЕ
  *
  */