/*оболочка картинок*/
[data-img-type] {
    position: relative;
}

[data-img-type] img,
[data-img-type] .img_body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity var(--standart-anim);
    background: center / cover no-repeat border-box;
}



[data-img-type].uploaded img,
[data-img-type].uploaded .img_body,
[data-img-type].portrait_uploaded img,
[data-img-type].portrait_uploaded .img_body,
[data-img-type].landscape_uploaded img,
[data-img-type].landscape_uploaded .img_body {
    opacity: 1;
}

/*оболочка картинок*/


/*оболочка svg вставленных через тег use в svg*/
.svg_wrapper {
    position: relative;
    width: 100%;
}

.svg_wrapper svg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/*оболочка svg вставленных через тег use в svg*/
