/* мышь, тачпад */
//делаем это чтоб на мобилках и на экрнах планшенов были скролбары устройства по умолчаию,
//а так же на устройствах где не прусмотрено точное указание по экрану
@media (any-hover: hover) and (any-pointer: fine) {
    //в любом браузере резервируем место под скрол в блоках в которых он точно или скорее всего будет чтоб избежать дёргания макета
    .custom-scrollbar {
        scrollbar-gutter: stable;
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: rem(6);
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        border-radius: rem(5);
        background-color: var(--black-disabled);
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: var(--black-hover);
    }

    //в браузере фаерфокс меняем ширину и цвет скрола, а так же резервируем место под скролбар в любом случае
    @supports (scrollbar-width: thin) {
        html,
        .custom-scrollbar {
            scrollbar-width: thin;
            scrollbar-color: var(--black-disabled) transparent;
            scrollbar-gutter: stable;
        }
    }
}

@media (any-hover: hover) and (any-pointer: fine) and (min-width: rem(1920)) {
    .custom-scrollbar::-webkit-scrollbar {
        width: adaptiv_rem_size(6, 1920);
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        border-radius: adaptiv_rem_size(5, 1920);
    }
}
