:root {
    /*цвета*/
    --black: #262626;
    --black-hover: #000;
    --black-disabled: #{rgba(#000000, 0.3)};
    --black-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    --white: #fff;
    --white-hover: #fff;
    --white-transparent: #{rgba(#fff, 0.5)};
    --white-disabled: #{rgba(#ffffff, 0.6)}; //--white-disabled применяется для текстов в кнопках с отключённым статусом
    --white-gradient: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 96.28%);
    --blue: #0049ff;
    --blue-hover: #003acc;
    --blue-transparent: #{rgba(#0049ff, 0.5)};
    --popup-backdrop: #{rgba(#ffffff, 0.9)};
    --gray: #999999;
    --gray-transparent: #{rgba(#999999, 0.2)}; //используется для скролбара
    --light: #e6e6e6;
    --error: #ff5050;
    --warning: #ffce50;
    --success: #69d243;
    --link: #0049ff;
    --link-hover: #003acc;
    --link-visited: #4e00cc;
    /*цвета*/

    /*шрифты*/
    //эти размеры шрифта актуальны до самых малых размеров экрана, т.к. эти размеры не меняются
    --ff-regular: 'Manrope-Regular';
    --ff-bold: 'Manrope-Bold';
    --icon: 'icon-font';

    //размер шрифта и высота строки дял каждого типа шрифта, эти переменные могут так же понадобиться есть нужно будет высчитывать где-то высоты
    --h1-fs: #{rem(25)};
    --h1-lh: #{rem(30)};

    --h2-fs: #{rem(22)};
    --h2-lh: #{rem(30)};

    --h3-fs: #{rem(18)};
    --h3-lh: #{rem(25)};

    --default-fs: #{rem(15)};
    --default-lh: #{rem(20)};

    --small-fs: #{rem(13)};
    --small-lh: #{rem(20)};
    //размер шрифта и высота строки дял каждого типа шрифта, эти переменные могут так же понадобиться есть нужно будет высчитывать где-то высоты

    --h1: var(--h1-fs) / var(--h1-lh) var(--ff-bold);
    --h2: var(--h2-fs) / var(--h2-lh) var(--ff-bold);
    --h3: var(--h3-fs) / var(--h3-lh) var(--ff-regular);
    --default: var(--default-fs) / var(--default-lh) var(--ff-regular); //--default обычный текст на страницах
    --small: var(--small-fs) / var(--small-lh) var(--ff-regular); //--small маленький текст на страницах
    /*шрифты*/

    /*отступы между блоками*/
    //эти отсупы актуальны до самых малых размеров экрана, т.к. эти отсупы не меняются
    --big-gap: #{rem(100)};
    --medium-gap: #{rem(40)};
    --small-gap: #{rem(20)};
    --gap: #{rem(20)}; //стандартынй зазор в сетке и межу некторыми блоками
    --gap-10: #{rem(10)}; //маленький зазор 10 пикселей между некоторыми блоками
    /*отступы между блоками*/

    --button-min-width: auto; //ширина кнопок
    --button-max-width: none; //ширина кнопок
    --button-min-height: #{rem(50)}; //минимальняа высота кнопок
    --button-maket-size: #{rem(30)}; //высота и ширина кнопок в мекете, не текстовых!

    --standart-container-margin-lr: #{adaptiv_rem_size(20, 320, 30, 640)}; //боковые внешние отступы стандартного контейнера
    --standart-container-width: calc(100vw - var(--standart-container-margin-lr) * 2); //ширина стандартного контейнера
    --standart-container-max-width: #{rem(1180)}; //максимальная ширина стандартного контейнера

    --fast-anim: 0s ease-in-out;
    --standart-anim: 0.5s ease-in-out;

    --border-width: #{rem(1)}; //стандартная тощина бордера для большинства элементов
    --border-width-bold: #{rem(2)}; //более толстая граница для элементов
    --border-radius: #{rem(10)}; //бордер радиус

    --scroll-width: #{rem(8)}; //ширина скролбара для внутрених блоков с контентом
    --scroll-border-radius: #{rem(12)}; //для скролбара внутрених блоков с контентом
    --scroll-page-width: #{rem(12)}; //ширина скролбара для страницы
    --scroll-page-border-radius: #{rem(12)}; //для скролбара страницы

    //bottons size
    --min-interactive-elements-width: #{rem(50)};
    --min-interactive-elements-height: #{rem(50)};

    @media (min-width: rem(640)) {
        $start_w: 640; //начальное значение ширины
        $final_w: 1919; //конечное значение ширины

        /*шрифты*/
        //размер шрифта и высота строки дял каждого типа шрифта, эти переменные могут так же понадобиться есть нужно будет высчитывать где-то высоты
        --h1-fs: #{adaptiv_rem_size(25, $start_w, 50, $final_w)};
        --h1-lh: #{adaptiv_rem_size(30, $start_w, 60, $final_w)};

        --h2-fs: #{adaptiv_rem_size(22, $start_w, 32, $final_w)};
        --h2-lh: #{adaptiv_rem_size(30, $start_w, 40, $final_w)};

        --h3-fs: #{adaptiv_rem_size(18, $start_w, 24, $final_w)};
        --h3-lh: #{adaptiv_rem_size(25, $start_w, 30, $final_w)};

        --default-fs: #{adaptiv_rem_size(15, $start_w, 17, $final_w)};
        --default-lh: #{adaptiv_rem_size(20, $start_w, 25, $final_w)};

        --small-fs: #{adaptiv_rem_size(13, $start_w, 14, $final_w)};
        --small-lh: #{rem(20)};
        //размер шрифта и высота строки дял каждого типа шрифта, эти переменные могут так же понадобиться есть нужно будет высчитывать где-то высоты
        /*шрифты*/

        /*отступы между блоками*/
        --big-gap: #{adaptiv_rem_size(100, $start_w, 200, $final_w)};
        --medium-gap: #{adaptiv_rem_size(40, $start_w, 80, $final_w)};
        --small-gap: #{adaptiv_rem_size(20, $start_w, 40, $final_w)};
        /*отступы между блоками*/

        --button-min-width: #{rem(280)}; //ширина кнопок
        --button-max-width: #{rem(280)}; //ширина кнопок
        --button-min-height: #{adaptiv_rem_size(50, $start_w, 60, $final_w)}; //минимальняа высота кнопок

        --standart-container-margin-lr: #{rem(30)}; //боковые внешние отступы стандартного контейнера
    }

    @media (min-width: rem(1240)) {
        //30+1180+30
        --standart-container-margin-lr: auto; //боковые внешние отступы стандартного контейнера
        --standart-container-width: 100vw; //ширина стандартного контейнера
    }

    @media (min-width: rem(1920)) {
        --min-interactive-elements-width: #{adaptiv_rem_size(50, 1920)};
        --min-interactive-elements-height: #{adaptiv_rem_size(50, 1920)};

        $start_w: 1920; //начальное значение ширины

        /*шрифты*/
        //размер шрифта и высота строки дял каждого типа шрифта, эти переменные могут так же понадобиться есть нужно будет высчитывать где-то высоты
        --h1-fs: #{adaptiv_rem_size(50, $start_w)};
        --h1-lh: #{adaptiv_rem_size(60, $start_w)};

        --h2-fs: #{adaptiv_rem_size(32, $start_w)};
        --h2-lh: #{adaptiv_rem_size(40, $start_w)};

        --h3-fs: #{adaptiv_rem_size(24, $start_w)};
        --h3-lh: #{adaptiv_rem_size(30, $start_w)};

        --default-fs: #{adaptiv_rem_size(17, $start_w)};
        --default-lh: #{adaptiv_rem_size(25, $start_w)};

        --small-fs: #{adaptiv_rem_size(14, $start_w)};
        --small-lh: #{adaptiv_rem_size(20, $start_w)};
        //размер шрифта и высота строки дял каждого типа шрифта, эти переменные могут так же понадобиться есть нужно будет высчитывать где-то высоты
        /*шрифты*/

        /*отступы между блоками*/
        --big-gap: #{adaptiv_rem_size(200, $start_w)};
        --medium-gap: #{adaptiv_rem_size(80, $start_w)};
        --small-gap: #{adaptiv_rem_size(40, $start_w)};
        --gap: #{adaptiv_rem_size(20, $start_w)};
        --gap-10: #{adaptiv_rem_size(10, $start_w)}; //маленький зазор 10 пикселей между некоторыми блоками
        /*отступы между блоками*/

        --button-min-width: #{adaptiv_rem_size(280, $start_w)}; //ширина кнопок
        --button-max-width: #{adaptiv_rem_size(280, $start_w)}; //ширина кнопок
        --button-min-height: #{adaptiv_rem_size(60, $start_w)}; //минимальняа высота кнопок
        --button-maket-size: #{adaptiv_rem_size(30, $start_w)}; //высота и ширина кнопок в мекете, не текстовых!

        --standart-container-max-width: #{adaptiv_rem_size(1180, 1920)}; //максимальная ширина стандартного контейнера

        --border-width: #{adaptiv_rem_size(1, $start_w)};
        --border-width-bold: #{adaptiv_rem_size(2, $start_w)};
        --border-radius: #{adaptiv_rem_size(10, $start_w)};

        --scroll-width: #{adaptiv_rem_size(8, $start_w)}; //ширина скролбара для внутрених блоков с контентом
        --scroll-border-radius: #{adaptiv_rem_size(12, $start_w)}; //для скролбара внутрених блоков с контентом
        --scroll-page-width: #{adaptiv_rem_size(12, $start_w)}; //ширина скролбара для страницы
        --scroll-page-border-radius: #{adaptiv_rem_size(12, $start_w)}; //для скролбара страницы
    }
}
