<div class="komplekt-7">
  <div class="standart-container" data-showed-on-scroll>
    <div class="komplekt-7__text">
      + не влияет на цвет ЛКП <br>
      + после снятия не оставляет следов <br>
      + эластичность до 200%: не трескается, не рвётся <br>
      + служит до 10 лет<br>
    </div>
    <%- include('./../../blocks/info-box-plenka/info-box-plenka.ejs')%>
  </div>
  <%- include('./../../blocks/struktura-plenki-img-info/struktura-plenki-img-info.ejs')%>
</div>