<div class="pop-up-message">
  <button class="pop-up-message__close-button icon--close"></button>
  <div class="pop-up-message__title">
    <span class="icon--success"></span>
    <span class="icon--error"></span>
  </div>
  <div class="pop-up-message__text"></div>
</div>
<div id="pop-up-message-overlay"></div>
