.detal-2 {
    background: var(--fon-v-kletochku);
    background-size: 19px 19px; //привязываемся именно к пикселям что сетка всегда выглядела одинаково, не смотря на размер шрифта
    padding: var(--big-gap) 0;

    h2 {
        margin-bottom: var(--small-gap);
    }

    &__text {
        grid-column: 1/-1;
        margin-bottom: var(--medium-gap);

        @media (min-width: rem(640)) {
            grid-column: 1/6;
            margin-bottom: 0;
        }

        @media (min-width: rem(960)) {
            grid-column: 1/5;
        }

        p:first-child {
            margin-top: 0;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }

    &__img {
        grid-column: 1/-1;

        @media (min-width: rem(640)) {
            grid-column: 6/-1;
        }

        &-wrap{
            position: relative;
        }
    }
}

.detal-2-about-selected-icon {
    position: absolute;
    background-color: var(--gray);
    border-radius: 50%;
    width: var(--32);
    height: var(--32);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity var(--standart-anim);
    opacity: 0;
    transform: translate(-25%, -25%);

    &:before{
        background-color: var(--white);
    }
}
