<div class="glavnaya-4" data-showed-on-scroll>
  <div class="standart-container">
    <h2>Полиуретановая плёнка Brontero® — невидимая защита кузова от сколов и царапин</h2>
  </div>
  <div class="glavnaya-4__wrap-slider">
    <div class="swiper glavnaya-4__wrap-slider-swiper-wrap">
      <div class="swiper-wrapper">
        <div class="swiper-slide">

            добавить лоадеры

          <%- include('./../../blocks/images/images.ejs', {data:{type: "bg-swiper-loop", url:"~@glavnaya-4-img-text-slider-img/1.jpg", pt:68.9655,}})%>
        </div>
        <div class="swiper-slide">
          <%- include('./../../blocks/images/images.ejs', {data:{type: "bg-swiper-loop", url:"~@glavnaya-4-img-text-slider-img/2.jpg", pt:68.9655,}})%>
        </div>
        <div class="swiper-slide">
          <%- include('./../../blocks/images/images.ejs', {data:{type: "bg-swiper-loop", url:"~@glavnaya-4-img-text-slider-img/3.jpg", pt:68.9655,}})%>
        </div>
        <div class="swiper-slide">
          <%- include('./../../blocks/images/images.ejs', {data:{type: "bg-swiper-loop", url:"~@glavnaya-4-img-text-slider-img/4.jpg", pt:68.9655,}})%>
        </div>
      </div>
    </div>
  </div>
  <div class="standart-container">
    <div class="glavnaya-4__text-swiper">
      ewegwgewg ewg ewg ewg ewge
    </div>
    <div class="glavnaya-4__control-buttons">
      <button class="glavnaya-4__control-buttons-button-prev icon--arrow-big"></button>
      <button class="glavnaya-4__control-buttons-button-next icon--arrow-big"></button>
    </div>
    <div class="glavnaya-4__link-button-wrap">
      <a href="#"><button class="button-main">Подобрать комплект</button></a>
    </div>
  </div>
</div>