<div class="o-nas-3" data-showed-on-scroll>
  <div class="standart-container">
    <div class="o-nas-3__left-part">
      <h1 class="o-nas-3__left-part-title">Наш продукт — комплект полиуретановых защитных плёнок для самостоятельной установки Brontero®</h1>
      <div class="o-nas-3__left-part-text-1">Опыт позволил нам разработать продукт премиального качества для массового рынка</div>
      <div class="o-nas-3__left-part-line"></div>
      <div class="o-nas-3__left-part-text-2">Комплекты полиуретановых покрытий — Brontero® для всех популярных моделей</div>
    </div>
    <div class="o-nas-3__right-part">
      <%- include('./../../blocks/images/images.ejs', {data:{type: "img",loader: true, url:"~@o-nas-3-bottom-img-text-img/brontec.jpg", pt:71.4286,}})%>
    </div>
    <div class="o-nas-3__bottom-part">
      <div class="o-nas-3__bottom-part-text">Наше предложение адресовано владельцам детейлинг-центров, автосервисов, установочных центров, магазинов автозапчастей и даже автомоечных комплексов</div>
      <a href="mailto:business@brontero.ru" class="o-nas-3__bottom-part-email link-default">business@brontero.ru</a>
    </div>
  </div>
</div>