.glavnaya-7 {
    background-color: var(--black);
    padding: var(--big-gap) 0;
    color: var(--white);

    h2 {
        grid-column: 1/-1;
        margin-bottom: var(--medium-gap);
    }

    &__video-block {
        grid-column: 1/-1;
        margin-bottom: var(--medium-gap);

        @media (min-width: rem(640)) {
            grid-column: span 6;
        }

        @media (min-width: rem(960)) {
            grid-column: span 4;
        }

        &-video {
            margin-bottom: rem(10);

            @media (min-width: rem(960)) {
                margin-bottom: adaptiv_rem_size(10, 960, 40, 1920);
            }

            @media (min-width: rem(1920)) {
                margin-bottom: var(--small-gap);
            }
        }

        &-title {
        }

        &-time {
            color: var(--gray);
        }
    }

    a{
        grid-column: 1/-1;

        @media (min-width: rem(640)) {
            grid-column: 1/7;
        }

        @media (min-width: rem(960)) {
            grid-column: 1/-1;
        }
    }
}
