<div class="glavnaya-7">
  <div class="standart-container" data-showed-on-scroll>
    <h2 class="h2-not-bold">Не оставляет следов после снятия.</h2>
    <%- include('./../../blocks/info-box-plenka/info-box-plenka.ejs')%>
  </div>
  <%- include('./../../blocks/struktura-plenki-img-info/struktura-plenki-img-info.ejs')%>
</div>