.komplekt-configurator {
    &__full-wrap {
        &-composition {
            &-detals {
                &--configurator-version {
                    display: grid;
                    grid-gap: var(--gap-10);

                    li {
                        display: flex;
                        align-items: center;
                    }

                    li:last-child {
                        margin-top: rem(30);

                        @media (min-width: rem(1920)) {
                            margin-top: adaptiv_rem_size(30, 1920);
                        }
                    }
                }

                &-checbox {
                    margin-right: rem(53);

                    @media (min-width: rem(640)) {
                        margin-right: rem(30);
                    }

                    @media (min-width: rem(1920)) {
                        margin-right: adaptiv_rem_size(30, 1920);
                    }
                }

                &-data {
                    display: grid;
                    width: 100%;
                    align-items: center;

                    @media (min-width: rem(960)) {
                        grid-template-columns: auto max-content;
                    }

                    a,
                    span {
                        @media (min-width: rem(960)) {
                            padding-right: adaptiv_rem_size(20, 960, 50, 1920);
                        }

                        @media (min-width: rem(1920)) {
                            padding-right: adaptiv_rem_size(50, 1920);
                        }
                    }

                    div {
                        font: var(--small);
                        color: var(--gray);
                    }
                }
            }

            &-price {
                &-old--configurator-version {
                    visibility: hidden;
                }

                &-discont--configurator-version {
                    visibility: hidden;
                }
            }

            &-warning-add-anyone-item {
                display: none;
                position: absolute;
                margin-top: var(--gap);
                color: var(--error);
            }
        }
    }
}

.komplekt-2-select-kit-composition {
    margin-bottom: var(--big-gap);
}

.komplekt-2-select-kit-composition {
    &--selected-all-kit {
        .old-price {
            visibility: visible;
        }

        .discont {
            visibility: visible;
        }
    }

    &--nothing-selected {
        .komplekt-configurator__full-wrap-composition-warning-add-anyone-item {
            display: block;
        }

        .custom-checbox label {
            border-color: var(--error);
        }

        .komplekt-configurator__full-wrap-composition-button {
            background-color: var(--gray) !important;
            cursor: not-allowed;
        }
    }
}
