.oformit-zakaz-2 {
    margin-top: var(--medium-gap);

    h2 {
        margin-bottom: var(--small-gap);
    }

    input[form='user-data'] {
        position: absolute;
        pointer-events: none;
        opacity: 0;
    }
}

#sdekmap {
    grid-column: 1/-1;
    height: var(--400);
}
