<div class="glavnaya-11" data-showed-on-scroll>
  <div class="glavnaya-11__img-wrap">
    <%- include('./../../blocks/images/images.ejs', {data:{type: "bg",loader: true, url:"~@vybrat-komplekt-4-car-svg-img/footer-cars.svg"}})%>
  </div>
</div>