<div class="vybrat-komplekt-3">
  <div class="standart-container" data-showed-on-scroll>
    <h2>Не нашли ваш авто? Оставьте заявку</h2>
    <form action="" class="vybrat-komplekt-3__forma" data-emails="sergeksnsd1997sd@gmail.com, sergej.catashov@yandex.ru">
      <label for="email" class="vybrat-komplekt-3__forma-title">Электронная почта</label>
      <input id="email" class="custom-text-input" type="email" pattern=".+@.+\..+" placeholder="adres@mail.com" required>
      <label for="message" class="vybrat-komplekt-3__forma-title">Производитель, модель, год выпуска</label>
      <div class="custom-textarea">
        <div class="custom-textarea__resizer"></div>
        <textarea id="message" placeholder="Mitsubishi Pajero Mini 94" rows="5" class="custom-scrollbar" required></textarea>
      </div>
      <div class="vybrat-komplekt-3__forma-polici-konf">
        <div class="vybrat-komplekt-3__forma-polici-konf-checkbox">
          <div class="custom-checbox">
            <input id="polici-konf-checkbox" type="checkbox" required>
            <label for="polici-konf-checkbox" class="icon--check-mark"></label>
          </div>
        </div>
        <div class="vybrat-komplekt-3__forma-polici-konf-title">
          <div>Согласен с <a class="link-default" href="#">политикой конфиденциальности</a></div>
        </div>
      </div>
      <button class="button-main button-main--not-minmax-width vybrat-komplekt-3__forma-submit-button" type="submit">Отправить заявку</button>
    </form>
    <div class="vybrat-komplekt-3__description">
      <p>Комплекты для новых и популярных моделей (2018 год и новее) мы разрабатываем еженедельно.</p>
      <p>Чтобы узнать, когда комплект будет в продаже, отправьте заявку.</p>
    </div>
  </div>
</div>