<div class="komplekt-8" data-showed-on-scroll>
    <div class="standart-container">
        <h2>Более 4500 автолюбителей <span class="h2-not-bold">уже оценили защиту Brontero®</span></h2>
    </div>
    <%- include('./../../blocks/otzivi/otzivi.ejs')%>
  </div>