<div class="scroll_to_top_button">
    <div class="icon_scrol_to_top_arrow">
        <div class="svg_wrapper">
            <svg>
                <use data-href="<?php echo $base_kit_svg_url ?>#icon_scrol_to_top_arrow" />
            </svg>
        </div>
    </div>
</div>