.detal-5 {
    padding-bottom: var(--big-gap);

    &__link-wrap {
        grid-column: 1/-1;

        @media (min-width: rem(640)) {
            grid-column: 4/10;
        }

        @media (min-width: rem(960)) {
            grid-column: 5/9;
        }
    }
}
