<div class="product-info product-info--header-search">
  <div class="product-info__description">
    <div class="product-info__title">Комплект <span class="product-info__searched-text">NIS</span>san элементов салона для Nissan Murano</div>
    <div class="product-info__small-description">краткое описание продукта в несколько слов</div>
    <div class="product-info__price-block">
      <div class="product-info__old-price">15000</div>
      <div class="product-info__current-price">11000<span class="icon--ruble-currency"></span></div>
      <div class="product-info__discont">-15%</div>
    </div>
  </div>
  <div class="product-info__img-wrap">
    <div class="product-info__gradient-fon"></div>
    <div class="image" style="padding-top:66.667%;">
      <img data-img-type="img" data-src="~@product-small-info-block-img/search.jpg" data-original-w="2145" data-original-h="1430">
      <img data-img-type="kit" data-src="~@product-small-info-block-img/kit.svg" data-kit-id="dvernie-ruchki fary kapot krylya krysha">
     
      <div class="loader">
        <div class="loader__circle"></div>
      </div>
    </div>
  </div>
  <a class="product-info__arrow-link icon--arrow-middle" href="#test"></a>
</div>