<div class="detal-5 dark-block">
  <div class="standart-container" data-showed-on-scroll>
    <div class="detal-5__link-wrap">
      <a href="http://localhost:3579/pages/komplekt.html" class="button-main button-main--not-minmax-width detal-link-to-kit">← На страницу комплекта</a>
    </div>
  </div>
</div>