<div class="glavnaya-6">
  <div class="standart-container">
    <h2>Невидимая защита уязвимых участков от сколов и царапин. <span class="h2-not-bold">Не трескается, не рвётся.</span></h2>
  </div>
  <%- include('./../../blocks/slider-full-width-page/slider-full-width-page.ejs')%>
  <div class="standart-container">
    <a href="#" class="glavnaya-6__link-button button-main">Подобрать комплект</a>
  </div>
</div>