<div class="instrukczii-3">
  <div class="standart-container" data-showed-on-scroll>
    <h2>2. Установка у партнёров Brontero®</h2>
    <div class="instrukczii-3-info">
      <%- include('./../../blocks/images/images.ejs', {data:{type: "bg", loader:true, url:"~@glavnaya-3-icons-grid-img/icon_gloves.svg", pt:20,}})%>
      <div class="instrukczii-3-info-text">Мы установим плёнку на ваш автомобиль во время мойки или ТО. Комплект можно привезти с собой или купить на месте.</div>
    </div>
    <div class="instrukczii-3-map" data-admin="no">
      <script>
        GDS.YANDEX_MAP_API_KEY = '9720c798-730b-4af9-898a-937b264afcdd';
        GDS.partners_data = {
          'Москва': {
            bounds: [
              [55.43046551615107, 37.14165537120766],
              [56.064521324427716, 38.1025306287661],
            ],
            points: {
              '21421421521': {
                coords: [55.79523334951066, 37.262290753893105],
                name: '',
                description: '',
                address: '',
                site: '',
                phone: ''
              },
              '256732378235': {
                coords: [55.529743812229626, 37.74294260936186],
                name: 'ntcn',
                description: 'wegewg',
                address: 'whrwh6346',
                site: '3754',
                phone: '+7 (343) 247-83-11'
              }
            }
          },
          'Екатеринбург': {
            bounds: [
              [56.65586239734801, 59.86807087109367],
              [57.00219216898065, 61.48855426953117],
            ],
            points: {
              '21421426431521': {
                coords: [56.76462453872894, 60.52175739453117],
                name: '',
                description: '',
                address: '',
                site: '',
                phone: ''
              },
              '256732377808235': {
                coords: [56.86705469651048, 60.75247028515615],
                name: '',
                description: '',
                address: '',
                site: '',
                phone: ''
              },
              '21232421421521': {
                coords: [56.808342371298444, 60.57119587109369],
                name: '',
                description: '',
                address: '',
                site: '',
                phone: ''
              },
              '25673299378235': {
                coords: [56.909150147059705, 60.5959151093749],
                name: '',
                description: '',
                address: '',
                site: '',
                phone: ''
              }
            }
          },
          'Тюмень': {
            bounds: [
              [57.06528685038991, 65.2067131191406],
              [57.236954939131095, 66.01695481835935],
            ],
            points: {
              '25673264377808235': {
                coords: [57.1661454946733, 65.61938706933587],
                name: '',
                description: '',
                address: '',
                site: '',
                phone: ''
              },
              '212396782421421521': {
                coords: [57.17435146308644, 65.54934922753901],
                name: '',
                description: '',
                address: '',
                site: '',
                phone: ''
              },
              '256732353599378235': {
                coords: [57.15047447615684, 65.59192124902337],
                name: '',
                description: '',
                address: '',
                site: '',
                phone: ''
              }
            }
          },
        };
      </script>

    


      <div class="instrukczii-3-map-body"></div>



      <div class="instrukczii-3-map-area-list">
        <div class="instrukczii-3-map-area-list-search">
          <div class="instrukczii-3-map-area-list-search-title">
            <div class="instrukczii-3-map-area-list-search-title-text"></div>
            <div class="instrukczii-3-map-area-list-search-title-counter"></div>
          </div>
          <input class="instrukczii-3-map-area-list-search-input" placeholder="Введите название города" type="text">
          <button class="instrukczii-3-map-area-list-search-arrow icon--arrow" data-status="close"></button>
        </div>
        <div class="instrukczii-3-map-area-list-wrap custom-scrollbar">
          <div class="instrukczii-3-map-area-list-wrap-item">
            <div class="instrukczii-3-map-area-list-wrap-item-letter">М</div>
            <div class="instrukczii-3-map-area-list-wrap-item-title">Москва</div>
            <div class="instrukczii-3-map-area-list-wrap-item-counter">2</div>
          </div>
          <div class="instrukczii-3-map-area-list-wrap-item">
            <div class="instrukczii-3-map-area-list-wrap-item-letter">Е</div>
            <div class="instrukczii-3-map-area-list-wrap-item-title">Екатеринбург</div>
            <div class="instrukczii-3-map-area-list-wrap-item-counter">4</div>
          </div>
          <div class="instrukczii-3-map-area-list-wrap-item">
            <div class="instrukczii-3-map-area-list-wrap-item-letter">Т</div>
            <div class="instrukczii-3-map-area-list-wrap-item-title">Тюмень</div>
            <div class="instrukczii-3-map-area-list-wrap-item-counter">3</div>
          </div>
        </div>
      </div>


      <div class="instrukczii-3-map-point-pop-up">
        <button class="instrukczii-3-map-point-pop-up-close-button icon--close"></button>
        <div class="instrukczii-3-map-point-pop-up-info">
          <div class="instrukczii-3-map-point-pop-up-info-name">Mr.Cap Ural</div>
          <div class="instrukczii-3-map-point-pop-up-info-description">детейлинг-центр</div>
          <div class="instrukczii-3-map-point-pop-up-info-address">Екатеринбург, ул. Восточная, 51</div>
          <a href="" class="instrukczii-3-map-point-pop-up-info-site set-min-interactive-size link-default" target="_blunk" rel="nofollow">ekb.mrcap-ural.ru</a>
          <a href="" class="instrukczii-3-map-point-pop-up-info-phone set-min-interactive-size link-default">+7 (343) 247-83-11</a>
        </div>
      </div>
      


    </div>
  </div>
</div>