<div class="komplekt-3">
  <div class="standart-container" data-showed-on-scroll>
    <h2>В комплекте <span class="h2-not-bold">— точные лекала, ракель, глина, раствор для монтажа, инструкция</span></h2>
    <div class="komplekt-3__template-s-plusikami" data-showed-on-scroll>
      <%- include('./../../blocks/template-s-plusikami/template-s-plusikami.ejs', {data:{tag_name: 'a'}})%>
    </div>
  </div>
  <div class="komplekt-3__img-complekt" data-showed-on-scroll>
    <%- include('./../../blocks/images/images.ejs', {data:{type: "bg",loader: true, url:"~@komplekt-3-abaut-kit-img/kit-complekt.png", pt:64.5161}})%>
  </div>
</div>