<div class="komplekt-3">
  <div class="standart-container" data-showed-on-scroll>
    <h2>О комплекте</h2>
  </div>
  <div class="komplekt-3__kit-data standart-container">
    <div class="komplekt-3__kit-data-text" data-showed-on-scroll>
      <p>Комплект полиуретановых плёнок Brontero для защиты кузова. Предназначен для самостоятельной установки. Японский полиуретан 150 мкм. Срок службы до 10 лет.</p>
      <p>Плёнка отличается высокими прочностными характеристиками, со временем не желтеет, не разрушается под действием ультрафиолета. Выдерживает значительные механические нагрузки на разрыв.</p>
      <p>В комплекте для Nissan Qashqai включены готовые элементы плёнки для защиты уязвимых зон кузова, а также инструмент для самостоятельного монтажа. Подробная инструкция идёт в комплекте, упакованном в жесткую тубу.</p>
    </div>
    <div class="komplekt-3__kit-data-template-interactiv-img" data-showed-on-scroll>
      <div class="komplekt-3__kit-data-template-interactiv-img-wrap" style="padding-top:76.1655%;">
        <%- include('./../../blocks/images/images.ejs', {data:{type: "bg-template",loader: true, url:"~@komplekt-3-abaut-kit-img/template.svg", pt:76.1655}})%>
        <div class="komplekt-3__kit-data-template-interactiv-img-wrap-plusik">
          <div class="komplekt-3__kit-data-template-interactiv-img-wrap-plusik-icon icon--plus"></div>
          <a href="#" class="komplekt-3__kit-data-template-interactiv-img-wrap-plusik-pop-up">Фары Фары Фары Фары Фары Фары</a>
        </div>
        <div class="komplekt-3__kit-data-template-interactiv-img-wrap-plusik" style="top: 30%; left: 92%;">
          <div class="komplekt-3__kit-data-template-interactiv-img-wrap-plusik-icon icon--plus"></div>
          <a href="#" class="komplekt-3__kit-data-template-interactiv-img-wrap-plusik-pop-up">Капот Капот Капот Капот Капот</a>
        </div>
        <div class="komplekt-3__kit-data-template-interactiv-img-wrap-plusik" style="top: 50%;">
          <div class="komplekt-3__kit-data-template-interactiv-img-wrap-plusik-icon icon--plus"></div>
          <a href="#" class="komplekt-3__kit-data-template-interactiv-img-wrap-plusik-pop-up">Бампер</a>
        </div>
      </div>
    </div>
  </div>
  <div class="komplekt-3__wrap-img-complekt" data-showed-on-scroll>
    <%- include('./../../blocks/images/images.ejs', {data:{type: "bg",loader: true, url:"~@glavnaya-6-product-set-img/kit-complekt.png", pt:64.5161}})%>
  </div>
</div>