<div class="fqa">
  <h2>Остались вопросы?</h2>
  <div class="fqa__spoiler">
    <div class="fqa__spoiler-title" tabindex="0">
      <div class="fqa__spoiler-title-text">Зачем нужен комплект Brontero?<div class="fqa__spoiler-title-text-toggle-icon icon--plusik icon--plusik--blue"></div>
      </div>
    </div>
    <div class="fqa__spoiler-wrap spoiler-hidden">
      <div class="fqa__spoiler-wrap-content">
        Создание комплектов для машин ранее 2016 года возможно при достижении определенного числа заявок. Кроме того, мы не разрабатываем комплекты для эксклюзивных авто. Обратитесь в детейлинговый центр для их защиты. Создание комплектов для машин ранее 2016 года возможно при достижении определенного числа заявок. Кроме того, мы не разрабатываем комплекты для эксклюзивных авто. Обратитесь в детейлинговый центр для их защиты.
      </div>
    </div>
  </div>
  <div class="fqa__spoiler">
    <div class="fqa__spoiler-title" tabindex="0">
      <div class="fqa__spoiler-title-text">Разрабатываете ли комплекты для старых авто?<div class="fqa__spoiler-title-text-toggle-icon icon--plusik icon--plusik--blue"></div>
      </div>
    </div>
    <div class="fqa__spoiler-wrap spoiler-hidden">
      <div class="fqa__spoiler-wrap-content">
        Создание комплектов для машин ранее 2016 года возможно при достижении определенного числа заявок. Кроме того, мы не разрабатываем комплекты для эксклюзивных авто. Обратитесь в детейлинговый центр для их защиты.
      </div>
    </div>
  </div>
  <div class="fqa__spoiler">
    <div class="fqa__spoiler-title" tabindex="0">
      <div class="fqa__spoiler-title-text">Что будет, если наклеить плёнку в неподходящих условиях — при ветре, пыли, морозной погоде и т.д.<div class="fqa__spoiler-title-text-toggle-icon icon--plusik icon--plusik--blue"></div>
      </div>
    </div>
    <div class="fqa__spoiler-wrap spoiler-hidden">
      <div class="fqa__spoiler-wrap-content">
        Создание комплектов для машин ранее 2016 года возможно при достижении определенного числа заявок. Кроме того, мы не разрабатываем комплекты для эксклюзивных авто. Обратитесь в детейлинговый центр для их защиты.
      </div>
    </div>
  </div>
  <div class="fqa__spoiler">
    <div class="fqa__spoiler-title" tabindex="0">
      <div class="fqa__spoiler-title-text">Что делать, если плёнку сорвёт во время мойки? Можно ли наклеить повторно?<div class="fqa__spoiler-title-text-toggle-icon icon--plusik icon--plusik--blue"></div>
      </div>
    </div>
    <div class="fqa__spoiler-wrap spoiler-hidden">
      <div class="fqa__spoiler-wrap-content">
        Создание комплектов для машин ранее 2016 года возможно при достижении определенного числа заявок. Кроме того, мы не разрабатываем комплекты для эксклюзивных авто. Обратитесь в детейлинговый центр для их защиты.
      </div>
    </div>
  </div>
  <div class="fqa__spoiler">
    <div class="fqa__spoiler-title" tabindex="0">
      <div class="fqa__spoiler-title-text">Можно ли переклеить плёнку, если допустил ошибку?<div class="fqa__spoiler-title-text-toggle-icon icon--plusik icon--plusik--blue"></div>
      </div>
    </div>
    <div class="fqa__spoiler-wrap spoiler-hidden">
      <div class="fqa__spoiler-wrap-content">
        Создание комплектов для машин ранее 2016 года возможно при достижении определенного числа заявок. Кроме того, мы не разрабатываем комплекты для эксклюзивных авто. Обратитесь в детейлинговый центр для их защиты.
      </div>
    </div>
  </div>
</div>