.scroll-to-top-button * {
    color: var(--white);
}

.scroll-to-top-button {
    position: fixed;
    display: flex;
    opacity: 0;
    border-radius: 50%;
    background-color: var(--black-disabled);
    transition: background-color var(--standart-anim);
    justify-content: center;
    align-items: center;
    width: rem(50);
    height: rem(50);
    bottom: rem(40);
    left: rem(30);
    font-size: rem(25);
    z-index: map-get($z-index, scroll-to-top-button);
    cursor: pointer;
    pointer-events: none;

    @media (any-hover: hover) {
        &:hover {
            background-color: var(--blue-transparent);
        }
    }

    @media (min-width: rem(640)) {
        bottom: adaptiv_rem_size(40, 640, 110, 960);
    }

    @media (min-width: rem(960)) {
        left: calc(var(--wwr) - rem(50) - adaptiv_rem_size(30, 960, 50, 1920));
        bottom: adaptiv_rem_size(110, 960, 120, 1920);
    }

    @media (min-width: rem(1920)) {
        width: adaptiv_rem_size(50, 1920);
        height: adaptiv_rem_size(50, 1920);
        bottom: adaptiv_rem_size(120, 1920);
        left: calc(var(--wwr) - adaptiv_rem_size(50, 1920) - adaptiv_rem_size(50, 1920));
        font-size: adaptiv_rem_size(25, 1920);
    }
}
