<div class="o-nas-2" data-showed-on-scroll>
  <div class="o-nas-2__first-block standart-container">
    <div class="o-nas-2__first-block-text">За 12 лет работы мы обслужили тысячи премиальных автомобилей</div>
    <div class="o-nas-2__first-block-img">
      <%- include('./../../blocks/images/images.ejs', {data:{type: "bg",loader: true, url:"~@o-nas-2-thri-img-text-img/bronter01.jpg", pt:156.087,}})%>
    </div>
    <div class="o-nas-2__first-block-overlay-img">
      <%- include('./../../blocks/images/images.ejs', {data:{type: "img",loader: true, url:"~@o-nas-2-thri-img-text-img/bronter02.jpg", pt:69.2308,}})%>
    </div>
  </div>
  <div class="o-nas-2__second-block standart-container">
    <div class="o-nas-2__second-block-img">
      <%- include('./../../blocks/images/images.ejs', {data:{type: "img",loader: true, url:"~@o-nas-2-thri-img-text-img/bronter03.jpg", pt:66.7949,}})%>
    </div>
  </div>
</div>