<div class="detal-2">
  <div class="standart-container">
    <h2 data-showed-on-scroll>О детали</h2>
    <div class="detal-2__text" data-showed-on-scroll>
      <p>Комплект полиуретановых плёнок Brontero для защиты кузова. Предназначен для самостоятельной установки. Японский полиуретан 150 мкм. Срок службы до 10 лет.</p>
      <p>Плёнка отличается высокими прочностными характеристиками, со временем не желтеет, не разрушается под действием ультрафиолета. Выдерживает значительные механические нагрузки на разрыв.</p>
      <p>В комплекте для Nissan Qashqai включены готовые элементы плёнки для защиты уязвимых зон кузова, а также инструмент для самостоятельного монтажа. Подробная инструкция идёт в комплекте, упакованном в жесткую тубу.</p>
    </div>
    <div class="detal-2__img" data-showed-on-scroll>
      <div class="detal-2__img-wrap">
        <%- include('./../../blocks/images/images.ejs', {data:{type: "bg-template",loader: true, url:"~@detal-2-about-img/template.svg", pt:76.1655}})%>
        <div class="detal-2-about-selected-icon icon--check-mark" style="top:88%; left:20%;"></div>
        <div class="detal-2-about-selected-icon icon--check-mark" style="top:88%; left:77%;"></div>
      </div>
    </div>
  </div>
</div>