<div class="o-nas-1" data-showed-on-scroll>
  <div class="o-nas-1_img">
    <%- include('./../../blocks/images/images.ejs', {data:{type: "img",loader: true, url:"~@o-nas-1-top-img-img/section.jpg", pt:40.3125,}})%>
  </div>
  <div class="o-nas-1_hlebnie-kroshki khlebnyye-kroshki">
    <div class="standart-container">
      <div class="khlebnyye-kroshki__body">
        <a href="#" class="link-default">Главная</a><span class="icon--arrow"></span>
        <div>О нас</div>
      </div>
    </div>
  </div>
  <div class="o-nas-1_text-wrap">
    <div class="standart-container">
      <div class="o-nas-1_text-wrap-content">
        Привет! Меня зовут Алексей Серков, 12 лет я занимаюсь детейлингом. Я предлагаю вам выгодный бизнес
      </div>
    </div>
  </div>
</div>