$icon-cart: "\e900";
$icon-cart_bold: "\e901";
$icon-close: "\e902";
$icon-close_bold: "\e903";
$icon-error_load: "\e904";
$icon-phone: "\e905";
$icon-ruble_currency: "\e906";
$icon-search: "\e907";
$icon-search_bold: "\e908";
$icon-arrow_middle: "\e909";
$icon-arrow_scroll_to_top: "\e90a";