<div class="detal-4-move-to-kit dark-block">
    <div class="standart-container" data-showed-on-scroll>
        <div class="detal-4-move-to-kit__link-wrap">
            <a href="http://localhost:3579/pages/komplekt.html?kit-composition-add=fary" class="button-main button-main--not-minmax-width detal-link-to-kit">← На страницу комплекта</a>
        </div>
       
    </div>
</div>