<%- include('./../templates/header-part.ejs', { base_url: "./../" })%>
  <main style="position: relative; height: 1400px;background-color: green; overflow-y: hidden;">
  </main>
  <%- include('./../templates/footer-part.ejs', { base_url: "./../" })%>