<%- include('./../components/page-parts/header/header.ejs')%>
<div class="top-page-block" data-header-background-color="var(--blue)">
  <script>
    /*указываем цвет подкладки хедера опираясь на data-header-background-color атрибут первого блока*/
    (() => d.getElementById("header-background").style.backgroundColor = d.querySelector("[data-header-background-color]").getAttribute("data-header-background-color"))();
  </script>
</div>
<%- include('./../components/page-parts/footer/footer.ejs')%>