<div class="oformit-zakaz-3">
  <div class="standart-container standart-container--after-line" data-showed-on-scroll>
    <h2>Оплата</h2>
    <div class="oformit-zakaz-3__promocod">
      <div>
        <div class="oformit-zakaz-3__promocod-input-wrap">
          <input id="promocod" class="custom-text-input" autocomplete="off" maxlength="100" placeholder="Промокод" disabled>
          <button class="oformit-zakaz-3__promocod-input-wrap-clean-input set-min-interactive-size icon--close-bold"></button>
        </div>
        <div class="oformit-zakaz-3__promocod-success">Промокод успешно применён!</div>
        <div class="oformit-zakaz-3__promocod-error">Неверный промокод и/или не применим ни к одному из товаров в заказе</div>
        <button class="oformit-zakaz-3__promocod-submit button-main button-main--black" disabled>Применить</button>
      </div>
      <div class="oformit-zakaz-3__promocod-prices">
        <div class="oformit-zakaz-3__promocod-prices-wrap">
          <div class="oformit-zakaz-3__promocod-prices-title">Сумма заказа</div>
          <div class="oformit-zakaz-3__promocod-prices-full">ожидание...</div>
        </div>
        <div class="oformit-zakaz-3__promocod-prices-wrap">
          <div class="oformit-zakaz-3__promocod-prices-title">Скидка по промокоду</div>
          <div class="oformit-zakaz-3__promocod-prices-promocod-discont">ожидание...</div>
        </div>
        <div class="oformit-zakaz-3__promocod-prices-wrap">
          <div class="oformit-zakaz-3__promocod-prices-title">Доставка</div>
          <div class="oformit-zakaz-3__promocod-prices-delivery">ожидание...</div>
        </div>
      </div>
      <div>При заказе от 1000 руб доставка бесплатная!</div>
    </div>
    <div class="oformit-zakaz-3__payment-info">
      <div>
        <div class="oformit-zakaz-3__payment-info-imges">
          <%- include('./../../blocks/images/images.ejs', {data:{type: "bg", url:"~@oformit-zakaz-3-oplata-img/visa-verefid.png", pt:25,}})%>
          <%- include('./../../blocks/images/images.ejs', {data:{type: "bg", url:"~@oformit-zakaz-3-oplata-img/mastercard-secure.png", pt:25,}})%>
          <%- include('./../../blocks/images/images.ejs', {data:{type: "bg", url:"~@oformit-zakaz-3-oplata-img/mir-accept.png", pt:25,}})%>
          <%- include('./../../blocks/images/images.ejs', {data:{type: "bg", url:"~@oformit-zakaz-3-oplata-img/umany.png", pt:25,}})%>
        </div>
        <div class="oformit-zakaz-3__payment-info-text">
          <p>Ввод данных банковской карты осуществляется на защищенной платежной странице АО «АЛЬФА-БАНК».</p>
          <p>После ввода данных банковской карты вы будете перенаправлены на страницу Вашего банка для ввода кода безопасности, который придет к Вам в СМС.</p>
        </div>
        <a href="#" class="oformit-zakaz-3__payment-info-link link-default set-min-interactive-size">Правила и конфиденциальность оплаты</a>
      </div>
    </div>
  </div>
</div>