<div class="instrukczii-1">
  <div class="standart-container" data-showed-on-scroll>
    <h1>Как установить комплект</h1>
    <h2>Самостоятельная установка по видеоинструкции</h2>
    <%- include('./../../blocks/selector-marka-model/selector-marka-model.ejs')%>
  </div>
</div>