<div class="glavnaya-2-video-block">
  <div class="standart-container" data-showed-on-scroll>
    <div class="glavnaya-2-video-block-video-wrap">
      <%- include('./../../blocks/iframe-youtube/iframe-youtube.ejs', {data:{src:"https://www.youtube.com/embed/Z_vRxbVvg_U", loader:true, }})%>
    </div>
  </div>
</div>