<div class="glavnaya-2">
  <div class="standart-container" data-showed-on-scroll>
    <div class="glavnaya-2-video-wrap">
      <%- include('./../../blocks/iframe-video/iframe-video.ejs', {data:{id:"eed42f27177ecc2afde3503b5e34b72a", loader:true, }})%>
    </div>
  </div>
</div>