.komplekt-1-full-kit-render-item-list {
    display: grid;
    grid-gap: var(--gap-10);

    li {
        display: flex;

        div.icon--check-mark {
            margin-right: rem(53);
            font-size: rem(14);
            color: var(--gray);

            @media (min-width: rem(640)) {
                margin-right: rem(30);
            }

            @media (min-width: rem(1920)) {
                margin-right: adaptiv_rem_size(30, 1920);
                font-size: adaptiv_rem_size(14, 1920);
            }
        }
    }
}

.komplekt-configurator {
    h1 {
        margin-bottom: var(--medium-gap);
    }

    &__full-wrap {
        grid-row-gap: rem(35);

        &-images-wrap {
            grid-column: 1/-1;

            @media (min-width: rem(640)) {
                grid-column: 1/7;
            }

            &-mobile-title {
                font: var(--h2);
                margin-bottom: rem(20);

                @media (min-width: rem(640)) {
                    display: none;
                }
            }
        }

        &-composition {
            grid-column: 1/-1;

            @media (min-width: rem(640)) {
                grid-column: 7/-1;
            }

            @media (min-width: rem(960)) {
                grid-column: 8/-1;
            }

            &-title {
                display: none;

                @media (min-width: rem(640)) {
                    display: block;
                    font: var(--h2);
                    margin-bottom: var(--small-gap);
                }
            }

            &-detals {
                margin-bottom: rem(30);

                @media (min-width: rem(640)) {
                    margin-bottom: adaptiv_rem_size(30, 640, 40, 1920);
                }

                @media (min-width: rem(1920)) {
                    margin-bottom: adaptiv_rem_size(40, 1920);
                }
            }

            &-tools {
                margin-bottom: rem(40);

                @media (min-width: rem(1920)) {
                    margin-bottom: adaptiv_rem_size(40, 1920);
                }
            }

            &-price {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                &-old {
                    width: 100%;
                    font: var(--h3);
                    margin-bottom: rem(10);

                    @media (min-width: rem(1920)) {
                        margin-bottom: adaptiv_rem_size(10, 1920);
                    }
                }

                &-current {
                    font: var(--h1);
                }

                &-discont {
                    font: var(--h1);
                    color: var(--gray);
                }
            }

            &-button {
                margin-top: var(--small-gap);
            }
        }
    }

    &__separator {
        margin: var(--medium-gap) 0;
        color: var(--gray);
        grid-column: 1/-1;
        display: flex;
        align-items: center;

        span {
            padding: 0 var(--gap);
        }

        &:after,
        &:before {
            content: '';
            border-top: var(--border-width) solid var(--gray);
            width: 50%;
            display: block;
        }
    }
}
