<div class="glavnaya-3">
  <div class="standart-container" data-showed-on-scroll>
    <h2>Выберите автомобиль</h2>
    <div class="glavnaya-3__list">
      <div class="glavnaya-3__list__item">
        <a href="#test">
          <div class="product-info">
            <div class="product-info__description">
              <div class="product-info__title">Geely model 1</div>
              <div class="product-info__small-description">краткое описание продукта в несколько слов</div>
              <div class="product-info__price-block">
                <div class="product-info__old-price old-price">15 000 ₽</div>
                <div class="product-info__current-price">11 000 ₽</div>
                <div class="product-info__discont discont">15</div>
              </div>
            </div>
            <div class="product-info__img-wrap">
              <div class="product-info__gradient-fon"></div>
              <div class="image" style="padding-top:66.6667%;">
                <img data-img-type="img" data-main data-src="~@product-small-info-block-img/front.jpg" data-original-w="2145" data-original-h="1430">
                <div data-img-type="svg-kit-items">
                  <object data-src="~@product-small-info-block-img/fary.svg"></object>
                  <object data-src="~@product-small-info-block-img/kapot.svg"></object>
                  <object data-src="~@product-small-info-block-img/krylya.svg"></object>
                  <object data-src="~@product-small-info-block-img/krysha.svg"></object>
                  <object data-src="~@product-small-info-block-img/peredniye-stoyki.svg"></object>
                  <object data-src="~@product-small-info-block-img/ruchki.svg"></object>
                </div>
                <div class="loader">
                  <div class="loader__circle"></div>
                </div>
              </div>
            </div>
            <div class="product-info__arrow icon--arrow-middle"></div>
          </div>
        </a>
      </div>
      <div class="glavnaya-3__list__item">
        <a href="#test">
          <div class="product-info">
            <div class="product-info__description">
              <div class="product-info__title">Geely model 1</div>
              <div class="product-info__small-description">краткое описание продукта в несколько слов</div>
              <div class="product-info__price-block">
                <div class="product-info__old-price old-price ruble-price">15000</div>
                <div class="product-info__current-price ruble-price">11000</div>
                <div class="product-info__discont discont">15</div>
              </div>
            </div>
            <div class="product-info__img-wrap">
              <div class="product-info__gradient-fon"></div>
              <div class="image" style="padding-top:66.6667%;">
                <img data-img-type="img" data-main data-src="~@product-small-info-block-img/front.jpg" data-original-w="2145" data-original-h="1430">
                <div data-img-type="svg-kit-items">
                  <object data-src="~@product-small-info-block-img/fary.svg"></object>
                  <object data-src="~@product-small-info-block-img/kapot.svg"></object>
                  <object data-src="~@product-small-info-block-img/krylya.svg"></object>
                  <object data-src="~@product-small-info-block-img/krysha.svg"></object>
                  <object data-src="~@product-small-info-block-img/peredniye-stoyki.svg"></object>
                  <object data-src="~@product-small-info-block-img/ruchki.svg"></object>
                </div>
                <div class="loader">
                  <div class="loader__circle"></div>
                </div>
              </div>
            </div>
            <div class="product-info__arrow icon--arrow-middle"></div>
          </div>
        </a>
      </div>
      <div class="glavnaya-3__list__item">
        <a href="#test">
          <div class="product-info">
            <div class="product-info__description">
              <div class="product-info__title">Geely model 1</div>
              <div class="product-info__small-description">краткое описание продукта в несколько слов</div>
              <div class="product-info__price-block">
                <div class="product-info__old-price old-price ruble-price">15000</div>
                <div class="product-info__current-price ruble-price">11000</div>
                <div class="product-info__discont discont">15</div>
              </div>
            </div>
            <div class="product-info__img-wrap">
              <div class="product-info__gradient-fon"></div>
              <div class="image" style="padding-top:66.6667%;">
                <img data-img-type="img" data-main data-src="~@product-small-info-block-img/front.jpg" data-original-w="2145" data-original-h="1430">
                <div data-img-type="svg-kit-items">
                  <object data-src="~@product-small-info-block-img/fary.svg"></object>
                  <object data-src="~@product-small-info-block-img/kapot.svg"></object>
                  <object data-src="~@product-small-info-block-img/krylya.svg"></object>
                  <object data-src="~@product-small-info-block-img/krysha.svg"></object>
                  <object data-src="~@product-small-info-block-img/peredniye-stoyki.svg"></object>
                  <object data-src="~@product-small-info-block-img/ruchki.svg"></object>
                </div>
                <div class="loader">
                  <div class="loader__circle"></div>
                </div>
              </div>
            </div>
            <div class="product-info__arrow icon--arrow-middle"></div>
          </div>
        </a>
      </div>
      <div class="glavnaya-3__list__item">
        <a href="#test">
          <div class="product-info">
            <div class="product-info__description">
              <div class="product-info__title">Geely model 1</div>
              <div class="product-info__small-description">краткое описание продукта в несколько слов</div>
              <div class="product-info__price-block">
                <div class="product-info__old-price old-price ruble-price">15000</div>
                <div class="product-info__current-price ruble-price">11000</div>
                <div class="product-info__discont discont">15</div>
              </div>
            </div>
            <div class="product-info__img-wrap">
              <div class="product-info__gradient-fon"></div>
              <div class="image" style="padding-top:66.6667%;">
                <img data-img-type="img" data-main data-src="~@product-small-info-block-img/front.jpg" data-original-w="2145" data-original-h="1430">
                <div data-img-type="svg-kit-items">
                  <object data-src="~@product-small-info-block-img/fary.svg"></object>
                  <object data-src="~@product-small-info-block-img/kapot.svg"></object>
                  <object data-src="~@product-small-info-block-img/krylya.svg"></object>
                  <object data-src="~@product-small-info-block-img/krysha.svg"></object>
                  <object data-src="~@product-small-info-block-img/peredniye-stoyki.svg"></object>
                  <object data-src="~@product-small-info-block-img/ruchki.svg"></object>
                </div>
                <div class="loader">
                  <div class="loader__circle"></div>
                </div>
              </div>
            </div>
            <div class="product-info__arrow icon--arrow-middle"></div>
          </div>
        </a>
      </div>
      <div class="glavnaya-3__list__item">
        <a href="#test">
          <div class="product-info">
            <div class="product-info__description">
              <div class="product-info__title">Geely model 1</div>
              <div class="product-info__small-description">краткое описание продукта в несколько слов</div>
              <div class="product-info__price-block">
                <div class="product-info__old-price old-price ruble-price">15000</div>
                <div class="product-info__current-price ruble-price">11000</div>
                <div class="product-info__discont discont">15</div>
              </div>
            </div>
            <div class="product-info__img-wrap">
              <div class="product-info__gradient-fon"></div>
              <div class="image" style="padding-top:66.6667%;">
                <img data-img-type="img" data-main data-src="~@product-small-info-block-img/front.jpg" data-original-w="2145" data-original-h="1430">
                <div data-img-type="svg-kit-items">
                  <object data-src="~@product-small-info-block-img/fary.svg"></object>
                  <object data-src="~@product-small-info-block-img/kapot.svg"></object>
                  <object data-src="~@product-small-info-block-img/krylya.svg"></object>
                  <object data-src="~@product-small-info-block-img/krysha.svg"></object>
                  <object data-src="~@product-small-info-block-img/peredniye-stoyki.svg"></object>
                  <object data-src="~@product-small-info-block-img/ruchki.svg"></object>
                </div>
                <div class="loader">
                  <div class="loader__circle"></div>
                </div>
              </div>
            </div>
            <div class="product-info__arrow icon--arrow-middle"></div>
          </div>
        </a>
      </div>
    </div>
    <a href="#" class="button-main">Смотреть все</a>
  </div>
</div>