<div class="header-search__input">
  <input type="text" placeholder="Найти" maxlength="100">
  <div class="header-search__input-control-icons">
    <button class="icon-search"></button>
    <button class="icon-close header-search__close-button"></button>
  </div>
</div>
<div class="header-search__results-wrap">
  <div class="header-search__loader"></div>
  <div class="header-search__results-data"></div>
  <div class="header-search__results-any-links"></div>
</div>