<div class="politika-konfidenczialnosti">
  <div class="standart-container" data-showed-on-scroll>
    <h1>Политика конфиденциальности</h1>
    <div class="politika-konfidenczialnosti__text">
      <p>1. Общие положения</p>
      <p>Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» (далее - Закон о персональных данных) и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных, предпринимаемые ООО «Бронтер» (далее – Оператор).</p>
    </div>
    <button class="politika-konfidenczialnosti__button button-main">Согласен</button>
    <div class="politika-konfidenczialnosti__description">Вернёт на предыдущую страницу с отметкой о согласии с нашей политикой конфиденциальности</div>
  </div>
</div>