<div class="detal-1-add-to-kit">
    <div class="standart-container">
      <h1>Защита передних фар Brontero® для Nissan Qashqai</h1>
      <div class="detal-1-add-to-kit__img-wrap">
        <div class="detal-1-add-to-kit__img-wrap-title">Добавить в комплект</div>
        <div class="image" style="padding-top:66.6667%;">
          <img data-img-type="img" data-main data-src="~@detal-1-add-to-kit-img/car.jpg" data-original-w="2145" data-original-h="1430">
          <div data-img-type="kit" data-src="~@detal-1-add-to-kit-img/kit.svg" data-kit-all-id="dvernie-ruchki fary kapot krylya krysha perednie-stoyki" data-kit-nead-id="fary"></div>
          <div class="loader">
            <div class="loader__circle"></div>
          </div>
        </div>
      </div>
      <div class="detal-1-add-to-kit__data">
        <div class="detal-1-add-to-kit__data-title">Добавить в комплект</div>
        <div class="detal-1-add-to-kit__data-add-to">
          <div class="detal-1-add-to-kit__data-add-to-checbox">
            <div class="custom-checbox active" data-item="fary">
                <div class="icon--check-mark"></div>
            </div>
          </div>
          <div class="detal-1-add-to-kit__data-add-to-data">
            <div class="detal-1-add-to-kit__data-add-to-data-title">Передние фары</div>
            <div class="detal-1-add-to-kit__data-add-to-data-price">1 250 ₽</div>
          </div>
        </div>
        <div class="detal-1-add-to-kit__data-price">1 250 ₽</div>
        <a href="http://localhost:3579/pages/komplekt.html?kit-composition-add=fary" class="button-main button-main--not-minmax-width detal-link-to-kit">← На страницу комплекта</a>
      </div>
    </div>
</div>