<div class="detal-1-add-to-kit" data-showed-on-scroll>
  <div class="standart-container">
    <h1>Защита передних фар Brontero® для Nissan Qashqai</h1>
    <div class="detal-1-add-to-kit__img-wrap">
      <div class="detal-1-add-to-kit__img-wrap-title">Добавить в комплект</div>
      <div class="image" data-front style="padding-top:66.6667%;">
        <img data-img-type="img" data-main data-src="~@komplekt-1-full-kit-img/front.jpg" data-original-w="2145" data-original-h="1430">
        <div data-img-type="svg-kit-items">
          <object id="ruchki" data-src="~@komplekt-1-full-kit-img/ruchki.svg"></object>
          <object id="fary" data-src="~@komplekt-1-full-kit-img/fary.svg"></object>
          <object id="peredniye-stoyki" data-src="~@komplekt-1-full-kit-img/peredniye-stoyki.svg"></object>
          <object id="kapot" data-src="~@komplekt-1-full-kit-img/kapot.svg"></object>
          <object id="krylya" data-src="~@komplekt-1-full-kit-img/krylya.svg"></object>
          <object id="krysha" data-src="~@komplekt-1-full-kit-img/krysha.svg"></object>
        </div>
        <div class="loader">
          <div class="loader__circle"></div>
        </div>
      </div>
    </div>
    <div class="detal-1-add-to-kit__data">
      <div class="detal-1-add-to-kit__data-title">Добавить в комплект</div>
      <div class="detal-1-add-to-kit__data-add-to">
        <div class="detal-1-add-to-kit__data-add-to-checbox">
          <div class="custom-checbox custom-checbox--blue">
            <input id="fary-checkbox" type="checkbox" disabled data-position="front">
            <label for="fary-checkbox" class="icon--check-mark"></label>
          </div>
        </div>
        <div>Передние фары</div>
      </div>
      <div class="detal-1-add-to-kit__data-price ruble-price">1 250</div>
      <a href="http://localhost:3579/pages/komplekt.html" class="button-main button-main--not-minmax-width detal-link-to-kit">← На страницу комплекта</a>
    </div>
  </div>
</div>
<script>
  GDS.product = {
    marka_model: 'Geely@@Coolray',
    detal: 'fary'
  }
  ksn_product_configurator_func.chenge_single_detal_checkbox_and_svg();
</script>