<div class="komplekt-1-full-kit komplekt-configurator">
  <div class="standart-container">
    <h1 data-showed-on-scroll>Комплект полиуретановых защитных пленок Brontec для Geely Coolray</h1>
  </div>
  <div class="komplekt-configurator__full-wrap standart-container">
    <div class="komplekt-configurator__full-wrap-images-wrap" data-showed-on-scroll>
      <div class="komplekt-configurator__full-wrap-images-wrap-mobile-title">Полная защита</div>
      <div class="image" style="padding-top:66.6667%;">
        <img data-img-type="img" data-main src="data:image/svg+xml;base64,PHN2Zz48L3N2Zz4=" data-src="~@komplekt-1-full-kit-img/front.jpg" data-original-w="2145" data-original-h="1430">
        <div data-img-type="svg-kit-items" data-all-active>
          <object type="image/svg+xml" data="data:image/svg+xml;base64,PHN2Zz48L3N2Zz4=" data-src="~@komplekt-1-full-kit-img/ruchki.svg"></object>
          <object type="image/svg+xml" data="data:image/svg+xml;base64,PHN2Zz48L3N2Zz4=" data-src="~@komplekt-1-full-kit-img/fary.svg"></object>
          <object type="image/svg+xml" data="data:image/svg+xml;base64,PHN2Zz48L3N2Zz4=" data-src="~@komplekt-1-full-kit-img/peredniye-stoyki.svg"></object>
          <object type="image/svg+xml" data="data:image/svg+xml;base64,PHN2Zz48L3N2Zz4=" data-src="~@komplekt-1-full-kit-img/kapot.svg"></object>
          <object type="image/svg+xml" data="data:image/svg+xml;base64,PHN2Zz48L3N2Zz4=" data-src="~@komplekt-1-full-kit-img/krylya.svg"></object>
          <object type="image/svg+xml" data="data:image/svg+xml;base64,PHN2Zz48L3N2Zz4=" data-src="~@komplekt-1-full-kit-img/krysha.svg"></object>
        </div>
        <div class="loader">
          <div class="loader__circle"></div>
        </div>
      </div>
      <div class="image" style="padding-top:66.6667%;">
        <img data-img-type="img" data-main src="data:image/svg+xml;base64,PHN2Zz48L3N2Zz4=" data-src="~@komplekt-1-full-kit-img/back.jpg" data-original-w="2145" data-original-h="1430">
        <div data-img-type="svg-kit-items" data-all-active>
          <object type="image/svg+xml" data="data:image/svg+xml;base64,PHN2Zz48L3N2Zz4=" data-src="~@komplekt-1-full-kit-img/bagazhnik.svg"></object>
        </div>
        <div class="loader">
          <div class="loader__circle"></div>
        </div>
      </div>
    </div>
    <div class="komplekt-configurator__full-wrap-composition" data-showed-on-scroll>
      <div class="komplekt-configurator__full-wrap-composition-title">Полная защита</div>
      <ul class="komplekt-configurator__full-wrap-composition-detals komplekt-1-full-kit-render-item-list">
        <li>Передние фары</li>
        <li>Полоса на капот</li>
        <li>Передние крылья</li>
        <li>Полоса на крышу</li>
        <li>Стойки лобового стекла</li>
        <li>Зона выгрузки багажника</li>
        <li>Дверные ручки</li>
      </ul>
      <ul class="komplekt-configurator__full-wrap-composition-tools komplekt-1-full-kit-render-item-list">
        <li>Мыльный раствор</li>
        <li>Абразивная глина</li>
        <li>Ракель</li>
      </ul>
      <div class="komplekt-configurator__full-wrap-composition-price">
        <div class="komplekt-configurator__full-wrap-composition-price-old ruble-price old-price">13 990</div>
        <div class="komplekt-configurator__full-wrap-composition-price-current ruble-price">11 990</div>
        <div class="komplekt-configurator__full-wrap-composition-price-discont discont-price">17</div>
      </div>
      <button class="komplekt-configurator__full-wrap-composition-button button-main button-main--add-in-cart button-main--not-minmax-width"></button>
    </div>
  </div>
  <div class="standart-container">
    <div class="komplekt-configurator__separator" data-showed-on-scroll><span>или</span></div>
  </div>
</div>