<div class="komplekt-2">
  <div class="standart-container" data-showed-on-scroll>
    <div class="komplekt-2__img">
      <%- include('./../../blocks/images/images.ejs', {data:{type: "img", url:"~@komplekt-2-uyazvimie-mesta-img/img.jpg", pt:61.6667,}})%>
    </div>
    <h2>До 80% сколов <span class="h2-not-bold">образуются на наиболее уязвимых частях кузова</span></h2>
    <div class="komplekt-2__text">
      <p style="font-family: 'Manrope-Bold';">Плёнки Brontero® защищают кромку капота, фары, дверные ручки и другие уязвимые детали от повреждений</p>
      <p>Это поможет сохранить внешний вид машины и её стоимость при продаже, избежать очагов коррозии.</p>
    </div>
  </div>
</div>