<div class="glavnaya-11">
  <div class="standart-container" data-showed-on-scroll>
    <%- include('./../../blocks/fqa/fqa.ejs')%>
  </div>
  <%- include('./../../blocks/decor-vertical-line/decor-vertical-line.ejs')%>
  <div class="standart-container" data-showed-on-scroll>
    <a href="#" class="glavnaya-11__button button-main">Выбрать автомобиль</a>
  </div>
</div>