.footer {
    background-color: var(--black);
    color: var(--white);
    padding: rem(55) 0 rem(60) 0;
    position: relative;

    @media (min-width: rem(640)) {
        padding: rem(80) 0 rem(40) 0;
    }

    @media (min-width: rem(1920)) {
        padding: adaptiv_rem_size(80, 1920) 0 adaptiv_rem_size(50, 1920) 0;
    }

    .standart-container {
        grid-auto-flow: dense;
        align-items: start;
    }

    &__menu {
        grid-column: 3/-1;

        @media (min-width: rem(640)) {
            grid-column: 1/5;
        }

        ul {
            display: grid;
            grid-gap: rem(10);
            font: var(--h3);

            @media (min-width: rem(640)) {
                grid-gap: adaptiv_rem_size(20, 640, 15, 1920);
            }

            @media (min-width: rem(1920)) {
                grid-gap: adaptiv_rem_size(15, 1920);
            }
        }
    }

    &__logo {
        grid-column: 3/-1;
        margin: rem(30) 0 rem(35) 0;
        width: rem(168);

        @media (min-width: rem(640)) {
            grid-column: 1/5;
        }

        @media (min-width: rem(640)) {
            margin: 0;
            width: adaptiv_rem_size(130, 640, 176, 1920);
        }

        @media (min-width: rem(1920)) {
            width: adaptiv_rem_size(176, 1920);
        }
    }

    &__marki {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: rem(20);
        margin: rem(35) 0 rem(40) 0;

        @media (min-width: rem(640)) {
            grid-column: 5/9;
            grid-template-columns: 1fr;
            margin-top: 0;
        }

        @media (min-width: rem(960)) {
            grid-template-columns: 1fr 1fr;
            margin-bottom: adaptiv_rem_size(40, 960, 70, 1920);
        }

        @media (min-width: rem(1920)) {
            grid-column-gap: adaptiv_rem_size(20, 1920);
            margin-bottom: adaptiv_rem_size(70, 1920);
        }

        ul {
            display: grid;
            grid-gap: rem(5);
            grid-template-columns: max-content;

            @media (min-width: rem(960)) {
                grid-gap: adaptiv_rem_size(5, 960, 10, 1920);
            }

            @media (min-width: rem(1920)) {
                grid-gap: adaptiv_rem_size(10, 1920);
            }
        }
    }

    &__socseti {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin-bottom: rem(40);

        @media (min-width: rem(640)) {
            grid-column: 5/9;
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: 0;
        }

        @media (min-width: rem(960)) {
            grid-template-columns: repeat(6, 1fr);
        }

        a {
            justify-items: center;
            min-width: auto;
        }

        &-img-wrap {
            width: rem(30);
            height: rem(30);

            @media (min-width: rem(1920)) {
                width: adaptiv_rem_size(30, 1920);
                height: adaptiv_rem_size(30, 1920);
            }
        }
    }

    &__company-info {
        grid-column: 1/-1;
        margin-bottom: rem(23);

        @media (min-width: rem(640)) {
            grid-column: 9/-1;
        }

        @media (min-width: rem(1280)) {
            grid-column: 10/-1;
        }

        &-contacts {
            display: grid;
            grid-template-columns: repeat(2, max-content);
            margin-bottom: rem(37);
            font: var(--h3);

            @media (min-width: rem(640)) {
                grid-gap: rem(10);
            }

            @media (min-width: rem(1920)) {
                grid-gap: adaptiv_rem_size(10, 1920);
            }
        }

        &-requisites {
            font: var(--small);

            @media (min-width: rem(640)) {
                margin-bottom: adaptiv_rem_size(20, 640, 24, 1920);
            }

            @media (min-width: rem(1920)) {
                margin-bottom: adaptiv_rem_size(24, 1920);
            }
        }

        &-privacy-policy {
            font: var(--small);
        }
    }

    &__payments-systems {
        grid-column: 1/7;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(30), max-content));
        grid-gap: rem(10) rem(20);

        @media (min-width: rem(640)) {
            grid-column: 9/-1;
        }

        @media (min-width: rem(1280)) {
            grid-column: 10/-1;
        }

        @media (min-width: rem(1920)) {
            grid-template-columns: repeat(auto-fit, minmax(adaptiv_rem_size(30, 1920), max-content));
            grid-gap: adaptiv_rem_size(10, 1920) adaptiv_rem_size(20, 1920);
        }

        &-img-wrap {
            min-width: auto !important;
        }
    }
}

.footer__decoration {
    //ПРИМЕЧАНИЕ: т.к. при расчётах позиции частей декорации получаютс не целые значения, элементы могут иметь ненужные зазоры в 1 пиксель что не нужно, для этого я сделал их соединение не впритых а в нахёляст на половину ширины их границы т.е. на 1 пиксель, и так же не забыл увеличть радиус круга на 1 пиксель соответственно, тем самым вроде больше нет зазоров про изменении ширины экрана
    --fd-border-w: #{rem(2)}; //толщина полос
    --fd-zazor: #{rem(17)}; //растояние между вертикальной левой и правой полосками
    --circle-radius: #{rem(19)}; //радиус круга
    --left-otstup: #{rem(20)}; //смещении декорации вправую сторону
    width: calc(100% - var(--left-otstup));
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;

    @media (min-width: rem(640)) {
        --fd-zazor: #{adaptiv_rem_size(17, 640, 23, 1920)};
        --circle-radius: #{adaptiv_rem_size(17, 640, 25, 1920)};
        --left-otstup: #{rem(5)}; //смещении декорации вправую сторону
    }

    @media (min-width: rem(1240)) {
        //30+1180+30
        --left-otstup: #{adaptiv_rem_size(5, 1240, 278, 1920)}; //смещении декорации вправую сторону
    }

    @media (min-width: rem(1920)) {
        --fd-border-w: #{adaptiv_rem_size(2, 1920)};
        --fd-zazor: #{adaptiv_rem_size(23, 1920)};
        --circle-radius: #{adaptiv_rem_size(25, 1920)};
        --left-otstup: #{adaptiv_rem_size(278, 1920)}; //смещении декорации вправую сторону
    }

    div {
        position: absolute;
    }

    &-top-line {
        width: calc(100% - var(--fd-zazor));
        left: var(--fd-zazor);
        border-top: var(--fd-border-w) solid var(--blue);
    }

    &-bottom-line {
        width: calc(100% - var(--fd-zazor));
        bottom: var(--fd-border-w);
        left: var(--fd-zazor);
        border-top: var(--fd-border-w) solid var(--blue);
    }

    &-left-line {
        height: calc(100% - var(--fd-border-w));
        bottom: var(--circle-radius);
        left: calc(var(--fd-border-w) / 2);
        border-left: var(--fd-border-w) solid var(--blue);
    }

    &-right-line {
        height: calc(100% - var(--fd-border-w));
        bottom: calc(var(--circle-radius) * 2);
        left: calc(var(--fd-zazor) + var(--fd-border-w) / 2);
        border-left: var(--fd-border-w) solid var(--blue);
    }

    &-top-circle {
        width: var(--circle-radius);
        height: calc(var(--circle-radius) * 2);
        top: calc(var(--circle-radius) * -2 + var(--fd-border-w));
        left: calc(var(--fd-border-w) / 2);
        border: var(--fd-border-w) solid var(--blue);
        border-right: 0;
        border-radius: 100% 0 0 100% / 50%;
    }

    &-bottom-circle {
        width: var(--circle-radius);
        height: calc(var(--circle-radius) * 2);
        bottom: var(--fd-border-w);
        left: calc(var(--fd-border-w) / 2);
        border: var(--fd-border-w) solid var(--blue);
        border-right: 0;
        border-radius: 100% 0 0 100% / 50%;
    }
}
