.template-s-plusikami {
    position: relative;
    width: 100%;

    .image {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
    }

    &-plusik {
        position: absolute;
        transform: translate(-25%, -25%);

        &-icon {
            background-color: var(--blue);
            border-radius: 50%;
            width: var(--30);
            height: var(--30);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: opacity var(--standart-anim);
            opacity: 0;
        }

        &-pop-up {
            position: absolute;
            max-width: var(--280);
            width: max-content;
            padding: var(--10) var(--24);
            background-color: var(--white);
            border-radius: var(--border-radius);
            box-shadow: 0px 0px var(--8) rgba(0, 0, 0, 0.25);
            display: none;
            opacity: 0;
            pointer-events: none;
        }
    }
}

a.template-s-plusikami-plusik-pop-up {
    color: var(--blue);
    text-decoration: underline;

    @media (any-hover: hover) {
        &:hover {
            color: var(--blue-hover);
        }
    }

    &:focus {
        color: var(--blue-hover);
    }
}

.template-upload [class*='-icon'] {
    opacity: 1;
}

@media (any-hover: hover) {
    .hovered {
        z-index: 1;

        [class*='-plusik-icon'] {
            background-color: var(--blue-hover);
        }

        [class*='-plusik-pop-up'] {
            pointer-events: auto;
            opacity: 1;
            
        }
    }
}

.touched {
    z-index: 1;
}

.touched [class*='-plusik-icon'] {
    background-color: var(--blue-hover);

    &:before {
        transform: rotate(45deg);
    }
}

.touched [class*='-plusik-pop-up'] {
    pointer-events: auto;
    opacity: 1;
}
