<div class="struktura-plenki-img-info" data-showed-on-scroll>
  <div class="struktura-plenki-img-info-layers-description">
    <div class="struktura-plenki-img-info-layers-description-first">18 мкм — самовосстанавливающийся глянцевый верхний слой (лак)</div>
    <div class="struktura-plenki-img-info-layers-description-second">150 мкм — слой полиуретана</div>
    <div class="struktura-plenki-img-info-layers-description-third">клеевой слой, не оставляющий следов при снятии</div>
    <div class="struktura-plenki-img-info-layers-description-fourth">монтажная подложка</div>
  </div>
  <div class="struktura-plenki-img-info-img-wrap">
    <%- include('./../../blocks/images/images.ejs', {data:{type: "bg",loader: true, url:"~@struktura-plenki-img-info-img/layers.png", pt:86.79775,}})%>
  </div>
</div>