<div class="glavnaya-7 dark-block">
  <div class="standart-container" data-showed-on-scroll>
    <h2>Видеоинструкции — как монтировать самостоятельно</h2>
    <div class="glavnaya-7__video-block">
        <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
    </div>
    <div class="glavnaya-7__video-block">
        <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
    </div>
    <div class="glavnaya-7__video-block">
        <%- include('./../../blocks/standart-video-block/standart-video-block.ejs')%>
    </div>
    <a href="#" class="button-main button-main--white">Все инструкции</a>
  </div>
</div>