.image {
    position: relative;
    width: 100%;

    > div:first-child,
    > img,
    svg {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity var(--standart-anim);
        background: center / cover no-repeat border-box;
    }
}

.image.kit-done > svg {
    opacity: 1;
}
