.image {
    position: relative;
    width: 100%;

    > div:first-child,
    > img,
    > [data-img-type='kit'],
    > [data-img-type='overlay-img'],
    > [data-img-type='overlay-bg'],
    > .svg-kit-wrap {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity var(--standart-anim);
        background: center / cover no-repeat border-box;
    }

    svg {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        fill:none;
    }
}
