.picture {
    position: relative;

    &__body {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity var(--standart-anim);
        background: center / cover no-repeat border-box;
    }
}

.picture.uploaded .picture__body,
.picture.portrait-uploaded .picture__body,
.picture.landscape-uploaded .picture__body {
    opacity: 1;
}
