#cart_overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--white);
    opacity: 0;
    z-index: 1;
}

#cart {
    display: none;
    position: absolute;
    top: 0;
    right: -34%;
    width: 34%;
    background-color: transparent;
    padding: 10px 0 10px 10px;
    z-index: 2;
}

.cart_wrapper {
    position: relative;
    background-color: var(--white);
    height: 100%;
    border: 2px solid var(--blue);
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


/*верхний блок в корзине кде кнопка закрытия*/
.cart_top_block {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
}


.cart_top_block .header_cart {
    height: 100%;
}

/*верхний блок в корзине кде кнопка закрытия*/

@media (max-width: 1000px) {
    #cart {
        width: 50%;
        right: -50%;
    }
}

@media (max-width: 800px) {
    #cart {
        width: 70%;
        right: -70%;
    }
}

@media (min-width: 640px) and (max-width: 799px) {
    #cart {
        width: 90%;
        right: -90%;
    }
}

@media (max-width: 639px) {
    #cart {
        width: 100%;
        right: -100%;
    }
}