/*
*
НИЗ САЙТА
*
*/

/*оболочка футера*/
footer {
    background-color: var(--black);
    color: var(--white);
}

.footer_wraper {
    padding-top: var(--80px);
    padding-bottom: var(--50px);
}

@media (max-width: 959px) {
    .footer_wraper {
        padding-bottom: var(--40px);
    }
}

@media (max-width:639px) {
    .footer_wraper {
        padding-top: var(--55px);
        padding-bottom: var(--60px);
    }
}

/*оболочка футера*/

/*декорация футера*/
.foter_decoration {
    width: 87%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

@media (max-width: 1650px) {
    .foter_decoration {
        width: 95%;
    }
}

@media (max-width: 1300px) {
    .foter_decoration {
        width: 98%;
    }
}

@media (max-width: 960px) {
    .foter_decoration {
        width: 99.7%;
    }
}

@media (min-width:640px) {
    .foter_decoration {
        height: 100% !important;
    }
}

@media (max-width:639px) {
    .foter_decoration {
        width: 87%;
    }
}

.top_line,
.bottom_line,
.right_line,
.left_line,
.top_circle,
.bottom_circle {
    position: absolute;
}

.top_line {
    width: calc(100% - var(--25px));
    height: var(--2px);
    top: 0px;
    left: var(--25px);
    border-top: var(--2px) solid var(--blue);
}

.bottom_line {
    width: calc(100% - var(--25px));
    height: var(--2px);
    bottom: var(--2px);
    left: var(--25px);
    border-top: var(--2px) solid var(--blue);
}

.left_line {
    width: var(--2px);
    height: calc(100% - var(--2px));
    bottom: var(--27px);
    left: 0;
    border-left: var(--2px) solid var(--blue);
}

.right_line {
    width: var(--2px);
    height: calc(100% - var(--2px));
    bottom: var(--50px);
    left: var(--25px);
    border-left: var(--2px) solid var(--blue);
}

.top_circle {
    width: var(--25px);
    height: var(--50px);
    top: calc(0px - var(--48px));
    left: 0;
    border: var(--2px) solid var(--blue);
    border-right: 0;
    border-radius: 100% 0 0 100% / 50%;
}

.bottom_circle {
    width: var(--25px);
    height: var(--50px);
    bottom: var(--2px);
    left: 0;
    border: var(--2px) solid var(--blue);
    border-right: 0;
    border-radius: 100% 0 0 100% / 50%;
}


@media (max-width: 1200px) {
    .top_line {
        width: calc(100% - var(--20px));
        left: var(--20px);
    }

    .bottom_line {
        width: calc(100% - var(--20px));
        left: var(--20px);
    }

    .left_line {
        bottom: var(--22px);
    }

    .right_line {
        bottom: var(--40px);
        left: var(--20px);
    }

    .top_circle {
        width: var(--20px);
        height: var(--40px);
        top: calc(0px - var(--38px));
    }

    .bottom_circle {
        width: var(--20px);
        height: var(--40px);
    }
}

/*декорация футера*/










/*блоки футера*/
.footer_item {
    align-content: space-between;
}

.menu_footer,
.select_model_page,
.info_footer {
    padding-bottom: var(--65px);
}

@media (max-width:639px) {

    .menu_footer,
    .select_model_page,
    .info_footer {
        padding-bottom: var(--40px);
    }

    .footer_item {
        justify-content: center;
    }
}

/*блоки футера*/

/*первый блок*/
.menu_footer .menu_footer_link {
    padding-bottom: var(--14px);
    font: var(--h3);
}

@media (max-width: 959px) {
    .menu_footer .menu_footer_link {
        padding-bottom: var(--20px);
    }

    .menu_footer {
        padding-right: var(--20px);
    }
}

@media (max-width:639px) {
    .menu_footer {
        padding-right: 0;
    }
}

.menu_footer .menu_footer_link:last-child {
    padding-bottom: 0;
}

/*первый блок*/

/*логотип в футере*/
.logo_footer a {
    display: block;
}

.logo_footer a {
    max-width: var(--180px);
}

@media (max-width: 959px) {
    .logo_footer a {
        max-width: var(--130px);
    }
}

@media (max-width:639px) {
    .logo_footer{
        padding-bottom: 40px;
    }
    .logo_footer a {
        max-width: var(--170px);
    }
}

/*логотип в футере*/

/*второй блок*/
.select_model_page .select_model_column:first-child {
    padding-right: var(--20px);
}

.select_model_column>div {
    padding-bottom: var(--10px);
}

.select_model_column>div:last-child {
    padding-bottom: 0;
}

@media (max-width: 959px) {
    .select_model_column>div:last-child {
        padding-bottom: var(--5px);
    }

    .select_model_column>div {
        padding-bottom: var(--5px);
    }

    .select_model_column:last-child>div:last-child {
        padding-bottom: 0;
    }
}

@media (max-width:639px) {
    .select_model_page{
        padding-top: 35px;
    }
}

/*второй блок*/

/*соцсети в футере*/
@media (min-width: 960px) {
    .social_footer .img_social {
        padding-right: var(--16px);
    }
}

.social_footer .img_social a {
    width: 100%;
    height: 100%;
    display: block;
}

@media (max-width: 959px) {
    .social_footer .img_social {
        max-height: var(--30px);
    }
}

@media (max-width:639px) {
    .social_footer {
        padding-bottom: var(--40px);
    }

    .social_footer .svg_img svg {
        width: auto;
    }
}

/*соцсети в футере*/

/*третий блок*/
.info_footer .phone_footer {
    font: var(--h3);
    padding-bottom: var(--15px);
}

.info_footer .mail {
    font: var(--h3);
    padding-bottom: var(--30px);
}

.organization_footer_info {
    font: var(--small);
    padding-bottom: var(--24px);
}

.politica_konf {
    font: var(--small);
}

@media (max-width: 959px) {
    .info_footer .phone_footer {
        padding-bottom: var(--20px);
    }

    .info_footer .mail {
        padding-bottom: var(--20px);
    }

    .organization_footer_info {
        padding-bottom: var(--20px);
    }
}

@media (max-width:639px) {
    .info_footer .phone_footer {
        padding-bottom: 0;
    }

    .info_footer .mail {
        padding-bottom: var(--37px);
    }

    .organization_footer_info {
        padding-bottom: 0;
    }

    .footer_item:last-child>.info_footer {
        padding-bottom: var(--23px);
    }
}

/*третий блок*/

/*платёжные системы в футере*/
.payment_sistem_img {
    max-width: var(--36px);
    max-height: var(--36px);
    margin-right: var(--16px);
}

.payment_sistem_img .svg_img {
    width: 100%;
    height: 100%;
}

@media (max-width: 959px) {
    .payment_sistem_img {
        max-width: var(--30px);
        max-height: var(--30px);
        margin-right: var(--20px);
    }
}

/*платёжные системы в футере*/


/*
*
НИЗ САЙТА
*
*/