[data-custom-scrollbar] {
    position: relative;
}

.custom_scroll_wrap {
    height: 100%;
    width: 100%;
    will-change: scroll-position;
}

[data-custom-scrollbar]::-webkit-scrollbar,
.custom_scroll_wrap::-webkit-scrollbar {
    display: none;
}

[data-custom-scrollbar],
.custom_scroll_wrap {
    scrollbar-width: none;
}

.vertical_scroll {
    position: absolute;
    display: none;
    right: 0;
    top: 0;
    width: var(--6px);
    height: 100%;
}

header.disable_scrollbar_actions>.custom_scroll_wrap {
    overflow: visible visible !important;
}

[data-custom-scrollbar].hide_scrollbar>.custom_scroll_wrap>.vertical_scroll {
    display: none !important;
}

body>.custom_scroll_wrap>.vertical_scroll {
    z-index: 10;
}

header>.custom_scroll_wrap>.vertical_scroll {
    z-index: 10;
}

.vertical_scroll .scroll_slider {
    position: absolute;
    right: 0;
    top: 0;
    height: 10%;
    width: 100%;
    min-height: var(--45px);
    border-radius: var(--5px);
    background-color: var(--black-transparent);
    transition: background-color var(--standart-anim);
}

.vertical_scroll .scroll_slider.active_scroll,
body:not(.touch_devise) .vertical_scroll .scroll_slider:hover {
    background-color: var(--black-hover);
}

.vertical_scroll.hidden {
    opacity: 0 !important;
}