/*лоадер
<div class="loader_wrap">
    <div class="loader"></div>
</div>
*/
@keyframes loader {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader_wrap {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
}

.loader_wrap .loader {
    position: absolute;
    width: var(--40px);
    height: var(--40px);
    border-width: var(--4px);
    border-style: solid;
    border-radius: 50%;
    border-color: var(--blue-transparent);
    border-top-color: var(--blue);
    border-bottom-color: var(--blue);
    animation: loader 1s infinite linear;
}

/*лоадер*/


/*бургер кнопка переходящая при активации в крестик и обратно при деактивации
<div class="burger_button_wrap">
    <div class="burger_button">
        <div class="burger_line_1"></div>
        <div class="burger_line_2"></div>
        <div class="burger_line_3"></div>
        <div class="burger_line_4"></div>
    </div>
</div>
*/
@media (max-width: 39.9375em) {
    .burger_button_wrap {
        position: relative;
        padding-top: 100%;
    }

    .burger_button_wrap .burger_button {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .burger_button_wrap .burger_button>div {
        width: 100%;
        border-top: var(--2px) solid var(--black);
        position: absolute;
        transition: all var(--standart-anim);
    }

    .burger_button_wrap .burger_button .burger_line_1 {
        top: calc(20% - var(--2px));
    }

    .burger_button_wrap .burger_button .burger_line_3,
    .burger_button_wrap .burger_button .burger_line_2 {
        top: calc(50% - var(--2px)/2);
    }

    .burger_button_wrap .burger_button .burger_line_4 {
        top: 80%;
    }

    .open .burger_button_wrap .burger_button .burger_line_2 {
        transform: rotate(45deg);
    }

    .open .burger_button_wrap .burger_button .burger_line_3 {
        transform: rotate(-45deg);
    }

    .open .burger_button_wrap .burger_button .burger_line_1,
    .open .burger_button_wrap .burger_button .burger_line_4 {
        opacity: 0;
    }
}

/*бургер кнопка переходящая при активации в крестик и обратно при деактивации*/




































/*картинка лупы
<div class="glass_wrap">
    <div class="glass">
        <div class="circle"></div>
        <div class="leg"></div>
    </div>
</div>
*/
/*.glass_wrap {
    position: relative;
    padding-top: 100%;
}

.glass_wrap .glass {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.glass_wrap .circle {
    position: absolute;
    right: 0;
    width: 75%;
    height: 75%;
    border: var(--1px) solid var(--black);
    border-radius: 50%;
}

.glass_wrap .leg {
    width: 51.25%;
    position: absolute;
    bottom: 0;
    left: var(--1px);
    transform-origin: bottom left;
    border-top: var(--1px) solid var(--black);
    transform: rotate(-45deg);
}
*/
/*картинка лупы*/

/*стрелки
<div class="arrow_wrap middle">
    <div class="arrow">
        <div class="line_1"></div>
        <div class="line_2"></div>
        <div class="line_3"></div>
    </div>
</div>
*/
/*ПРИМЕЧАНИЕ: чтоб не было артифактов в видео пустых мест в с тредке или покосившихся элементов 
блок стрелки arrow_wrap не должен превышать габариты своего родителя*/
/*--arrow-y высота из соотношения*/
/*--arrow-x ширина из соотношения*/
/*.large.arrow_wrap {
    --arrow-y: 40;
    --arrow-x: 18;
}

.middle.arrow_wrap {
    --arrow-y: 26;
    --arrow-x: 17;
}

.small.arrow_wrap {
    --arrow-y: 22;
    --arrow-x: 18;
}

.very_small.arrow_wrap {
    --arrow-y: 15;
    --arrow-x: 13;
}*/
/*
.arrow_wrap {
    --square-root-2: 1.414213562373095;*/
/*квадратный корень из числа 2*/
/*--pt: calc(var(--arrow-y)/var(--arrow-x)*100%);*/
/*padding-top для блока arrow_wrap*/
/*--width-line_1: calc(100%*2/var(--arrow-x));*/
/*ширина столба line_1 относительно ширины x*/
/*--height-line_1: calc(100% - 100%*var(--square-root-2)/(var(--arrow-y)/2) + 100%/var(--arrow-y)*var(--square-root-2));*/
/*высота height столба line_1 относительно высоты y*/
/*--width-line_1_2: calc(100%/var(--square-root-2));*/
/*длинна width наклонного луча стрелки line_2 и line_3 относительно ширины x*/
/*--height-line_2_3: calc(100%/(var(--arrow-y)/2));*/
/*толщина height наклонного луча стрелки line_2 и line_3 относительно высоты y*/
/*  --position-gorisontal-line_2_3: calc((100%/var(--square-root-2) - 100%/2)*-1);*/
/*правая позиция line_3 и левая позиция line_2*/
/*    --arrow-color: var(--white);*/
/*цвет стрелки*/
/*    position: relative;
    padding-top: var(--pt);
}*/
/*
.arrow_wrap .arrow {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}*/

/*
x - ширина родительского блока
y - высота родительского блока
ширина столба line_1  = 2x/17;
высота height столба line_1  = y - (y*Math.sqrt(2)/13) + y/26*Math.sqrt(2) = 94.5607%
длинна width наклонного луча стрелки line_2 и line_3  = x/Math.sqrt(2) = 70.7107%
толщина height наклонного луча стрелки line_2 и line_3 и столба line_1 относительно высоты y = y/13 = 7.6923%
правая позиция line_3 и левая позиция line_2  = x/Math.sqrt(2) - x/2 = 20.7107%
*/
/*
.arrow_wrap .line_1 {
    width: var(--width-line_1);
    height: var(--height-line_1);
    background-color: var(--arrow-color);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.arrow_wrap .line_2 {
    position: absolute;
    left: var(--position-gorisontal-line_2_3);
    width: var(--width-line_1_2);
    height: var(--height-line_2_3);
    transform: rotate(-45deg);
    background-color: var(--arrow-color);
    transform-origin: 100% 0%;
}

.arrow_wrap .line_3 {
    position: absolute;
    right: var(--position-gorisontal-line_2_3);
    width: var(--width-line_1_2);
    height: var(--height-line_2_3);
    transform: rotate(45deg);
    background-color: var(--arrow-color);
    transform-origin: 0% 0%;
}
*/
/*стрелки*/


/*кнопка крестик для закрытия окон
<div class="close_button_wrap">
    <div class="close_button">
        <div class="line_1"></div>
        <div class="line_2"></div>
    </div>
</div>
*/
/*.close_button_wrap {
    position: relative;
    padding-top: 100%;
}

.close_button_wrap .close_button {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.close_button_wrap .close_button .line_1 {
    width: 100%;
    position: absolute;
    top: 50%;
    border-top: var(--2px) solid var(--black);
    transform: rotate(45deg);
}

.close_button_wrap .close_button .line_2 {
    width: 100%;
    position: absolute;
    top: 50%;
    border-top: var(--2px) solid var(--black);
    transform: rotate(-45deg);
}
*/
/*кнопка крестик для закрытия окон*/