<div class="glavnaya-10">
  <div class="standart-container" data-showed-on-scroll>
    <h2>Частые вопросы</h2>
    <div class="glavnaya-10__fqa-wrap">
      <div class="glavnaya-10__fqa-wrap-spoiler">
        <div class="glavnaya-10__fqa-wrap-spoiler-title" tabindex="0">
          <div class="glavnaya-10__fqa-wrap-spoiler-title-text">Зачем нужен комплект Brontero?<div class="glavnaya-10__fqa-wrap-spoiler-title-text-toggle-icon icon--plus"></div>
          </div>
        </div>
        <div class="glavnaya-10__fqa-wrap-spoiler-wrap" hidden>
          <div class="glavnaya-10__fqa-wrap-spoiler-wrap-content">
            Создание комплектов для машин ранее 2016 года возможно при достижении определенного числа заявок. Кроме того, мы не разрабатываем комплекты для эксклюзивных авто. Обратитесь в детейлинговый центр для их защиты. Создание комплектов для машин ранее 2016 года возможно при достижении определенного числа заявок. Кроме того, мы не разрабатываем комплекты для эксклюзивных авто. Обратитесь в детейлинговый центр для их защиты.
          </div>
        </div>
      </div>
      <div class="glavnaya-10__fqa-wrap-spoiler">
        <div class="glavnaya-10__fqa-wrap-spoiler-title" tabindex="0">
          <div class="glavnaya-10__fqa-wrap-spoiler-title-text">Разрабатываете ли комплекты для старых авто?<div class="glavnaya-10__fqa-wrap-spoiler-title-text-toggle-icon icon--plus"></div>
          </div>
        </div>
        <div class="glavnaya-10__fqa-wrap-spoiler-wrap" hidden>
          <div class="glavnaya-10__fqa-wrap-spoiler-wrap-content">
            Создание комплектов для машин ранее 2016 года возможно при достижении определенного числа заявок. Кроме того, мы не разрабатываем комплекты для эксклюзивных авто. Обратитесь в детейлинговый центр для их защиты.
          </div>
        </div>
      </div>
      <div class="glavnaya-10__fqa-wrap-spoiler">
        <div class="glavnaya-10__fqa-wrap-spoiler-title" tabindex="0">
          <div class="glavnaya-10__fqa-wrap-spoiler-title-text">Что будет, если наклеить плёнку в неподходящих условиях — при ветре, пыли, морозной погоде и т.д.<div class="glavnaya-10__fqa-wrap-spoiler-title-text-toggle-icon icon--plus"></div>
          </div>
        </div>
        <div class="glavnaya-10__fqa-wrap-spoiler-wrap" hidden>
          <div class="glavnaya-10__fqa-wrap-spoiler-wrap-content">
            Создание комплектов для машин ранее 2016 года возможно при достижении определенного числа заявок. Кроме того, мы не разрабатываем комплекты для эксклюзивных авто. Обратитесь в детейлинговый центр для их защиты.
          </div>
        </div>
      </div>
      <div class="glavnaya-10__fqa-wrap-spoiler">
        <div class="glavnaya-10__fqa-wrap-spoiler-title" tabindex="0">
          <div class="glavnaya-10__fqa-wrap-spoiler-title-text">Что делать, если плёнку сорвёт во время мойки? Можно ли наклеить повторно?<div class="glavnaya-10__fqa-wrap-spoiler-title-text-toggle-icon icon--plus"></div>
          </div>
        </div>
        <div class="glavnaya-10__fqa-wrap-spoiler-wrap" hidden>
          <div class="glavnaya-10__fqa-wrap-spoiler-wrap-content">
            Создание комплектов для машин ранее 2016 года возможно при достижении определенного числа заявок. Кроме того, мы не разрабатываем комплекты для эксклюзивных авто. Обратитесь в детейлинговый центр для их защиты.
          </div>
        </div>
      </div>
      <div class="glavnaya-10__fqa-wrap-spoiler">
        <div class="glavnaya-10__fqa-wrap-spoiler-title" tabindex="0">
          <div class="glavnaya-10__fqa-wrap-spoiler-title-text">Можно ли переклеить плёнку, если допустил ошибку?<div class="glavnaya-10__fqa-wrap-spoiler-title-text-toggle-icon icon--plus"></div>
          </div>
        </div>
        <div class="glavnaya-10__fqa-wrap-spoiler-wrap" hidden>
          <div class="glavnaya-10__fqa-wrap-spoiler-wrap-content">
            Создание комплектов для машин ранее 2016 года возможно при достижении определенного числа заявок. Кроме того, мы не разрабатываем комплекты для эксклюзивных авто. Обратитесь в детейлинговый центр для их защиты.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="standart-container" data-showed-on-scroll>
    <div class="glavnaya-10__decor-vertical-line"></div>
    <a href="#" class="glavnaya-10__button button-main">Выбрать комплект</a>
  </div>
</div>