<div class="standart-video-block">
    <div class="standart-video-block__video">
        <%- include('./../../blocks/iframe-video/iframe-video.ejs', {data:{id:"eed42f27177ecc2afde3503b5e34b72a", loader:true, }})%>
    </div>
    <div class="standart-video-block__title">Монтаж плёнки на стойки задних дверей</div>
    <div class="standart-video-block__time">5:15</div>
</div>