<div class="standart-video-block">
    <div class="standart-video-block__video">
        <%- include('./../../blocks/iframe-youtube/iframe-youtube.ejs', {data:{src:"https://www.youtube.com/embed/Z_vRxbVvg_U", loader:true, }})%>
    </div>
    <div class="standart-video-block__title">Монтаж плёнки на стойки задних дверей</div>
    <div class="standart-video-block__time">5:15</div>
</div>