<div class="glavnaya-9 blue-block">
    <div class="standart-container">
        <div class="glavnaya-9__img-wrap" data-showed-on-scroll>
            <div class="image" style="padding-top: 98.5294%;">
                <div data-img-type="bg" data-main data-src="~@glavnaya-9-blue-block-img/car.jpg" data-original-w="680" data-original-h="670"></div>
                <div data-img-type="bg-overlay" data-src="~@glavnaya-9-blue-block-img/car-overlay.svg"></div>
                <div class="loader loader--white">
                  <div class="loader__circle"></div>
                </div>
              </div>
        </div>
        <div class="glavnaya-9__text-wrap" data-showed-on-scroll>
            <h2>Соберите свой комплект:<br><span class="h2-not-bold">только капот или только фары</span></h2>
            <div class="glavnaya-9__text-wrap-description">Начните с защиты небольших элементов</div>
            <a href="#" class="button-main button-main--black">Выбрать автомобиль</a>
        </div>
    </div>
</div>