<div class="glavnaya-5" data-showed-on-scroll>
  <div class="standart-container">
    <h2>Свойства полиуретановой плёнки Brontero®</h2>
    <div class="glavnaya-5__boxes">
      <div class="glavnaya-5__boxes-box">
        <div class="glavnaya-5__boxes-box-title">Срок службы</div>
        <div class="glavnaya-5__boxes-box-content">до 10 лет</div>
      </div>
      <div class="glavnaya-5__boxes-box">
        <div class="glavnaya-5__boxes-box-title">Эффективен</div>
        <div class="glavnaya-5__boxes-box-content">от -60° до +80°С</div>
      </div>
      <div class="glavnaya-5__boxes-box">
        <div class="glavnaya-5__boxes-box-title">Устойчив к воздействиям</div>
        <div class="glavnaya-5__boxes-box-content">UV / NaCl</div>
      </div>
      <div class="glavnaya-5__boxes-box">
        <div class="glavnaya-5__boxes-box-title">Незаметен на кузове</div>
        <div class="glavnaya-5__boxes-box-content">от 0.5 м</div>
      </div>
    </div>
  </div>
  <div class="glavnaya-5__layer-schema">
    <div class="glavnaya-5__layer-schema-img-wrap">
      <%- include('./../../blocks/images/images.ejs', {data:{type: "bg", url:"~@glavnaya-5-svoystva-plenki-img/1.jpg", pt:72.5882,}})%>
    </div>
  </div>
</div>