<div class="glavnaya-5">
  <div class="standart-container" data-showed-on-scroll>
    <h2>Свойства полиуретановой плёнки Brontero®</h2>
    <div class="glavnaya-5__boxes">
      <div class="glavnaya-5__boxes-box">
        <div class="glavnaya-5__boxes-box-title">Срок службы</div>
        <div class="glavnaya-5__boxes-box-content">до 10 лет</div>
      </div>
      <div class="glavnaya-5__boxes-box">
        <div class="glavnaya-5__boxes-box-title">Эффективен</div>
        <div class="glavnaya-5__boxes-box-content">от -60 до +80°С</div>
      </div>
      <div class="glavnaya-5__boxes-box">
        <div class="glavnaya-5__boxes-box-title">Устойчив к воздействиям</div>
        <div class="glavnaya-5__boxes-box-content">UV / NaCl</div>
      </div>
      <div class="glavnaya-5__boxes-box">
        <div class="glavnaya-5__boxes-box-title">Незаметен на кузове</div>
        <div class="glavnaya-5__boxes-box-content">от 0.5 м</div>
      </div>
    </div>
  </div>
  <div class="glavnaya-5__layer-schema" data-showed-on-scroll>
    <div class="glavnaya-5__layer-schema-layers-description">
      <div class="glavnaya-5__layer-schema-layers-description-first">18 мкм — самовосстанавливающийся глянцевый верхний слой (лак)</div>
      <div class="glavnaya-5__layer-schema-layers-description-second">150 мкм — слой полиуретана</div>
      <div class="glavnaya-5__layer-schema-layers-description-third">клеевой слой, не оставляющий следов при снятии</div>
      <div class="glavnaya-5__layer-schema-layers-description-fourth">монтажная подложка</div>
    </div>
    <div class="glavnaya-5__layer-schema-img-wrap">
      <%- include('./../../blocks/images/images.ejs', {data:{type: "bg",loader: true, url:"~@glavnaya-5-svoystva-plenki-img/1.jpg", pt:86.79775,}})%>
    </div>
  </div>
</div>