.komplekt-11 {
    margin: var(--medium-gap) 0 var(--big-gap) 0;

    & > div {
        grid-row-gap: var(--gap);
    }

    &__decor-line {
        border-top: var(--border-width-bold) solid var(--light);
        grid-column: 1/-1;
        margin-bottom: var(--gap);
    }

    &__text {
        grid-column: 1/-1;

        @media (min-width: rem(960)) {
            grid-column: span 6;
        }

        p:first-child {
            margin-top: 0;
        }

        p:last-child {
            margin-bottom: 0;
        }

        ul {
            list-style: inside;
            margin-left: var(--5);
        }
    }
}
