.glavnaya-6 {
    padding: var(--big-gap) 0;
    background: linear-gradient(var(--light), transparent var(--border-width-bold)), linear-gradient(90deg, var(--light), transparent var(--border-width-bold));
    background-size: 19px 19px; //привязываемся именно к пикселям что сетка всегда выглядела одинаково, не смотря на размер шрифта

    @media (min-width: rem(1920)) {
        background-size: adaptiv_px_size(19, 1920) adaptiv_px_size(19, 1920);
    }

    h2 {
        margin-bottom: var(--small-gap);

        @media (min-width: rem(640)) {
            margin-bottom: adaptiv_rem_size(20, 640, 60, 1920);
        }

        @media (min-width: rem(1920)) {
            margin-bottom: adaptiv_rem_size(60, 1920);
        }
    }

    &__kit-data {
        margin-bottom: var(--medium-gap);

        &-text {
            grid-column: 1/-1;

            @media (min-width: rem(640)) {
                grid-column: 1/7;
            }

            @media (min-width: rem(960)) {
                grid-column: 1/5;
            }

            &-small-description {
                margin-bottom: var(--small-gap);
            }

            &-complekt {
                display: grid;
                grid-gap: rem(10);
                margin-bottom: var(--medium-gap);

                @media (min-width: rem(640)) {
                    margin-bottom: 0;
                }

                li {
                    &:before {
                        content: '\e912';
                        font-size: rem(9);
                        margin-right: rem(30);
                        font-family: var(--icon);
                   

                        @media (min-width: rem(1920)) {
                            font-size: adaptiv_rem_size(9, 1920);
                            margin-right: adaptiv_rem_size(30, 1920);
                        }
                    }
                }
            }
        }

        &-wrap-template-img {
            grid-column: 1/-1;

            @media (min-width: rem(640)) {
                grid-column: 7/-1;
            }

            @media (min-width: rem(960)) {
                grid-column: 6/-1;
            }
        }
    }

    &__wrap-img-complekt {
        width: adaptiv_rem_size(300, 320, 610, 640);
        height: adaptiv_rem_size(245, 320, 505, 640);
        margin-left: auto;

        @media (min-width: rem(640)) {
            width: adaptiv_rem_size(610, 640, 1210, 1240);
            height: adaptiv_rem_size(505, 640, 780.645, 1240);
        }

        @media (min-width: rem(1240)) {
            width: adaptiv_rem_size(1210, 1240, 1550, 1920);
            height: adaptiv_rem_size(780.645, 1240, 1000, 1920);
        }

        @media (min-width: rem(1920)) {
            width: adaptiv_rem_size(1550, 1920);
            height: adaptiv_rem_size(1000, 1920);
        }

        .image {
            height: 100%;

            div {
                background-position-x: left;
            }
        }
    }

    &__button-wrap {
        display: block;

        &-button {
            margin: auto;
        }
    }
}
