<div class="top_banner_wrap col-12 plr-0" id="id_NKkGUF0X9DGuvct">
    <a href="#">
        <div class="desktop_baner">
            <div class="img_wrapper" data-img-type="bg" style="padding-top: 4.1667%;">
                <div class="img_body" data-src="~@header-baner-img/banner.jpg" data-original-w="1920" data-original-h="80">
                </div>
                <div class="loader_wrap">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
        <div class="tablet_baner">
            <div class="img_wrapper" data-img-type="bg" style="padding-top: 4.1667%;">
                <div class="img_body" data-src="~@header-baner-img/banner.jpg" data-original-w="1920" data-original-h="80">
                </div>
                <div class="loader_wrap">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
        <div class="mobile_baner">
            <div class="img_wrapper" data-img-type="bg" style="padding-top: 18.75%;">
                <div class="img_body" data-src="~@header-baner-img/banner2.jpg" data-original-w="320" data-original-h="60">
                </div>
                <div class="loader_wrap">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </a>
    <div class="close_banner_wrap">
        <div class="icon_close_button_bold">
            <div class="svg_wrapper">
                <svg>
                    <use data-href="<?php echo $base_kit_svg_url ?>#icon_close_button_bold" />
                </svg>
            </div>
        </div>
        <div class="icon_close_button">
            <div class="svg_wrapper">
                <svg>
                    <use data-href="<?php echo $base_kit_svg_url ?>#icon_close_button" />
                </svg>
            </div>
        </div>
    </div>
</div>
<script id="top_banner_script">
    (() => {
        let top_banner_wrap = document.getElementsByClassName("top_banner_wrap")[0],
            top_banner_script = document.getElementById("top_banner_script"),
            parent_top_banner = top_banner_wrap.parentNode,
            top_banner_id = top_banner_wrap.getAttribute("id"),
            cookie_top_baner = document.cookie.match(new RegExp("(?:^|; )top_baner_hide_" + top_banner_id + "=([^;]*)")); //пытаемся получить значение из куки

        cookie_top_baner = cookie_top_baner ? cookie_top_baner[1] : false; //если значения нет занчит показываем банер, если есть то скрываем

        if (cookie_top_baner) {
            parent_top_banner.removeChild(top_banner_wrap);
            parent_top_banner.removeChild(top_banner_script);
        }
    })();
</script>