<div class="search_wrapper standart-container">
  <input type="text" placeholder="Найти" maxlength="100" class="col-12 offset-640-1 col-640-9 col-1280-8">
  <div class="close_search col-640-1 offset-1280-1">
    <div class="icon_close_button">
      <div class="svg_wrapper">
        <svg>
          <use data-href="<?php echo $base_kit_svg_url ?>#icon_close_button" />
        </svg>
      </div>
    </div>
  </div>
  <div class="mobile_search_glas">
    <div class="icon_search_glas">
      <div class="svg_wrapper">
        <svg>
          <use data-href="<?php echo $base_kit_svg_url ?>#icon_search_glas" />
        </svg>
      </div>
    </div>
  </div>
</div>
<div class="search_results standart-container">
  <div class="search_loader">
    <div class="loader_wrap">
      <div class="loader"></div>
    </div>
  </div>
  <div class="results_wrapper col-12 offset-640-1 col-640-9 col-1280-8"></div>
</div>