<div class="cart">
  <div class="cart__wrap">
    <div class="cart__header cart-grid">
      <div class="cart__header-titile">Корзина</div>
      <div class="cart__header-cart-icon icon--cart"></div>
      <div class="cart__header-counter"></div>
      <button class="cart__header-close-button icon--close"></button>
    </div>
    <div class="cart__body cart__body--empty-cart cart-grid custom-scrollbar">
      <div class="cart__body-nothing">
        <div class="cart__body-nothing-title">Ваша корзина пуста</div>
        <a href="/vybrat-komplekt/" class="cart__body-nothing-button button-main">Выбрать комплект</a>
      </div>
    </div>
    <div class="cart__footer cart-grid">
      <div class="cart__footer-final-price">
        <div class="cart__footer-final-price-title">Итого:</div>
        <div class="cart__footer-final-price-value ruble-price">0</div>
      </div>
      <button class="cart__footer-design-order button-main" disabled>Оформить заказ</button>
    </div>
    <div class="cart__wrap-update-loader">
      <div class="loader">
        <div class="loader__circle"></div>
      </div>
    </div>
  </div>
</div>
<div id="cart-overlay" class="overlay"></div>
<script>
  w.critical_scripts.check_cart_count_and_show_counter(); /*фнукция проверяет есть ли в корзине товары и если есть то мы отображаем их количество в счётчиках корзины*/
</script>