<div class="header-hidden">
  <div class="standart-container">
    <div class="header-hidden__search header-search">
      <%- include('./header-search')%>
    </div>
    <nav class="header-hidden__menu">
      <ul>
        <li><a class="set-min-interactive-size-bez-gap" href="#">Главная</a></li>
        <li><a class="set-min-interactive-size-bez-gap" href="#">Выбрать комплект</a></li>
        <li><a class="set-min-interactive-size-bez-gap" href="#">Инструкции</a></li>
        <li><a class="set-min-interactive-size-bez-gap" href="#">Доставка и оплата</a></li>
        <li><a class="set-min-interactive-size-bez-gap" href="#">О нас</a></li>
        <li><a class="set-min-interactive-size-bez-gap" href="#">Корзина</a></li>
      </ul>
    </nav>
    <div class="header-hidden__phone">
      <a class="set-min-interactive-size" href="tel:+88000000000">
        <div class="icon--phone"></div>
        <span>8 800 000-00-00</span>
      </a>
    </div>
  </div>
</div>