<div class="header-search__input">
  <input type="text" placeholder="Найти" maxlength="100">
  <div class="header-search__input-control-icons button">
    <div class="icon--search button"></div>
    <button class="icon--close"></button>
  </div>
</div>
<button class="icon--close header-search__close-button"></button>
<div class="header-search__results-wrap">
  <div class="header-search__loader">
    <%- include('./../../blocks/loader/loader.ejs') %>
  </div>
  <div class="header-search__results-data"></div>
  <div class="header-search__results-any-links">
    <a href="#">Не нашли ваш авто?</a>
    <a href="#">Консультация</a>
  </div>
</div>


