<div class="header-poster" id="NKkGUF0X9DGuvct" data-href="#">
  <div class="header-poster__img header-poster__img--mobile">
    <%- include('./../../blocks/images/images.ejs', {data:{type: "bg", url:"~@header-img/banner2.jpg", loader:true, ow:320, oh:60, pt:18.75,}})%>
  </div>
  <div class="header-poster__img header-poster__img--tablet">
    <%- include('./../../blocks/images/images.ejs', {data:{type: "bg", url:"~@header-img/banner.jpg", loader:true, ow:1920, oh:80, pt:4.1667,}})%>
  </div>
  <div class="header-poster__img header-poster__img--desktop">
    <%- include('./../../blocks/images/images.ejs', {data:{type: "bg", url:"~@header-img/banner.jpg", loader:true, ow:1920, oh:80, pt:4.1667,}})%>
  </div>
  <div class="header-poster__close standart-container">
    <button></button>
  </div>
</div>
<script>
  /*првоеряем локальное хранилище и если нужно скрываем рекламный постер в хедере*/
  w.critical_scripts.check_if_nead_remove_poster_data();
</script>