<div class="header-visible">
  <div class="header-visible__logo">
    <a href="/pages/glavnaya.html">
      <%- include('./../../blocks/images/images.ejs', {data:{type: "img", url:"~@header-img/logo.svg", pt:16.67,}})%>
    </a>
  </div>
  <div class="header-visible__search-button">
    <button>
      <div class="icon--search"></div>
      <div class="icon--search-bold"></div>
    </button>
  </div>
  <div class="header-visible__menu">
    <nav>
      <ul>
        <li><a href="#">Выбрать комплект</a></li>
        <li><a href="#">Инструкции</a></li>
        <li><a href="#">Доставка и оплата</a></li>
        <li><a href="#">О нас</a></li>
      </ul>
    </nav>
  </div>
  <div class="header-visible__phone">
    <a href="tel:+88000000000">8 800 000-00-00</a>
  </div>
  <div class="header-visible__cart-button">
    <button>
      <div class="icon--cart"></div>
      <div class="icon--cart-bold"></div>
      <div class="header-visible__cart-counter">1</div>
    </button>
  </div>
  <div class="header-visible__burger burger">
    <button>
      <div class="burger__body">
        <div class="burger__line-1"></div>
        <div class="burger__line-2"></div>
        <div class="burger__line-3"></div>
        <div class="burger__line-4"></div>
      </div>
    </button>
  </div>
</div>