<div class="header-search__input">
  <input class="set-min-interactive-size" type="text" placeholder="Найти" maxlength="100">
  <div class="header-search__input-control-icons set-min-interactive-size">
    <div class="icon--search"></div>
    <button class="icon--close"></button>
  </div>
</div>
<button class="icon--close header-search__close-button"></button>
<div class="header-search__results-wrap">
  <div class="header-search__loader">
    <%- include('./../../blocks/loader/loader.ejs') %>
  </div>
  <div class="header-search__results-data"></div>
  <div class="header-search__results-any-links">
    <a class="set-min-interactive-size" href="#">Заявка на другой авто</a>
    <a class="set-min-interactive-size" href="tel:+88000000000">Консультация: 8 800 000-00-00</a>
  </div>
</div>


