<div class="cart">
  <div class="cart__wrap">
    <div class="cart__header cart-grid">
      <div class="cart__header-titile">Корзина</div>
      <div class="cart__header-cart-icon icon--cart"></div>
      <div class="cart__header-counter">2</div>
      <button class="cart__header-close-button icon--close"></button>
    </div>
    <div class="cart__body custom-scrollbar">
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
      <div>wegwg</div>
    </div>
    <div class="cart__footer">
      <div class="cart__footer-promocod"></div>
      <div class="cart__footer-final-price"></div>
      <div class="cart__footer-design-order"></div>
    </div>
    <div class="cart__empty"></div>
  </div>
</div>
<div id="cart-overlay" class="overlay"></div>