<div class="cart">
  <div class="cart__body">
    <div class="cart__top-controls"></div>
    <div class="cart__content"></div>
    <div class="cart__nothing"></div>
    <div class="cart__price-block"></div>
  </div>
</div>
<div id="cart-overlay"></div>