<div class="cart">
  <div class="cart__wrap">
    <div class="cart__header cart-grid">
      <div class="cart__header-titile">Корзина</div>
      <div class="cart__header-cart-icon icon--cart"></div>
      <div class="cart__header-counter"></div>
      <button class="cart__header-close-button icon--close"></button>
    </div>
    <div class="cart__body cart-grid custom-scrollbar">

      <div class="cart__body-nothing">
        <div class="cart__body-nothing-title">Ваша корзина пуста</div>
        <a href="/vybrat-komplekt/" class="cart__body-nothing-button button-main">Выбрать комплект</a>
      </div>
      <!-- data-cart-id - это id данного товара в массиве товаров для данной марки-модели предстваляет из себя метку времени unix в момент создания данного товара в корзине, чтоб было удобно им управлять -->

      <div class="cart__body-product cart__body-product--single cart__body-product--full-kit" data-marka-model="Geely@@Coolray" data-cart-id="214124214">
        <div class="cart__body-product-title">Nissan Qashqa</div>
        <div class="cart__body-product-quantity-price-wrap">
          <div class="cart__body-product-change-quantity">
            <button data-decrease></button>
            <button data-increase class="icon--plus"></button>
          </div>
          <div class="cart__body-product-quantity">1</div>
          <div class="cart__body-product-prices">
            <div class="cart__body-product-prices-old-price ruble-price old-price">1400</div>
            <div class="cart__body-product-prices-kit ruble-price">1000</div>
            <div class="cart__body-product-prices-parts ruble-price">1400</div>
          </div>
        </div>
        <button class="cart__body-product-toggle-composition set-min-interactive-size">Состав комплекта</button>
        <div class="cart__body-product-spoiler-wrap spoiler-hidden">
          <div class="cart__body-product-spoiler-wrap-content">
            <div class="cart__body-product-spoiler-wrap-content-item">
              <div class="custom-checbox custom-checbox--cart" data-price="500">
                <input id="cart-214124214-fary-checkbox" type="checkbox" required>
                <label for="cart-214124214-fary-checkbox" class="icon--check-mark"></label>
                <div class="cart__body-product-spoiler-wrap-content-item-title">Передние фары</div>
              </div>
            </div>
            <div class="cart__body-product-spoiler-wrap-content-item">
              <div class="custom-checbox custom-checbox--cart" data-price="500">
                <input id="cart-214124214-kapot-checkbox" type="checkbox" required>
                <label for="cart-214124214-kapot-checkbox" class="icon--check-mark"></label>
                <div class="cart__body-product-spoiler-wrap-content-item-title">Полоса на капот</div>
              </div>
            </div>
            <div class="cart__body-product-spoiler-wrap-content-item">
              <div class="custom-checbox custom-checbox--cart" data-price="500">
                <input id="cart-214124214-krylya-checkbox" type="checkbox" required>
                <label for="cart-214124214-krylya-checkbox" class="icon--check-mark"></label>
                <div class="cart__body-product-spoiler-wrap-content-item-title">Передние крылья</div>
              </div>
            </div>
            <div class="cart__body-product-spoiler-wrap-content-item">
              <div class="custom-checbox custom-checbox--cart" data-price="500">
                <input id="cart-214124214-krysha-checkbox" type="checkbox" required>
                <label for="cart-214124214-krysha-checkbox" class="icon--check-mark"></label>
                <div class="cart__body-product-spoiler-wrap-content-item-title">Полоса на крышу</div>
              </div>
            </div>
            <div class="cart__body-product-spoiler-wrap-content-item">
              <div class="custom-checbox custom-checbox--cart" data-price="500">
                <input id="cart-214124214-peredniye-stoyki-checkbox" type="checkbox" required>
                <label for="cart-214124214-peredniye-stoyki-checkbox" class="icon--check-mark"></label>
                <div class="cart__body-product-spoiler-wrap-content-item-title">Стойки лобового стекла</div>
              </div>
            </div>
            <div class="cart__body-product-spoiler-wrap-content-item">
              <div class="custom-checbox custom-checbox--cart" data-price="500">
                <input id="cart-214124214-bagazhnik-checkbox" type="checkbox" required>
                <label for="cart-214124214-bagazhnik-checkbox" class="icon--check-mark"></label>
                <div class="cart__body-product-spoiler-wrap-content-item-title">Зона выгрузки багажника</div>
              </div>
            </div>
            <div class="cart__body-product-spoiler-wrap-content-item">
              <div class="custom-checbox custom-checbox--cart" data-price="500">
                <input id="cart-214124214-ruchki-checkbox" type="checkbox" required>
                <label for="cart-214124214-ruchki-checkbox" class="icon--check-mark"></label>
                <div class="cart__body-product-spoiler-wrap-content-item-title">Дверные ручки</div>
              </div>
            </div>
            <div class="cart__body-product-spoiler-wrap-content-item">
              <div class="custom-checbox custom-checbox--cart" data-price="500">
                <input id="cart-214124214-tools-checkbox" type="checkbox" required>
                <label for="cart-214124214-tools-checkbox" class="icon--check-mark"></label>
                <div class="cart__body-product-spoiler-wrap-content-item-title">Мыльный раствор, ракель, абразивная глина</div>
              </div>
            </div>
          </div>
        </div>

      </div>



      <div class="cart__body-product" data-marka-model="Geely@@Coolray" data-cart-id="0">
        <div class="cart__body-product-title">Nissan Qashqa</div>

        <div class="cart__body-product-quantity-price-wrap">
          <div class="cart__body-product-change-quantity">
            <button data-decrease></button>
            <button data-increase class="icon--plus"></button>
          </div>
          <div class="cart__body-product-quantity">1</div>
          <div class="cart__body-product-prices">
            <div class="cart__body-product-prices-old-price ruble-price old-price">1400</div>
            <div class="cart__body-product-prices-kit ruble-price">1000</div>
            <div class="cart__body-product-prices-parts ruble-price">1400</div>
          </div>
        </div>
        <button class="cart__body-product-toggle-composition set-min-interactive-size">Состав комплекта</button>

        <div class="cart__body-product-spoiler-wrap spoiler-hidden">
          <div class="cart__body-product-spoiler-wrap-content">

          </div>
        </div>

      </div>

    </div>
    <div class="cart__footer cart-grid">
      <div class="cart__footer-final-price">
        <div class="cart__footer-final-price-title">Итого:</div>
        <div class="cart__footer-final-price-value ruble-price">35000</div>
      </div>
      <a href="#" class="cart__footer-design-order button-main">Оформить заказ</a>
    </div>
  </div>
</div>
<div id="cart-overlay" class="overlay"></div>