<div data-showed-on-scroll class="komplekt-11">
  <div class="standart-container">
    <div class="komplekt-11__decor-line"></div>
    <div class="komplekt-11__text">
      <p><b>Комплект полиуретановых антигравийных защитных пленок Brontero для Omoda C5</b> - это набор пленок, которые защищают наиболее уязвимые части автомобиля от царапин, сколов, гравия и других мелких механических повреждений лакокрасочного покрытия, пластиковые и стеклянные элементы кузова.</p>
      <p>Полиуретановые пленки Brontero, нарезанные точно под размеры защищаемой детали, абсолютно прозрачны и легко устанавливаются на поверхность автомобиля, не оставляя следов при снятии.
      </p>
      <p>Комплект включает в себя защиту самых уязвимых частей кузова (фар, передних частей крыльев, крыши и капота, стоек дверей, а также пространства под ручками автомобиля).</p>
      <p>В комплект также входит набор инструментов для самостоятельной установки антигравийной полиуретановой пленки.</p>
      <p>Пленки изготовлены из высококачественного полиуретана, который обладает высокой прочностью, эластичностью и устойчивостью к воздействию внешних факторов.</p>
      <p>Использование полиуретановых защитных пленок позволит сохранить внешний вид Omoda C5 в отличном состоянии, а также уберечься от повреждений, требующих ремонта или замены деталей.</p>
    </div>
    <div class="komplekt-11__text">
      В полный комплект Brontero для Omoda C5 входит:
      <ul>
        <li>Полоса на капот</li>
        <li>Полоса на крышу</li>
        <li>Комплект пленок на фары (левая и правая)</li>
        <li>Комплект пленок на передние стойки (левая и правая)</li>
        <li>Комплект пленок на стойки дверей (3 левых и 3 правых)</li>
        <li>Комплект под ручки 4 штуки</li>
        <li>Комплект на крылья (левое и правое)</li>
        <li>Глина для очистки деталей автомобиля</li>
        <li>Распылитель воды</li>
        <li>Пульверизатор для мыльного раствора</li>
        <li>Жидкое мыло</li>
        <li>Ракель (выгонка)</li>
        <li>Инструкция по установке полиуретановой защитной пленки Brontero</li>
      </ul>
    </div>
  </div>
</div>