<div class="slider" style="padding-top:20%;">
  <div class="slider-wrap">
    <div class="slider-slide" style="background-color:#7777e8;">1</div>
    <div class="slider-slide" style="background-color:red;">2</div>
    <div class="slider-slide" style="background-color:green;">3</div>
    <div class="slider-slide" style="background-color:yellow;">4</div>
    <!-- <div class="slider-slide" style="background-color:blue;">5</div>
    <div class="slider-slide" style="background-color:blueviolet;">6</div> -->
  </div>
</div>
<div class="slider-prev"><-</div>
<div class="slider-next">-></div>