<div class="oformit-zakaz-4">
  <div class="standart-container" data-showed-on-scroll>
    <h2>Проверьте данные</h2>
    <div class="oformit-zakaz-4__contact-info">
      <div class="oformit-zakaz-4__contact-info-title">Покупатель</div>
      <div class="oformit-zakaz-4__contact-info-fio"></div>
      <div class="oformit-zakaz-4__contact-info-email"></div>
      <div class="oformit-zakaz-4__contact-info-tel"></div>
    </div>
    <div class="oformit-zakaz-4__delivery">
      <div class="oformit-zakaz-4__delivery-title">Доставка</div>
      <div class="oformit-zakaz-4__delivery-info">
        Пункт выдачи СДЭК: Россия,<br>
        г. Екатеринбург, ул. Восточная, 100<br>
        Дата доставки: 10 октября 2021
      </div>
    </div>
    <div class="oformit-zakaz-4__pay">
      <div class="oformit-zakaz-4__pay-final-price ruble-price">ожидание...</div>
      <div class="policy-konfidencial-checkout">
        <div class="custom-checbox">
          <input id="polici-konf-checkbox" type="checkbox" form="user-data" required>
          <label for="polici-konf-checkbox" class="icon--check-mark"></label>
        </div>
        <div class="policy-konfidencial-checkout-title">
          <div>Согласен с <a class="link-default" href="#">политикой конфиденциальности</a></div>
        </div>
      </div>
      <button class="oformit-zakaz-4__pay-run-button button-main" form="user-data" type="submit" disabled>Оплатить онлайн</button>
    </div>
  </div>
</div>