.glavnaya-10 {
    h2 {
        grid-column: 1/-1;
        margin-bottom: var(--medium-gap);
    }

    &__fqa-wrap {
        grid-column: 1/-1;
        display: grid;
        grid-gap: var(--gap-10);

        &-spoiler {
            grid-column: 1/-1;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-column-gap: var(--gap);
            border: var(--border-width) solid var(--gray);
            border-radius: var(--border-radius);
            position: relative;

            &-title {
                grid-column: 1/-1;
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                padding: rem(20) 0;
                font: var(--h3);
                cursor: pointer;

                @media (min-width: rem(640)) {
                    padding: adaptiv_rem_size(20, 640, 25, 1920) 0;
                }

                @media (min-width: rem(1920)) {
                    padding: adaptiv_rem_size(25, 1920) 0;
                }

                &-text {
                    grid-column: 2/11;

                    &-toggle-icon {
                        color: var(--blue);
                        font-size: rem(14);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: rem(20);
                        height: rem(20);
                        position: absolute;
                        top: rem(20);
                        right: rem(10);
                        transition: transform 0.3s ease-out;

                        @media (min-width: rem(640)) {
                            top: adaptiv_rem_size(20, 640, 30, 1920);
                            right: adaptiv_rem_size(10, 640, 30, 1920);
                        }

                        @media (min-width: rem(1920)) {
                            font-size: adaptiv_rem_size(14, 1920);
                            top: adaptiv_rem_size(30, 1920);
                            right: adaptiv_rem_size(30, 1920);
                        }
                    }

                    &-toggle-icon--open {
                        transform: rotate(-45deg);
                    }
                }
            }

            &-wrap {
                grid-column: 2/12;
                padding: rem(20) 0 adaptiv_rem_size(20, 320, 35, 640) 0;
                position: relative;

                @media (min-width: rem(640)) {
                    padding: adaptiv_rem_size(20, 640, 25, 1920) 0 adaptiv_rem_size(35, 640, 40, 1920) 0;
                }

                @media (min-width: rem(1920)) {
                    padding: adaptiv_rem_size(25, 1920) 0 adaptiv_rem_size(40, 1920) 0;
                }

                &-content {
                    opacity: 0;

                    &:before {
                        content: '';
                        width: 100%;
                        display: block;
                        border-top: var(--border-width) solid var(--gray);
                        position: absolute;
                        top: 0;
                    }
                }
            }
        }

        &-spoiler--can-click {
            border-color: var(--blue);
        }
    }

    &__decor-vertical-line {
        grid-column: 1/-1;
        margin: var(--medium-gap) auto;
        height: var(--medium-gap);
        border-left: var(--border-width) solid var(--blue);
    }

    &__button {
        grid-column: 1/-1;
        margin: 0 auto var(--big-gap) auto;
    }
}
