<div class="komplekt-2-select-kit-composition komplekt-configurator">
  <div class="komplekt-configurator__full-wrap standart-container">
    <div class="komplekt-configurator__full-wrap-images-wrap" data-showed-on-scroll>
      <div class="komplekt-configurator__full-wrap-images-wrap-mobile-title">Защита отдельных элементов</div>
      <div class="image" data-front style="padding-top:66.6667%;">
        <img data-img-type="img" data-main data-src="~@komplekt-1-full-kit-img/front.jpg" data-original-w="2145" data-original-h="1430">
        <div data-img-type="svg-kit-items">
          <object id="ruchki" data-src="~@komplekt-1-full-kit-img/ruchki.svg"></object>
          <object id="fary" data-active data-src="~@komplekt-1-full-kit-img/fary.svg"></object>
          <object id="peredniye-stoyki" data-src="~@komplekt-1-full-kit-img/peredniye-stoyki.svg"></object>
          <object id="kapot" data-src="~@komplekt-1-full-kit-img/kapot.svg"></object>
          <object id="krylya" data-src="~@komplekt-1-full-kit-img/krylya.svg"></object>
          <object id="krysha" data-src="~@komplekt-1-full-kit-img/krysha.svg"></object>
        </div>
        <div class="loader">
          <div class="loader__circle"></div>
        </div>
      </div>
      <div class="image" data-back style="padding-top:66.6667%;">
        <img data-img-type="img" data-main data-src="~@komplekt-1-full-kit-img/back.jpg" data-original-w="2145" data-original-h="1430">
        <div data-img-type="svg-kit-items">
          <object id="bagazhnik" data-src="~@komplekt-1-full-kit-img/bagazhnik.svg"></object>
        </div>
        <div class="loader">
          <div class="loader__circle"></div>
        </div>
      </div>
    </div>
    <div class="komplekt-configurator__full-wrap-composition" data-showed-on-scroll>
      <div class="komplekt-configurator__full-wrap-composition-title">Защита отдельных элементов</div>
      <ul class="komplekt-configurator__full-wrap-composition-detals komplekt-configurator__full-wrap-composition-detals--configurator-version">
        <li>
          <div class="komplekt-configurator__full-wrap-composition-detals-checbox">
            <div class="custom-checbox custom-checbox--blue">
              <input id="fary-checkbox" type="checkbox" disabled data-position="front" checked>
              <label for="fary-checkbox" class="icon--check-mark"></label>
            </div>
          </div>
          <div class="komplekt-configurator__full-wrap-composition-detals-data">
            <a class="link-default" href="#">Передние фары</a>
            <div class="ruble-price">1 400</div>
          </div>
        </li>
        <li>
          <div class="komplekt-configurator__full-wrap-composition-detals-checbox">
            <div class="custom-checbox custom-checbox--blue">
              <input id="kapot-checkbox" type="checkbox" disabled data-position="front">
              <label for="kapot-checkbox" class="icon--check-mark"></label>
            </div>
          </div>
          <div class="komplekt-configurator__full-wrap-composition-detals-data">
            <a class="link-default" href="#">Полоса на капот</a>
            <div class="ruble-price">1 400</div>
          </div>
        </li>
        <li>
          <div class="komplekt-configurator__full-wrap-composition-detals-checbox">
            <div class="custom-checbox custom-checbox--blue">
              <input id="krylya-checkbox" type="checkbox" disabled data-position="front">
              <label for="krylya-checkbox" class="icon--check-mark"></label>
            </div>
          </div>
          <div class="komplekt-configurator__full-wrap-composition-detals-data">
            <a class="link-default" href="#">Передние крылья</a>
            <div class="ruble-price">1 400</div>
          </div>
        </li>
        <li>
          <div class="komplekt-configurator__full-wrap-composition-detals-checbox">
            <div class="custom-checbox custom-checbox--blue">
              <input id="krysha-checkbox" type="checkbox" disabled data-position="front">
              <label for="krysha-checkbox" class="icon--check-mark"></label>
            </div>
          </div>
          <div class="komplekt-configurator__full-wrap-composition-detals-data">
            <a class="link-default" href="#">Полоса на крышу</a>
            <div class="ruble-price">1 400</div>
          </div>
        </li>
        <li>
          <div class="komplekt-configurator__full-wrap-composition-detals-checbox">
            <div class="custom-checbox custom-checbox--blue">
              <input id="peredniye-stoyki-checkbox" type="checkbox" disabled data-position="front">
              <label for="peredniye-stoyki-checkbox" class="icon--check-mark"></label>
            </div>
          </div>
          <div class="komplekt-configurator__full-wrap-composition-detals-data">
            <a class="link-default" href="#">Стойки лобового стекла</a>
            <div class="ruble-price">1 400</div>
          </div>
        </li>
        <li>
          <div class="komplekt-configurator__full-wrap-composition-detals-checbox">
            <div class="custom-checbox custom-checbox--blue">
              <input id="bagazhnik-checkbox" type="checkbox" disabled data-position="back">
              <label for="bagazhnik-checkbox" class="icon--check-mark"></label>
            </div>
          </div>
          <div class="komplekt-configurator__full-wrap-composition-detals-data">
            <a class="link-default" href="#">Зона выгрузки багажника</a>
            <div class="ruble-price">1 400</div>
          </div>
        </li>
        <li>
          <div class="komplekt-configurator__full-wrap-composition-detals-checbox">
            <div class="custom-checbox custom-checbox--blue">
              <input id="ruchki-checkbox" type="checkbox" disabled data-position="front">
              <label for="ruchki-checkbox" class="icon--check-mark"></label>
            </div>
          </div>
          <div class="komplekt-configurator__full-wrap-composition-detals-data">
            <a class="link-default" href="#">Дверные ручки</a>
            <div class="ruble-price">1 400</div>
          </div>
        </li>
        <li>
          <div class="komplekt-configurator__full-wrap-composition-detals-checbox">
            <div class="custom-checbox custom-checbox--blue">
              <input id="tools-checkbox" type="checkbox" disabled checked>
              <label for="tools-checkbox" class="icon--check-mark"></label>
            </div>
          </div>
          <div class="komplekt-configurator__full-wrap-composition-detals-data">
            <span>Мыльный раствор, ракель, абразивная глина</span>
            <div class="ruble-price">1 400</div>
          </div>
        </li>
      </ul>
      <div class="komplekt-configurator__full-wrap-composition-price">
        <div class="komplekt-configurator__full-wrap-composition-price-old komplekt-configurator__full-wrap-composition-price-old--configurator-version ruble-price old-price">19 080</div>
        <div class="komplekt-configurator__full-wrap-composition-price-current ruble-price"></div>
        <div class="komplekt-configurator__full-wrap-composition-price-discont komplekt-configurator__full-wrap-composition-price-discont--configurator-version discont-price">16</div>
      </div>
      <button class="komplekt-configurator__full-wrap-composition-button button-main button-main--add-in-cart button-main--not-minmax-width"></button>
      <div class="komplekt-configurator__full-wrap-composition-warning-add-anyone-item">Выберите хотя бы одну деталь или инструмент</div>
    </div>
  </div>
</div>
<script>
  GDS.product = {
    marka_model: 'Geely@@Coolray',
    price: 16000,
    full_price: 19080,
    discont: 16,
    composition: {
      'ruchki': 340,
      'fary': 1500,
      'peredniye-stoyki': 1490,
      'kapot': 7590,
      'krylya': 990,
      'krysha': 1990,
      'bagazhnik': 1190,
      'tools': 2100,
    }
  }

  ksn_product_configurator_func.init_configurator_fom_saved_settings();
</script>