<div class="glavnaya-10" data-showed-on-scroll>
  <div class="standart-container">
    <h2>Более 4500 автолюбителей уже используют плёнки Brontero® </h2>
  </div>
  <%- include('./../../blocks/otzivi/otzivi.ejs')%>
</div>