<div class="oformit-zakaz-1">
  <div class="standart-container standart-container--after-line">
    <h1>Оформление заказа</h1>
    <div class="oformit-zakaz-1__you-order" data-showed-on-scroll>
      <h2 class="icon--arrow">Ваш заказ</h2>
      <div class="order-grid">
        <div class="oformit-zakaz-1__you-order-info">
          <div class="oformit-zakaz-1__you-order-info-amount"></div>
          <div class="oformit-zakaz-1__you-order-info-price">0 ₽</div>
        </div>
      </div>
      <div class="oformit-zakaz-1__you-order-spoiler-wrap spoiler-hidden custom-scrollbar">
        <div class="oformit-zakaz-1__you-order-spoiler-wrap-content order order-grid">
        </div>
      </div>
      <div class="oformit-zakaz-1__you-order-loader">
        <div class="loader">
          <div class="loader__circle"></div>
        </div>
      </div>
      <div class="oformit-zakaz-1__you-order-empty-cart">
        <div class="oformit-zakaz-1__you-order-empty-cart-title">Ваша корзина пуста</div>
        <a href="/vybrat-komplekt/" class=" button-main">Выбрать комплект</a>
      </div>
      <div class="oformit-zakaz-1__you-order-zero-cart-price">
        <div class="oformit-zakaz-1__you-order-zero-cart-price-title">Цена товаров в Вашей корзине равна нулю</div>
        <button class=" button-main" disabled>Открыть корзину</button>
      </div>
    </div>
    <div class="oformit-zakaz-1__kontact" data-showed-on-scroll>
      <h2>Контакты</h2>
      <form class="oformit-zakaz-1__kontact-form" id="user-data" data-emails="sergeksnsd1997sd@gmail.com, sergej.catashov@yandex.ru">
        <label for="fio" class="forma-title forma-title--required">ФИО</label>
        <input id="fio" data-user-info="fio" class="custom-text-input" pattern="[a-zA-Zа-яА-ЯЁё\s]+" name="name" autocomplete="name" maxlength="255" placeholder="Иванов Иван Иванович" required>
        <label for="email" class="forma-title forma-title--required">Электронная почта</label>
        <input id="email" data-user-info="email" class="custom-text-input" inputmode="email" type="email" name="email" autocomplete="email" maxlength="255" placeholder="adres@mail.com" required>
        <label for="tel" class="forma-title forma-title--required">Телефон</label>
        <input id="tel" data-user-info="tel" class="custom-text-input" pattern="\+7\s\(\d{3}\)\s\d{3}-\d{2}-\d{2}" inputmode="tel" name="tel" autocomplete="tel" maxlength="18" required>
        <label for="message" class="forma-title">Комментарий к заказу</label>
        <label for="message" class="custom-textarea">
          <span class="custom-textarea__resizer"></span>
          <textarea id="message" placeholder="Комментарий к заказу" rows="5" maxlength="230" class="custom-scrollbar"></textarea>
        </label>
      </form>
    </div>
  </div>
</div>
<script>
  GDS.delivery = {
    border: 1000,
    yandex_map_api_key: '9720c798-730b-4af9-898a-937b264afcdd'
  }
  w.ksn_order_controler.init();
  w.ksn_order_controler.render_order();
</script>