<div class="oformit-zakaz-1">
  <div class="standart-container standart-container--after-line">
    <h1>Оформление заказа</h1>
    <div class="oformit-zakaz-1__you-order" data-showed-on-scroll>
      <h2>Ваш заказ</h2>
    </div>
    <div class="oformit-zakaz-1__kontact" data-showed-on-scroll>
      <h2>Контакты</h2>
      <form class="oformit-zakaz-1__kontact-form" id="user-data" data-emails="sergeksnsd1997sd@gmail.com, sergej.catashov@yandex.ru">
        <label for="fio" class="forma-title forma-title--required">ФИО</label>
        <input id="fio" class="custom-text-input" name="name" autocomplete="name" maxlength="200" placeholder="Иванов Иван Иванович" required>
        <label for="email" class="forma-title forma-title--required">Электронная почта</label>
        <input id="email" class="custom-text-input" type="email" name="email" autocomplete="email" maxlength="320" placeholder="adres@mail.com" required>
        <label for="tel" class="forma-title forma-title--required">Телефон</label>
        <input id="tel" class="custom-text-input" name="tel" autocomplete="tel" maxlength="300" placeholder="+7 (- - -) - - -  - -  - -" required>
        <label for="message" class="forma-title">Комментарий к заказу</label>
        <label for="message" class="custom-textarea">
          <span class="custom-textarea__resizer"></span>
          <textarea id="message" placeholder="Комментарий к заказу" rows="5" maxlength="500" class="custom-scrollbar"></textarea>
        </label>
      </form>
    </div>
  </div>
</div>