$icon--close: "\e900";
$icon--close-bold: "\e901";
$icon--cart: "\e902";
$icon--cart-bold: "\e903";
$icon--phone: "\e904";
$icon--ruble-currency: "\e905";
$icon--search: "\e906";
$icon--search-bold: "\e907";
$icon--arrow-middle: "\e908";
$icon--arrow-scroll-to-top: "\e909";
$icon--success: "\e90a";
$icon--warning: "\e90b";
$icon--error: "\e90c";
