$icon--cart-bold: "\e900";
$icon--cart: "\e901";
$icon--close: "\e902";
$icon--close-bold: "\e903";
$icon--phone: "\e904";
$icon--ruble-currency: "\e905";
$icon--search: "\e906";
$icon--search-bold: "\e907";
$icon--arrow-scroll-to-top: "\e908";
$icon--arrow-middle: "\e909";