$icon--magnifying-glass: "\e913";
$icon--add-fill: "\e914";
$icon--star-outline: "\e90e";
$icon--star: "\e90f";
$icon--plus: "\e910";
$icon--minus: "\e911";
$icon--check-mark: "\e912";
$icon--arrow-big: "\e90d";
$icon--cart: "\e900";
$icon--cart-bold: "\e901";
$icon--close: "\e902";
$icon--close-bold: "\e903";
$icon--error: "\e904";
$icon--phone: "\e905";
$icon--search: "\e906";
$icon--search-bold: "\e907";
$icon--success: "\e908";
$icon--warning: "\e909";
$icon--arrow-middle: "\e90a";
$icon--arrow-scroll-to-top: "\e90b";
$icon--arrow: "\e90c";
