@import 'icon-variables.scss';

@font-face {
    font-family: 'icon-font';
    src: url(@fonts/icon-font.woff) format('woff'); //src: url(@fonts/icon-font.woff2) format('woff2'), url(@fonts/icon-font.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='icon--'],
[class*=' icon--'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icon-font' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon--magnifying-glass {
  &:before {
    content: $icon--magnifying-glass; 
  }
}
.icon--add-fill {
  &:before {
    content: $icon--add-fill; 
  }
}
.icon--star-outline {
  &:before {
    content: $icon--star-outline; 
  }
}
.icon--star {
  &:before {
    content: $icon--star; 
  }
}
.icon--plus {
  &:before {
    content: $icon--plus; 
  }
}
.icon--minus {
  &:before {
    content: $icon--minus; 
  }
}
.icon--check-mark {
  &:before {
    content: $icon--check-mark; 
  }
}
.icon--arrow-big {
  &:before {
    content: $icon--arrow-big; 
  }
}
.icon--cart {
  &:before {
    content: $icon--cart; 
  }
}
.icon--cart-bold {
  &:before {
    content: $icon--cart-bold; 
  }
}
.icon--close {
  &:before {
    content: $icon--close; 
  }
}
.icon--close-bold {
  &:before {
    content: $icon--close-bold; 
  }
}
.icon--error {
  &:before {
    content: $icon--error; 
  }
}
.icon--phone {
  &:before {
    content: $icon--phone; 
  }
}
.icon--search {
  &:before {
    content: $icon--search; 
  }
}
.icon--search-bold {
  &:before {
    content: $icon--search-bold; 
  }
}
.icon--success {
  &:before {
    content: $icon--success; 
  }
}
.icon--warning {
  &:before {
    content: $icon--warning; 
  }
}
.icon--arrow-middle {
  &:before {
    content: $icon--arrow-middle; 
  }
}
.icon--arrow-scroll-to-top {
  &:before {
    content: $icon--arrow-scroll-to-top; 
  }
}
.icon--arrow {
  &:before {
    content: $icon--arrow; 
  }
}

