.komplekt-3 {
    display: flex;
    flex-wrap: wrap;
    padding-top: var(--big-gap);
    background: var(--fon-v-kletochku);
    background-size: 19px 19px; //привязываемся именно к пикселям что сетка всегда выглядела одинаково, не смотря на размер шрифта
    //overflow: hidden; //нужно для того чтоб пока скрипт не распределит окна с подсказками как нужно, не было горизонтальной прокрутки

    @media (min-width: rem(1920)) {
        background-size: adaptiv_px_size(19, 1920) adaptiv_px_size(19, 1920);
    }

    h2 {
        margin-bottom: var(--medium-gap);
        font: var(--h1);
    }

    &__template-s-plusikami {
        grid-column: 1/-1;
        margin-bottom: var(--medium-gap);

        @media (min-width: rem(640)) {
            grid-column: 3/11;
        }

        @media (min-width: rem(960)) {
            grid-column: 4/10;
        }
    }

    &__img-complekt {
        width: adaptiv_rem_size(300, 320, 610, 640);
        height: adaptiv_rem_size(245, 320, 505, 640);
        margin-left: auto;

        @media (min-width: rem(640)) {
            width: adaptiv_rem_size(610, 640, 1210, 1240);
            height: adaptiv_rem_size(505, 640, 780.645, 1240);
        }

        @media (min-width: rem(1240)) {
            width: adaptiv_rem_size(1210, 1240, 1550, 1920);
            height: adaptiv_rem_size(780.645, 1240, 1000, 1920);
        }

        @media (min-width: rem(1920)) {
            width: adaptiv_rem_size(1550, 1920);
            height: adaptiv_rem_size(1000, 1920);
        }

        .image {
            height: 100%;

            div {
                background-position-x: left;
            }
        }
    }
}
