<div class="detal-3 light-block">
  <div class="standart-container" data-showed-on-scroll>
    <h2>Галерея</h2>
  </div>
  <%- include('./../../blocks/slider-with-pop-up-standart-block-whidth/slider-with-pop-up-standart-block-whidth.ejs')%>
</div>