.detal-1-add-to-kit {
    padding-bottom: var(--medium-gap);

    h1 {
        grid-column: 1/-1;
        margin-bottom: var(--medium-gap);
    }

    &__img-wrap {
        grid-column: 1/-1;
        margin-bottom: rem(40);

        @media (min-width: rem(640)) {
            grid-column: 1/7;
            margin-bottom: 0;
        }

        &-title {
            font: var(--h2);

            @media (min-width: rem(640)) {
                display: none;
            }
        }
    }

    &__data {
        grid-column: 1/-1;

        @media (min-width: rem(640)) {
            grid-column: 7/-1;
        }

        @media (min-width: rem(960)) {
            grid-column: 8/12;
        }

        &-title {
            display: none;

            @media (min-width: rem(640)) {
                display: block;
                font: var(--h2);
                margin-bottom: rem(40);
            }

            @media (min-width: rem(1920)) {
                margin-bottom: adaptiv_px_size(40, 1920);
            }
        }

        &-add-to {
            display: flex;
            margin-bottom: rem(40);

            @media (min-width: rem(1920)) {
                margin-bottom: adaptiv_px_size(40, 1920);
            }

            &-checbox {
                margin-right: rem(35);

                @media (min-width: rem(1920)) {
                    margin-right: adaptiv_px_size(35, 1920);
                }
            }

            &-data {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;

                &-title {
                    width: 100%;

                    @media (min-width: rem(960)) {
                        width: auto;
                    }
                }

                &-price {
                    width: 100%;
                    color: var(--gray);
                    font: var(--small);

                    @media (min-width: rem(960)) {
                        width: auto;
                    }
                }
            }
        }

        &-price {
            font: var(--h1);
            margin-bottom: rem(20);

            @media (min-width: rem(1920)) {
                margin-bottom: adaptiv_px_size(40, 1920);
            }
        }
    }
}
