.detal-1-add-to-kit {
    padding-bottom: var(--medium-gap);

    h1 {
        margin-bottom: var(--medium-gap);
    }

    &__img-wrap {
        grid-column: 1/-1;
        margin-bottom: var(--40);

        @media (min-width: rem(640)) {
            grid-column: 1/7;
            margin-bottom: 0;
        }

        &-title {
            font: var(--h2);

            @media (min-width: rem(640)) {
                display: none;
            }
        }
    }

    &__data {
        grid-column: 1/-1;

        @media (min-width: rem(640)) {
            grid-column: 7/-1;
        }

        @media (min-width: rem(960)) {
            grid-column: 8/12;
        }

        &-title {
            display: none;

            @media (min-width: rem(640)) {
                display: block;
                font: var(--h2);
                margin-bottom: var(--40);
            }

            
        }

        &-add-to {
            display: flex;
            align-items: center;
            margin-bottom: var(--40);

           

            &-checbox {
                margin-right: var(--35);

                label:before{
                    background-color: var(--white);
                }
            }
        }

        &-price {
            font: var(--h1);
            margin-bottom: var(--small-gap);

            
        }
    }
}
