.pop-up-message {
    width: adaptiv_rem_size(280, 320, 580, 1920);
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--light);
    border: var(--border-width) solid var(--gray);
    border-radius: var(--border-radius);
    overflow: hidden auto;
    max-height: 70vh;
    scrollbar-gutter: stable;

    @media (min-width: rem(1920)) {
        width: var(--580);
    }

    &__content-wrap {
        padding: var(--5) adaptiv_rem_size(25, 320, 100, 1920) var(--60) adaptiv_rem_size(25, 320, 100, 1920);
        width: 100%;

        @media (min-width: rem(1920)) {
            padding: var(--5) var(--100) var(--60) var(--100);
        }
    }

    &__close-button {
        position: sticky;
        width: var(--50);
        height: var(--50);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--20);
        right: var(--5);
        top: var(--5);
        color: var(--black);
    }

    &__title {
        font: var(--h3);
        padding-bottom: var(--20);
        display: flex;

        [class^='icon--'] {
            padding-right: var(--10);
        }
    }

    &__text {
    }
}

.pop-up-message--fatal-error {
    .pop-up-message__content-wrap {
        padding: var(--60) adaptiv_rem_size(25, 320, 100, 1920);

        @media (min-width: rem(1920)) {
            padding: var(--60) var(--100);
        }
    }
    .icon--error {
        &:before {
            background-color: var(--error-color);
        }
    }
}

.pop-up-message--success {
    .icon--success {
        &:before {
            background-color: var(--success-color);
        }
    }
}

.pop-up-message--error {
    .icon--error {
        &:before {
            background-color: var(--error-color);
        }
    }
}

.pop-up-message--warning {
    .icon--warning {
        &:before {
            background-color: var(--error-color); //посатвит цвет от error так как цвет --warning вообще не видно
        }
    }
}

#pop-up-message-overlay {
    z-index: 998;
}
