//если скролбар разрешён к показу
[data-premission-show-scrollbar] {
    //в любом браузере резервируем место под скрол в блоках в которых он точно или скорее всего будет чтоб избежать дёргания макета
    .custom-scrollbar {
        scrollbar-gutter: stable; //зарезервирует место при owerfolov auto и scroll
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: var(--scroll-width);
        background-color: var(--gray-transparent);
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        border-radius: var(--border-radius);
        background-color: var(--black-disabled);
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: var(--black-hover);
    }
    //для сафари т.к. у него во всех браузерах не работает резервирование места
}
//если скролбар разрешён к показу

//в браузере фаерфокс меняем ширину и цвет скрола, а так же резервируем место под скролбар, только в случае если скролбар разрешён к показу
@supports (scrollbar-width: thin) {
    [data-premission-show-scrollbar],//это html элемент
    [data-premission-show-scrollbar] .custom-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: var(--black-disabled) transparent;
        scrollbar-gutter: stable;
    }
}
