.komplekt-4 {
    padding: var(--big-gap) 0;
    background-color: var(--light);
    display: flex;
    justify-content: center;

    h2 {
        margin-bottom: rem(40);
        grid-column: 1/-1;

        @media (min-width: rem(640)) {
            margin-bottom: adaptiv_px_size(40, 640, 60, 1920);
        }

        @media (min-width: rem(1920)) {
            margin-bottom: adaptiv_px_size(60, 1920);
        }
    }

    &__slider-wrap {
        grid-column: 1/-1;

        .swiper-slide{
            cursor: pointer;

            @media (any-hover: hover) {
                &:hover .icon--magnifying-glass{
                    opacity: 1;
                }
            }

            .icon--magnifying-glass{
                font-size: rem(18);
                color: var(--white);
                opacity: .2;
                position: absolute;
                top: var(--gap);
                right: var(--gap);

                @media (min-width: rem(1920)) {
                    font-size: adaptiv_px_size(18, 1920);
                }
            }
        }
    }

    &__control-buttons {
        color: var(--blue-transparent);
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-gap: rem(20);
        margin-top: var(--small-gap);
        align-items: start;

        @media (min-width: rem(640)) {
            grid-gap: adaptiv_rem_size(20, 640, 60, 1920);
        }

        @media (min-width: rem(1920)) {
            grid-gap: adaptiv_rem_size(60, 1920);
        }

        .icon--arrow-big {
            @media (any-hover: hover) {
                &:hover {
                    color: var(--blue-hover);
                }
            }
        }

        &-button-prev {
            transform: rotate(180deg);
        }
    }

    &__pop-up {
        width: var(--standart-container-width);
        max-height: 100vh;
        padding: rem(20) 0;
        opacity: 0;
        pointer-events: none;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        transition: opacity var(--standart-anim);

        @media (min-width: rem(1920)) {
            padding: adaptiv_rem_size(20, 1920) 0;
        }

        &-slider-wrap {
            width: 100%;

            .swiper {
                .text-data {
                    font: var(--small);
                    padding-top: rem(10);
                    width: 100%;

                    @media (min-width: rem(960)) {
                        font: var(--default);
                        padding-top: adaptiv_rem_size(10, 960, 20, 1920);
                    }

                    @media (min-width: rem(1920)) {
                        padding-top: adaptiv_rem_size(20, 1920);
                    }
                }
            }
        }

        &-close-button {
            position: absolute;
            z-index: 1;
            font-size: rem(30);

            @media (min-width: rem(1920)) {
                font-size: adaptiv_rem_size(30, 1920);
            }
        }

        &-close-button.right-version {
            top: var(--gap);
            right: calc(var(--gap) * -1);
            transform: translateX(100%);
        }

        &-close-button.top-version {
            top: 0;
            right: 0;
            transform: translateY(-100%);
        }

        &-close-button.inner-version {
            top: calc(var(--gap) + var(--gap-10));
            right: var(--gap-10);
        }

        &-control-buttons {
            position: absolute;
            width: 100%;
            z-index: 1;
            display: flex;
            justify-content: space-between;

            &-button-prev {
                transform: rotate(180deg);
            }
        }

        &-control-buttons.inner-arrows {
            button {
                width: var(--min-interactive-elements-width);
                height: var(--min-interactive-elements-height);
                border-radius: 50%;
                background-color: var(--black-disabled);
                color: var(--white-disabled);
                font-size: rem(15);
                margin: 0 var(--gap-10);

                @media (any-hover: hover) {
                    &:hover {
                        background-color: var(--black-hover);
                        color: var(--white-hover);
                    }
                }

                @media (min-width: rem(1920)) {
                    font-size: adaptiv_rem_size(15, 1920);
                }
            }
        }

        &-control-buttons.outer-arrows {
            button {
                padding-left: var(--gap);
                color: var(--blue-transparent);
                font-size: rem(20);

                @media (any-hover: hover) {
                    &:hover {
                        color: var(--blue-hover);
                    }
                }

                @media (min-width: rem(1920)) {
                    font-size: adaptiv_rem_size(20, 1920);
                }
            }

            .komplekt-4__pop-up-control-buttons-button-prev {
                transform: rotate(180deg) translateX(100%);
            }

            .komplekt-4__pop-up-control-buttons-button-next {
                transform: translateX(100%);
            }
        }
    }

    &__pop-up.overlay-version {
        .text-data {
            padding: rem(10) !important;
            position: absolute;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.75);

            @media (min-width: rem(1920)) {
                padding: adaptiv_rem_size(10, 1920) !important;
            }
        }
    }
}

#overlay-galery-pop-up {
    z-index: 11;
}
