<div class="vybrat-komplekt-1">
  <div class="standart-container" data-showed-on-scroll>
    <h1>Выбрать комплект</h1>
    <%- include('./../../blocks/selector-marka-model/selector-marka-model.ejs')%>
  </div>
</div>