<div class="vybrat-komplekt-1-selector">
  <div class="standart-container" data-showed-on-scroll>
    <h2>Выбрать комплект</h2>
    <div class="select-marka-model">
      <div class="marka-select-wrap" tabindex="0">
        <div class="select-title">Марка</div>
        <div class="select-arrow icon--arrow"></div>
        <div class="option-group custom-scrollbar">
          <div class="option-item" tabindex="0" data-all-marki-option-item="disabled">Все марки</div>
          <div class="option-item" tabindex="0">Geely</div>
          <div class="option-item" tabindex="0">Haval</div>
          <div class="option-item" tabindex="0">Hyundai</div>
          <div class="option-item" tabindex="0">Kia</div>
          <div class="option-item" tabindex="0">Geely</div>
          <div class="option-item" tabindex="0">Haval</div>
          <div class="option-item" tabindex="0">Hyundai</div>
          <div class="option-item" tabindex="0">Kia</div>
        </div>
      </div>
      <div class="model-select-wrap" data-disabled>
        <div class="select-title">Модель</div>
        <div class="select-arrow icon--arrow"></div>      
        <div class="option-group custom-scrollbar" data-marka="Geely">
          <div class="option-item" tabindex="0">Geely model 1</div>
          <div class="option-item" tabindex="0">Geely model 2</div>
          <div class="option-item" tabindex="0">Geely model 3</div>
        </div>
        <div class="option-group custom-scrollbar" data-marka="Haval">
          <div class="option-item" tabindex="0">Haval model 1</div>
          <div class="option-item" tabindex="0">Haval model 2</div>
          <div class="option-item" tabindex="0">Haval model 3</div>
        </div>
        <div class="option-group custom-scrollbar" data-marka="Hyundai">
          <div class="option-item" tabindex="0">Hyundai model 1</div>
          <div class="option-item" tabindex="0">Hyundai model 2</div>
          <div class="option-item" tabindex="0">Hyundai model 3</div>
        </div>
        <div class="option-group custom-scrollbar" data-marka="Kia">
          <div class="option-item" tabindex="0">Kia model 1</div>
          <div class="option-item" tabindex="0">Kia model 2</div>
          <div class="option-item" tabindex="0">Kia model 3</div>
        </div>
      </div>
    </div>
  </div>
</div>